In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('input/2012/rb/weekly_stats.csv')

In [3]:
df.head()

,Unnamed: 0,Rank,Name,Team,Position,Week,Opponent,RushingAttempts,RushingYards,RushingYardsPerAttempt,RushingTouchdowns,ReceivingTargets,Receptions,ReceivingYards,ReceivingTouchdowns,Fumbles,FumblesLost,FantasyPointsPerGameDraftKings,FantasyPointsDraftKings
0,0,1,CJ Spiller,BUF,RB,1,NYJ,14,169,12.1,1,3,2,25,0,1,1,29.4,29.4
1,1,1,Alfred Morris,WAS,RB,1,NO,28,96,3.4,2,0,0,0,0,0,0,21.6,21.6
2,2,1,Ray Rice,BAL,RB,1,CIN,10,68,6.8,2,4,3,25,0,0,0,24.3,24.3
3,3,1,Stevan Ridley,NE,RB,1,TEN,21,125,6.0,1,3,2,27,0,0,0,26.2,26.2
4,4,1,Kevin Smith,DET,RB,1,LAR,13,62,4.8,1,6,4,29,1,0,0,25.1,25.1

In [4]:
df.drop(['Unnamed: 0','Rank', 'FantasyPointsPerGameDraftKings'], axis=1, inplace=True)

In [24]:
df=df.rename(columns={'FantasyPointsDraftKings':'points'}

In [25]:
y.head()

0    29.4
1    21.6
2    24.3
3    26.2
4    25.1
Name: points, dtype: float64

In [28]:
rb = (player for player in df['Name'].unique())

In [29]:
team_stats = df.groupby(['Name','Week','Opponent']).sum()

In [27]:
y=team_stats['points']
team_stats.drop('points', axis=1,inplace=True)

In [30]:
# Define a dataframe to contain the current year averages of all 2012 QBs
def create_current_dataframe(df):
    columns = []
    for col in df.columns:
        columns.append('avg_{}'.format(col.lower()))
    new_df = pd.DataFrame(columns=columns, index =df.index)
    return new_df

In [31]:
rb_weekly_2012= create_current_dataframe(team_stats)

In [32]:
# Populate current dataframe with current year averages of players
# DO NOT CHANGE!!!!!!
for col in team_stats:  # Iterate through every attribute in the team_stats dataframe
    points=[]  # Create an empty list to hold the season average of the current attribute
    for player in team_stats.index.levels[0]:  # Iterate through every player in the team_stats df
        total =[] # create an empty list to hold the weekly attributes value
        for week in team_stats.loc[player].index: # Iterate throough every week for the current player
            total.append(team_stats.loc[player].loc[week][col]) # Add player's value for the current week's attribute to the total list
            points.append(np.mean(total))  # Add the average of the total list to the season average list
    rb_weekly_2012['avg_{}'.format(col.lower())] = points # Insert season average list for current attribute into the current stats dataframe

In [33]:
rb_weekly_2012['season']=2012

In [34]:
def_rush_rank = {'SEA': 1,
                'SF': 2,
                'CHI': 3,
                'DEN': 4,
                 'ATL': 5,
                 'PIT': 6,
                 'MIA':7,
                 'CIN': 8,
                 'NE': 9,
                 'HOU': 10,
                 'GB': 11,
                 'BAL': 12,
                 'NYG': 13,
                 'LAR':14,
                 'MIN': 15,
                 'LAC': 16,
                 'ARI': 17,
                 'CAR': 18,
                 'CLE': 19,
                 'NYJ': 20,
                 'IND': 21,
                 'WAS': 22,
                 'TB': 23,
                 'DAL':24,
                 'KC': 25,
                 'BUF': 26,
                 'DET': 27,
                 'OAK': 28,
                 'JAX': 29,
                 'PHI':30,
                 'NO':31,
                 'TEN': 32
                }

def_pass_rank = {'SEA': 6,
                'SF': 4,
                'CHI': 8,
                'DEN': 3,
                 'ATL': 23,
                 'PIT': 1,
                 'MIA':27,
                 'CIN': 7,
                 'NE': 29,
                 'HOU': 16,
                 'GB': 11,
                 'BAL': 17,
                 'NYG': 28,
                 'LAR':15,
                 'MIN': 24,
                 'LAC': 18,
                 'ARI': 5,
                 'CAR': 13,
                 'CLE': 25,
                 'NYJ': 2,
                 'IND': 21,
                 'WAS': 30,
                 'TB': 32,
                 'DAL':19,
                 'KC': 12,
                 'BUF': 10,
                 'DET': 14,
                 'OAK': 20,
                 'JAX': 22,
                 'PHI':9,
                 'NO':31,
                 'TEN': 26
                }

In [35]:
defense = []
for name in rb_weekly_2012.index.levels[0]:
    for row in rb_weekly_2012.loc[name].index:
        defense.append(row[1])
rb_weekly_2012['Opponent']=defense

rb_weekly_2012['def_ru_rk'] = list(map(lambda x: def_rush_rank[x], rb_weekly_2012['Opponent']))
rb_weekly_2012['def_pass_rk'] = list(map(lambda x: def_pass_rank[x], rb_weekly_2012['Opponent']))

In [36]:
defense = []
for name in rb_weekly_2012.index.levels[0]:
    for row in rb_weekly_2012.loc[name].index:
        defense.append(row[0])
rb_weekly_2012['Week']=defense

In [37]:
for idx, week in enumerate(rb_weekly_2012.Week):
    if week == 1:
        rb_weekly_2012.iloc[idx] = 0

In [40]:
rb_weekly_2012[0:100]

                               avg_rushingattempts  avg_rushingyards  \
Name            Week Opponent
Adrian Peterson 1    JAX                  0.000000          0.000000
                2    IND                 16.500000         72.000000
                3    SF                  19.333333         76.666667
                4    DET                 19.750000         83.000000
                5    TEN                 19.200000         84.000000
                6    WAS                 18.833333         83.166667
                7    ARI                 19.428571         93.142857
                8    TB                  18.875000         96.875000
                9    SEA                 18.666667        106.333333
                10   DET                 19.500000        112.800000
                12   CHI                 19.363636        112.363636
                13   GB                  19.500000        120.500000
                14   CHI                 20.384615        123.076923
                15   LAR                 20.642857        129.428571
                16   HOU                 20.933333        126.533333
                17   GB                  21.750000        131.062500
Ahmad Bradshaw  1    DAL                  0.000000          0.000000
                2    TB                  11.000000         47.000000
                4    PHI                 11.666667         44.333333
                5    CLE                 16.250000         83.250000
                6    SF                  18.400000         89.800000
                7    WAS                 17.333333         82.000000
                8    DAL                 18.000000         81.428571
                9    PIT                 17.625000         77.250000
                10   CIN                 16.777778         75.000000
                12   GB                  16.100000         73.300000
                13   WAS                 16.818182         76.000000
                14   NO                  16.333333         72.416667
                16   BAL                 15.769231         69.846154
                17   PHI                 15.785714         72.500000
...                                            ...               ...
Andre Brown     2    TB                   6.500000         35.500000
                3    CAR                 11.000000         61.333333
                4    PHI                  9.500000         49.500000
                5    CLE                  7.600000         39.600000
                7    WAS                  7.166667         35.833333
                8    DAL                  6.571429         33.714286
                9    PIT                  6.625000         32.000000
                10   CIN                  6.666667         35.666667
                12   GB                   7.300000         38.500000
Anthony Allen   1    CIN                  0.000000          0.000000
                2    PHI                  2.000000          6.500000
                3    NE                   1.333333          4.333333
                4    CLE                  1.000000          3.250000
                5    KC                   1.000000          2.600000
                6    DAL                  0.833333          2.166667
                7    HOU                  0.714286          1.857143
                9    CLE                  0.625000          1.625000
                10   OAK                  0.555556          1.444444
                11   PIT                  0.500000          1.300000
                12   LAC                  0.454545          1.181818
                13   PIT                  0.416667          1.083333
                14   WAS                  0.384615          1.000000
                15   DEN                  0.357143          0.928571
                16   NYG                  0.400000          1.333333
                17   CIN                  1.000000          3.812500
Anthony Dixon   1    GB                   0.000000          0.000000
                2    DET                  0.000000          0.000000
                3    MIN                  0.000000          0.000000
                4    NYJ                  1.000000          4.000000
                5    BUF                  1.600000          7.400000

                               avg_rushingyardsperattempt  \
Name            Week Opponent
Adrian Peterson 1    JAX                         0.000000
                2    IND                         4.350000
                3    SF                          4.033333
                4    DET                         4.250000
                5    TEN                         4.440000
                6    WAS                         4.466667
                7    ARI                         4.785714
                8    TB                          5.212500
                9    SEA                         5.822222
                10   DET                         5.870000
                12   CHI                         5.881818
                13   GB                          6.225000
                14   CHI                         6.130769
                15   LAR                         6.321429
                16   HOU                         6.126667
                17   GB                          6.112500
Ahmad Bradshaw  1    DAL                         0.000000
                2    TB                          3.900000
                4    PHI                         3.600000
                5    CLE                         4.375000
                6    SF                          4.360000
                7    WAS                         4.233333
                8    DAL                         4.128571
                9    PIT                         4.012500
                10   CIN                         4.200000
                12   GB                          4.360000
                13   WAS                         4.354545
                14   NO                          4.241667
                16   BAL                         4.246154
                17   PHI                         4.421429
...                                                   ...
Andre Brown     2    TB                          2.750000
                3    CAR                         3.700000
                4    PHI                         3.475000
                5    CLE                         2.780000
                7    WAS                         2.883333
                8    DAL                         3.471429
                9    PIT                         3.400000
                10   CIN                         4.055556
                12   GB                          4.140000
Anthony Allen   1    CIN                         0.000000
                2    PHI                         1.600000
                3    NE                          1.066667
                4    CLE                         0.800000
                5    KC                          0.640000
                6    DAL                         0.533333
                7    HOU                         0.457143
                9    CLE                         0.400000
                10   OAK                         0.355556
                11   PIT                         0.320000
                12   LAC                         0.290909
                13   PIT                         0.266667
                14   WAS                         0.246154
                15   DEN                         0.228571
                16   NYG                         0.680000
                17   CIN                         0.893750
Anthony Dixon   1    GB                          0.000000
                2    DET                         0.000000
                3    MIN                         0.000000
                4    NYJ                         1.000000
                5    BUF                         1.840000

                               avg_rushingtouchdowns  avg_receivingtargets  \
Name            Week Opponent
Adrian Peterson 1    JAX                    0.000000              0.000000
                2    IND                    1.000000              2.000000
                3    SF                     0.666667              2.666667
                4    DET                    0.500000              3.000000
                5    TEN                    0.400000              3.000000
                6    WAS                    0.333333              3.833333
                7    ARI                    0.428571              3.857143
                8    TB                     0.500000              3.500000
                9    SEA                    0.666667              3.555556
                10   DET                    0.700000              3.600000
                12   CHI                    0.636364              3.909091
                13   GB                     0.666667              3.750000
                14   CHI                    0.769231              3.615385
                15   LAR                    0.785714              3.357143
                16   HOU                    0.733333              3.266667
                17   GB                     0.750000              3.187500
Ahmad Bradshaw  1    DAL                    0.000000              0.000000
                2    TB                     0.500000              1.000000
                4    PHI                    0.333333              2.000000
                5    CLE                    0.500000              3.000000
                6    SF                     0.600000              2.600000
                7    WAS                    0.666667              3.000000
                8    DAL                    0.571429              2.571429
                9    PIT                    0.500000              2.250000
                10   CIN                    0.444444              2.444444
                12   GB                     0.500000              2.500000
                13   WAS                    0.454545              2.454545
                14   NO                     0.416667              2.333333
                16   BAL                    0.384615              2.230769
                17   PHI                    0.428571              2.214286
...                                              ...                   ...
Andre Brown     2    TB                     0.500000              1.000000
                3    CAR                    1.000000              2.333333
                4    PHI                    0.750000              2.000000
                5    CLE                    0.600000              1.600000
                7    WAS                    0.666667              1.500000
                8    DAL                    0.714286              1.571429
                9    PIT                    0.750000              1.375000
                10   CIN                    0.777778              1.888889
                12   GB                     0.800000              1.700000
Anthony Allen   1    CIN                    0.000000              0.000000
                2    PHI                    0.000000              0.000000
                3    NE                     0.000000              0.000000
                4    CLE                    0.000000              0.000000
                5    KC                     0.000000              0.000000
                6    DAL                    0.000000              0.000000
                7    HOU                    0.000000              0.000000
                9    CLE                    0.000000              0.000000
                10   OAK                    0.000000              0.111111
                11   PIT                    0.000000              0.100000
                12   LAC                    0.000000              0.090909
                13   PIT                    0.000000              0.083333
                14   WAS                    0.000000              0.076923
                15   DEN                    0.000000              0.142857
                16   NYG                    0.000000              0.200000
                17   CIN                    0.062500              0.250000
Anthony Dixon   1    GB                     0.000000              0.000000
                2    DET                    0.000000              0.000000
                3    MIN                    0.000000              0.000000
                4    NYJ                    0.000000              0.000000
                5    BUF                    0.200000              0.000000

                               avg_receptions  avg_receivingyards  \
Name            Week Opponent
Adrian Peterson 1    JAX             0.000000            0.000000
                2    IND             2.000000           11.500000
                3    SF              2.000000           14.666667
                4    DET             2.500000           16.000000
                5    TEN             2.600000           15.800000
                6    WAS             3.333333           21.500000
                7    ARI             3.142857           19.285714
                8    TB              2.875000           17.375000
                9    SEA             2.888889           16.666667
                10   DET             2.900000           15.500000
                12   CHI             3.181818           16.818182
                13   GB              3.000000           16.250000
                14   CHI             2.923077           16.230769
                15   LAR             2.714286           15.071429
                16   HOU             2.600000           14.333333
                17   GB              2.500000           13.562500
Ahmad Bradshaw  1    DAL             0.000000            0.000000
                2    TB              1.000000            7.500000
                4    PHI             1.666667           17.666667
                5    CLE             2.250000           20.500000
                6    SF              2.000000           17.200000
                7    WAS             2.333333           18.000000
                8    DAL             2.000000           15.428571
                9    PIT             1.750000           13.500000
                10   CIN             1.888889           13.555556
                12   GB              1.900000           18.300000
                13   WAS             1.909091           17.818182
                14   NO              1.750000           16.333333
                16   BAL             1.692308           15.692308
                17   PHI             1.642857           17.500000
...                                       ...                 ...
Andre Brown     2    TB              1.000000            9.500000
                3    CAR             1.666667           12.000000
                4    PHI             1.500000           10.000000
                5    CLE             1.200000            8.000000
                7    WAS             1.166667            9.500000
                8    DAL             1.000000            8.142857
                9    PIT             0.875000            7.125000
                10   CIN             1.333333            9.555556
                12   GB              1.200000            8.600000
Anthony Allen   1    CIN             0.000000            0.000000
                2    PHI             0.000000            0.000000
                3    NE              0.000000            0.000000
                4    CLE             0.000000            0.000000
                5    KC              0.000000            0.000000
                6    DAL             0.000000            0.000000
                7    HOU             0.000000            0.000000
                9    CLE             0.000000            0.000000
                10   OAK             0.000000            0.000000
                11   PIT             0.000000            0.000000
                12   LAC             0.000000            0.000000
                13   PIT             0.000000            0.000000
                14   WAS             0.000000            0.000000
                15   DEN             0.000000            0.000000
                16   NYG             0.066667            0.333333
                17   CIN             0.125000            0.750000
Anthony Dixon   1    GB              0.000000            0.000000
                2    DET             0.000000            0.000000
                3    MIN             0.000000            0.000000
                4    NYJ             0.000000            0.000000
                5    BUF             0.000000            0.000000

                               avg_receivingtouchdowns  avg_fumbles  \
Name            Week Opponent
Adrian Peterson 1    JAX                        0.0000     0.000000
                2    IND                        0.0000     0.000000
                3    SF                         0.0000     0.333333
                4    DET                        0.0000     0.250000
                5    TEN                        0.0000     0.200000
                6    WAS                        0.0000     0.166667
                7    ARI                        0.0000     0.142857
                8    TB                         0.0000     0.250000
                9    SEA                        0.0000     0.222222
                10   DET                        0.0000     0.200000
                12   CHI                        0.0000     0.272727
                13   GB                         0.0000     0.250000
                14   CHI                        0.0000     0.307692
                15   LAR                        0.0000     0.285714
                16   HOU                        0.0000     0.266667
                17   GB                         0.0625     0.250000
Ahmad Bradshaw  1    DAL                        0.0000     0.000000
                2    TB                         0.0000     0.000000
                4    PHI                        0.0000     0.000000
                5    CLE                        0.0000     0.250000
                6    SF                         0.0000     0.200000
                7    WAS                        0.0000     0.166667
                8    DAL                        0.0000     0.285714
                9    PIT                        0.0000     0.250000
                10   CIN                        0.0000     0.333333
                12   GB                         0.0000     0.300000
                13   WAS                        0.0000     0.272727
                14   NO                         0.0000     0.250000
                16   BAL                        0.0000     0.230769
                17   PHI                        0.0000     0.214286
...                                                ...          ...
Andre Brown     2    TB                         0.0000     0.000000
                3    CAR                        0.0000     0.000000
                4    PHI                        0.0000     0.000000
                5    CLE                        0.0000     0.000000
                7    WAS                        0.0000     0.000000
                8    DAL                        0.0000     0.000000
                9    PIT                        0.0000     0.000000
                10   CIN                        0.0000     0.000000
                12   GB                         0.0000     0.000000
Anthony Allen   1    CIN                        0.0000     0.000000
                2    PHI                        0.0000     0.000000
                3    NE                         0.0000     0.000000
                4    CLE                        0.0000     0.000000
                5    KC                         0.0000     0.000000
                6    DAL                        0.0000     0.000000

In [45]:
rb_weekly_2012['points'] = list(y)

In [46]:
rb_weekly_2012.head()

                               avg_rushingattempts  avg_rushingyards  \
Name            Week Opponent
Adrian Peterson 1    JAX                  0.000000          0.000000
                2    IND                 16.500000         72.000000
                3    SF                  19.333333         76.666667
                4    DET                 19.750000         83.000000
                5    TEN                 19.200000         84.000000

                               avg_rushingyardsperattempt  \
Name            Week Opponent
Adrian Peterson 1    JAX                         0.000000
                2    IND                         4.350000
                3    SF                          4.033333
                4    DET                         4.250000
                5    TEN                         4.440000

                               avg_rushingtouchdowns  avg_receivingtargets  \
Name            Week Opponent
Adrian Peterson 1    JAX                    0.000000              0.000000
                2    IND                    1.000000              2.000000
                3    SF                     0.666667              2.666667
                4    DET                    0.500000              3.000000
                5    TEN                    0.400000              3.000000

                               avg_receptions  avg_receivingyards  \
Name            Week Opponent
Adrian Peterson 1    JAX                  0.0            0.000000
                2    IND                  2.0           11.500000
                3    SF                   2.0           14.666667
                4    DET                  2.5           16.000000
                5    TEN                  2.6           15.800000

                               avg_receivingtouchdowns  avg_fumbles  \
Name            Week Opponent
Adrian Peterson 1    JAX                           0.0     0.000000
                2    IND                           0.0     0.000000
                3    SF                            0.0     0.333333
                4    DET                           0.0     0.250000
                5    TEN                           0.0     0.200000

                               avg_fumbleslost  season Opponent  def_ru_rk  \
Name            Week Opponent
Adrian Peterson 1    JAX                   0.0       0        0          0
                2    IND                   0.0    2012      IND         21
                3    SF                    0.0    2012       SF          2
                4    DET                   0.0    2012      DET         27
                5    TEN                   0.0    2012      TEN         32

                               def_pass_rk  Week  points
Name            Week Opponent
Adrian Peterson 1    JAX                 0     0    29.4
                2    IND                21     2    21.6
                3    SF                  4     3    24.3
                4    DET                14     4    26.2
                5    TEN                26     5    25.1

In [47]:
rb_weekly_2012.to_csv('input/2012/rb/rb_2012_weekly.csv', index = True)

In [28]:
qb_current_2012['score'] = team_stats['points']

In [30]:
qb_current_2012.head()

                        avg_comp    avg_att  avg_pct     avg_yds  avg_yds/att  \
Player        Week Opp
Aaron Rodgers 1    SF       0.00   0.000000      0.0    0.000000     0.000000
              2    CHI     26.00  38.000000     68.5  261.000000     7.000000
              3    SEA     26.00  38.333333     68.0  248.333333     6.666667
              4    NO      27.25  39.000000     70.0  266.000000     7.000000
              5    IND     25.80  37.600000     68.6  259.800000     7.000000

                        avg_td   avg_int  avg_qb rating  avg_rush_att  \
Player        Week Opp
Aaron Rodgers 1    SF     0.00  0.000000       0.000000      0.000000
              2    CHI    1.50  1.000000      89.000000      4.000000
              3    SEA    1.00  0.666667      86.333333      3.333333
              4    NO     1.75  0.750000      94.750000      3.750000
              5    IND    2.00  0.800000      96.400000      4.000000

                        avg_rush_yds  avg_rush_yd/att  avg_rush_td  \
Player        Week Opp
Aaron Rodgers 1    SF       0.000000             0.00          0.0
              2    CHI     10.500000             1.50          0.0
              3    SEA     12.666667             4.00          0.0
              4    NO      12.750000             3.75          0.0
              5    IND     21.600000             5.20          0.0

                        avg_points  season  def_ru_rk  def_pass_rk  week  \
Player        Week Opp
Aaron Rodgers 1    SF     0.000000       0          0            0     0
              2    CHI   16.490000    2012          3            8     2
              3    SEA   14.533333    2012          1            6     3
              4    NO    17.915000    2012         31           31     4
              5    IND   19.352000    2012         21           21     5

                        score
Player        Week Opp
Aaron Rodgers 1    SF   22.82
              2    CHI  10.16
              3    SEA  10.62
              4    NO   28.06
              5    IND  25.10