##  CAREER STATS

### This program is designed to create a single dataframe compiled of the carrer stats of every NFL skill position player that competed in the 2012 season. The program has two parts, the first is to create a dataframe comprised of the career stats of the 2012 qbs through the 2011 season. The next step is too use the carrer stats as the initial state of a player's moving average for all relevant characteristics from the 2012 through the 2017 NFL seasons

In [2]:
# Import packages
import pandas as pd
import numpy as np

In [3]:
df= pd.read_csv('input/2012/rb/weekly_stats.csv')
df.drop(['Unnamed: 0','Rank', 'FantasyPointsPerGameDraftKings'], axis=1, inplace=True)
df=df.rename(columns={'FantasyPointsDraftKings':'points'})

team_stats = df.groupby(['Name','Week','Opponent']).sum()
team_stats.head(), team_stats.shape

(                               RushingAttempts  RushingYards  \
 Name            Week Opponent
 Adrian Peterson 1    JAX                    17            84
                 2    IND                    16            60
                 3    SF                     25            86
                 4    DET                    21           102
                 5    TEN                    17            88

                                RushingYardsPerAttempt  RushingTouchdowns  \
 Name            Week Opponent
 Adrian Peterson 1    JAX                          4.9                  2
                 2    IND                          3.8                  0
                 3    SF                           3.4                  0
                 4    DET                          4.9                  0
                 5    TEN                          5.2                  0

                                ReceivingTargets  Receptions  ReceivingYards  \
 Name            Week Opponent
 Adrian Peterson 1    JAX                      1           1               3
                 2    IND                      3           3              20
                 3    SF                       4           2              21
                 4    DET                      4           4              20
                 5    TEN                      3           3              15

                                ReceivingTouchdowns  Fumbles  FumblesLost  \
 Name            Week Opponent
 Adrian Peterson 1    JAX                         0        0            0
                 2    IND                         0        0            0
                 3    SF                          0        1            0
                 4    DET                         0        0            0
                 5    TEN                         0        0            0

                                points
 Name            Week Opponent
 Adrian Peterson 1    JAX         21.7
                 2    IND         11.0
                 3    SF          12.7
                 4    DET         19.2
                 5    TEN         13.3  , (2083, 11))

In [6]:
team_stats.drop('points',axis = 1, inplace=True)

In [355]:
# Read in career data of NFL player stats
rushing = pd.read_csv('input/2012/qb/Career_Stats_Rushing-Copy1.csv')
passing= pd.read_csv('input/2012/qb/Career_Stats_Passing-Copy1.csv')
receiving = pd.read_csv('input/2012/qb/Career_Stats_Receiving-Copy1.csv')

In [356]:
""" A Function designed to parse career NFL data into useable form for implemntation into qb_career_stats dataframe"""



def parse_nfl_stats(df):
    df = df.drop('Player Id', axis=1) # Drop player id from dataframe
    df['Name'] = df['Name'].apply(lambda x: x.split(','))# Split name attribute of every observation by the comma 
    df['Name'] = (df['Name'].apply(lambda x: (x[1] + ' ' + x[0]).strip())) # reverse the name to match carrer_stats dataframe
    df.reset_index(inplace=True)
    df.drop('index', axis=1, inplace=True)
    df.rename(columns=lambda x: x.strip())
    return df

receiving = parse_nfl_stats(receiving)
rushing = parse_nfl_stats(rushing)
passing = parse_nfl_stats(passing)

In [357]:
rushing.rename(columns=lambda x: x.strip(), inplace =True)
passing.rename(columns=lambda x: x.strip(), inplace =True)
receiving.rename(columns=lambda x: x.strip(), inplace =True)

In [358]:
drop_rush = ['Rushing Attempts Per Game','Yards Per Carry','Rushing Yards Per Game','Longest Rushing Run',
             'Rushing First Downs','Percentage of Rushing First Downs',
             'Rushing More Than 20 Yards','Rushing More Than 40 Yards']
rushing.drop(drop_rush, axis=1, inplace=True)

In [359]:
drop_pass = ['Passing Yards Per Attempt', 'Completion Percentage','Percentage of TDs per Attempts', 'Pass Attempts Per Game','Passing Yards Per Game','Int Rate','Longest Pass',
       'Passes Longer than 20 Yards', 'Passes Longer than 40 Yards', 'Sacks',
       'Sacked Yards Lost','Passer Rating' ]
passing.drop(drop_pass, axis=1, inplace=True)

In [360]:
drop_rec = ['Yards Per Game','Yards Per Reception','Longest Reception',
                    'Receptions Longer than 20 Yards','Receptions Longer than 40 Yards','First Down Receptions']
receiving.drop(drop_rec, axis =1, inplace=True)

In [361]:
"""A function designed to change data type of every integer attribute to float 32. Neccessary for groupby function"""

def float_32(df):
    strings = ['Name','Position','Team'] # Define columns to be unchanged
    temp = df[strings]  # store string variables in temporary dataframe
    df = df.drop(strings, axis =1) # drop string variables from original dataframe
    df = df.apply(lambda x: pd.to_numeric(x.astype(str).str.replace(',',''), errors='coerce')).astype('float32') # command to repalce all commas in integers so column dtypes can be changed
    df = pd.merge(temp, df, how='outer', left_index=True, right_index=True) # Merge temp df and altered df
    df = df[df['Year'] > 1999]
    df = df[df['Year']< 2012]
    df.reset_index(inplace=True)
    df.drop('index', axis =1 , inplace=True)

    return df

rushing = float_32(rushing)
receiving = float_32(receiving)
passing = float_32(passing)

In [362]:
passing.head()

,Name,Position,Team,Year,Games Played,Passes Attempted,Passes Completed,Passing Yards,TD Passes,Ints
0,Tommy Maddox,NaN,Pittsburgh Steelers,2005.0,4.0,71.0,34.0,406.0,2.0,4.0
1,Tommy Maddox,NaN,Pittsburgh Steelers,2004.0,4.0,60.0,30.0,329.0,1.0,2.0
2,Tommy Maddox,NaN,Pittsburgh Steelers,2003.0,16.0,519.0,298.0,3414.0,18.0,17.0
3,Tommy Maddox,NaN,Pittsburgh Steelers,2002.0,15.0,377.0,234.0,2836.0,20.0,16.0
4,Tommy Maddox,NaN,Pittsburgh Steelers,2001.0,3.0,9.0,7.0,154.0,1.0,1.0

In [586]:
# Concatenate the raw qb stats for a complete statistical dataframe for the QB's in the 2012 season

raw_qb_2012 = pd.concat([df1,df], axis=0)
raw_qb_2012 = pd.concat([raw_qb_2012, df3], axis=0)
raw_qb_2012.drop('Rk', axis =1, inplace = True)
raw_qb_2012.shape

(629, 18)

In [617]:
for idx in raw_qb_2012.index:
    if raw_qb_2012.iloc[idx]['Player'] in raw_qb_2012['Player'].unique():
        raw_qb_2012['Games Played'] = raw_qb_2012['Player'].map(lambda x: career_qb.loc[x]['Games Played'] + 1)
        players[players != player]
    else:
        raw_qb_2012['Games Played'] = raw_qb_2012['Games Played'] +1

IndexError: list index out of range

In [604]:
raw_qb_2012[raw_qb_2012['Player']=='Aaron Rodgers']['Games Played']

3      699.0
64     699.0
96     699.0
116    699.0
154    699.0
188    699.0
223    699.0
267    699.0
1      699.0
81     699.0
126    699.0
158    699.0
192    699.0
224    699.0
260    699.0
1      699.0
Name: Games Played, dtype: float64

In [585]:
career_qb.head()

,Games Played,Passes Attempted,Passes Completed,Passing Yards,TD Passes,Ints,Rushing Attempts,Rushing Yards,Rushing TDs,Fumbles
Name,,,,,,,,,,
Aaron Rodgers,69.0,2113.0,1381.0,17366.0,132.0,38.0,249.0,1183.0,16.0,8.0
Alex Smith,70.0,1959.0,1137.0,12543.0,68.0,58.0,181.0,629.0,4.0,8.0
Andy Dalton,16.0,516.0,300.0,3398.0,20.0,13.0,37.0,152.0,1.0,1.0
Ben Roethlisberger,114.0,3313.0,2090.0,26579.0,165.0,100.0,293.0,944.0,14.0,16.0
Blaine Gabbert,15.0,413.0,210.0,2214.0,12.0,11.0,48.0,98.0,0.0,8.0

In [559]:
raw_qb_2012.drop('index', axis =1, inplace =True)

In [540]:
qb  = raw_qb_2012['Player'].unique()

In [597]:
raw_qb_2012[raw_qb_2012['Player']=='Aaron Rodgers']

,Player,Pos,Week,Team,Opp,Comp,Att,Pct,Yds,Yds/Att,TD,Int,QB Rating,Att.1,Yds.1,Yds/Att.1,TD.1,Fantasy Points,Games Played
3,Aaron Rodgers,QB,1,GB,SF,30,44,68,303,7,2,1,93,5,27,5,0,22.82,70.0
64,Aaron Rodgers,QB,2,GB,CHI,22,32,69,219,7,1,1,85,3,-6,-2,0,10.16,70.0
96,Aaron Rodgers,QB,3,GB,SEA,26,39,67,223,6,0,0,81,2,17,9,0,10.62,70.0
116,Aaron Rodgers,QB,4,GB,NO,31,41,76,319,8,4,1,120,5,13,3,0,28.06,70.0
154,Aaron Rodgers,QB,5,GB,IND,20,32,63,235,7,3,1,103,5,57,11,0,25.10,70.0
188,Aaron Rodgers,QB,6,GB,HOU,24,37,65,338,9,6,0,134,2,17,9,0,39.22,70.0
223,Aaron Rodgers,QB,7,GB,LAR,30,37,81,342,9,3,0,132,2,0,0,0,25.68,70.0
267,Aaron Rodgers,QB,8,GB,JAX,22,35,63,186,5,2,0,96,3,4,1,0,13.84,70.0
1,Aaron Rodgers,QB,9,GB,ARI,14,30,47,218,7,4,1,97,8,33,4,0,26.02,70.0
81,Aaron Rodgers,QB,11,GB,DET,19,27,70,236,9,2,1,106,1,3,3,0,15.74,70.0
126,Aaron Rodgers,QB,12,GB,NYG,14,25,56,219,9,1,1,82,3,22,7,0,10.96,70.0
158,Aaron Rodgers,QB,13,GB,MIN,27,35,77,286,8,1,1,98,4,15,4,0,14.94,70.0
192,Aaron Rodgers,QB,14,GB,DET,14,24,58,173,7,0,0,81,3,32,11,1,14.12,70.0
224,Aaron Rodgers,QB,15,GB,CHI,23,36,64,291,8,3,0,117,4,14,4,0,25.94,70.0
260,Aaron Rodgers,QB,16,GB,TEN,27,38,71,342,9,3,0,125,4,11,3,1,32.78,70.0
1,Aaron Rodgers,QB,17,GB,MIN,28,40,70,365,9,4,0,132,0,0,0,0,28.60,70.0

In [544]:
for player in raw_qb_2012['Player']:
    for col in raw_qb_2012[raw_qb_2012['Player']==player].columns:
        if raw_qb_2012[raw_qb_2012['Player']==player][col].dtypes != 'object':
            np.mean(raw_qb_2012[raw_qb_2012['Player']==player][col])

In [417]:
career_qb[career_qb.index == 'Matt Ryan']['Games Played']

Name
Matt Ryan    62.0
Name: Games Played, dtype: float64

In [391]:
df['Games_Played'] = career_qb['Games Played'] + 1

In [295]:
players = raw_qb_2012['Player'].unique() # Define the all the QB's for the 2012 NFL Season

In [363]:
"""The career dataset being used has no value for the position attribute. 
This function defines which players in the career dataset are quarterbacks by matching the palyers inmy quarterbacks
2012 dataset with the players in my career dataset"""

indices = []
for idx,name in enumerate(passing['Name']):
    if name not in players:
        indices.append(idx)

passing.drop(indices, inplace = True)
passing['Position'] = 'QB'
passing.reset_index(inplace=True,drop=True)

In [364]:
# A temporary dataframe used to store qb rushing career rushing stats
indices = []
for idx,name in enumerate(rushing['Name']):
    if name in players:
        indices.append(idx)

In [366]:
temp = rushing.iloc[indices]

temp['Position'] = 'QB'
temp.fillna(0, inplace=True)
temp.reset_index(inplace=True, drop=True)

C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\pandas\core\frame.py:2754: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [367]:
# Merge two dataframes to get all passing and rushing statistics for the complete career stats of the qb's in the 2012 season

qb = pd.merge(passing, temp, how='outer')
qb.head()

,Name,Position,Team,Year,Games Played,Passes Attempted,Passes Completed,Passing Yards,TD Passes,Ints,Rushing Attempts,Rushing Yards,Rushing TDs,Fumbles
0,Charlie Batch,QB,Pittsburgh Steelers,2011.0,4.0,24.0,15.0,208.0,0.0,1.0,3.0,-2.0,0.0,0.0
1,Charlie Batch,QB,Pittsburgh Steelers,2010.0,3.0,49.0,29.0,352.0,3.0,3.0,7.0,30.0,0.0,2.0
2,Charlie Batch,QB,Pittsburgh Steelers,2009.0,1.0,2.0,1.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Charlie Batch,QB,Pittsburgh Steelers,2007.0,7.0,36.0,17.0,232.0,2.0,3.0,12.0,-7.0,0.0,0.0
4,Charlie Batch,QB,Pittsburgh Steelers,2006.0,8.0,53.0,31.0,492.0,5.0,0.0,13.0,15.0,0.0,1.0

In [368]:
# add all stats of of a players career for each player and groupby player
career_qb = qb.groupby('Name').sum()
career_qb.drop('Year', axis=1, inplace=True)

In [369]:
career_qb.head()

,Games Played,Passes Attempted,Passes Completed,Passing Yards,TD Passes,Ints,Rushing Attempts,Rushing Yards,Rushing TDs,Fumbles
Name,,,,,,,,,,
Aaron Rodgers,69.0,2113.0,1381.0,17366.0,132.0,38.0,249.0,1183.0,16.0,8.0
Alex Smith,70.0,1959.0,1137.0,12543.0,68.0,58.0,181.0,629.0,4.0,8.0
Andy Dalton,16.0,516.0,300.0,3398.0,20.0,13.0,37.0,152.0,1.0,1.0
Ben Roethlisberger,114.0,3313.0,2090.0,26579.0,165.0,100.0,293.0,944.0,14.0,16.0
Blaine Gabbert,15.0,413.0,210.0,2214.0,12.0,11.0,48.0,98.0,0.0,8.0

In [370]:
career_qb.isnull().sum()

Games Played        0
Passes Attempted    2
Passes Completed    2
Passing Yards       2
TD Passes           2
Ints                2
Rushing Attempts    0
Rushing Yards       0
Rushing TDs         0
Fumbles             0
dtype: int64

In [234]:
career_qb = career_qb.reset_index()
career_qb['Name'] = career_qb['Name'].apply(lambda x: x.strip())

In [371]:
# Manually enter in career stats for missing players from career dataframe

career_qb.loc['Tony Romo'] = [105,2592,1672,20834,149,72,158,459,4,32]
career_qb.loc['Michael Vick'] = [111,2538,1422,17912,111,82,729,5219,33,59]
career_qb.loc['Matt Schaub'] = [102,2279,1466,17936,98,58,157,337,4,25]
career_qb.loc['Josh Freeman'] = [31,1315,795,9257,51,46,153,238,4,14]
career_qb.loc['John Skelton'] = [13,401, 211,2575,13,16,11,38,0,4]
career_qb.loc['Bruce Gradkowski'] = [39,698,370,3992, 21,26,82,333,0,13]
career_qb.loc['TJ Yates'] = [6,134,82,949,3,3,14,57,0,4]
career_qb.loc['Rusty Smith'] = [2,40,20,200,0,4,0,0,0,0]

In [406]:
Rookies = ['Robert Griffin III','Jake Locker','Andrew Luck', 'Russell Wilson',
           'Ryan Tannehill','Brandon Weeden','Brock Osweiler','Kirk Cousins','Nick Foles','Ryan Lindley',
          'Greg McElroy', 'Thaddeus Lewis']

In [72]:
career_rb.reset_index(inplace=True)
career_rb['Name'] = career_rb['Name'].apply(lambda x: x.strip())

In [82]:
temp = career_rb.iloc[indices]

In [373]:
raw_qb_2012 = raw_qb_2012.rename(columns={'Att.1':'rush_att',
                       'Yds.1':'rush_yds',
                       'Yds/Att.1':'rush_yd/att',
                       'TD.1':'rush_td'})

In [16]:
team_stats = raw_qb_2012.groupby(['Player','Week','Opp']).sum()

In [17]:
team_stats.head(), team_stats.shape

(                        Comp  Att  Pct  Yds  Yds/Att  TD  Int  QB Rating  \
 Player        Week Opp
 Aaron Rodgers 1    SF     30   44   68  303        7   2    1         93
               2    CHI    22   32   69  219        7   1    1         85
               3    SEA    26   39   67  223        6   0    0         81
               4    NO     31   41   76  319        8   4    1        120
               5    IND    20   32   63  235        7   3    1        103

                         rush_att  rush_yds  rush_yd/att  rush_td  \
 Player        Week Opp
 Aaron Rodgers 1    SF          5        27            5        0
               2    CHI         3        -6           -2        0
               3    SEA         2        17            9        0
               4    NO          5        13            3        0
               5    IND         5        57           11        0

                         Fantasy Points
 Player        Week Opp
 Aaron Rodgers 1    SF            22.82
               2    CHI           10.16
               3    SEA           10.62
               4    NO            28.06
               5    IND           25.10  , (629, 13))

In [7]:
# Define a dataframe to contain the career averages for all 2012 QBs
def create_career_dataframe(df):
    columns = []
    for col in df.columns:
        columns.append('{}_car'.format(col.lower()))
    new_df = pd.DataFrame(columns=columns, index =df.index)
    return new_df

In [8]:
rb_career = create_career_dataframe(team_stats)

In [9]:
# Week 1 stats are player's career average through 2011 season
# Populate current dataframe with current year averages of players
for col in team_stats:  # Iterate through every attribute in the team_stats dataframe
    points=[
        
    ]  # Create an empty list to hold the season average of the current attribute
    for player in team_stats.index.levels[0]:  # Iterate through every player in the team_stats df
        total =[] # create an empty list to hold the weekly attributes value
        for week in team_stats.loc[player].index: # Iterate throough every week for the current player
            total.append(team_stats.loc[player].loc[week][col]) # Add player's value for the current week's attribute to the total list
            points.append(np.mean(total))  # Add the average of the total list to the season average list
    rb_career['{}_car'.format(col.lower())] = points # Insert season average list for current attribute into the current stats dataframe

In [10]:
rb_career.shape

(2083, 10)

In [11]:
rb_career.to_csv('input/2012/rb/rb_career.csv', index = True)

In [27]:
qb_career_2012['score'] = team_stats['Fantasy Points']

In [28]:
qb_career_2012.head()

                        comp_car    att_car  pct_car     yds_car  yds/att_car  \
Player        Week Opp
Aaron Rodgers 1    SF      30.00  44.000000     68.0  303.000000     7.000000
              2    CHI     26.00  38.000000     68.5  261.000000     7.000000
              3    SEA     26.00  38.333333     68.0  248.333333     6.666667
              4    NO      27.25  39.000000     70.0  266.000000     7.000000
              5    IND     25.80  37.600000     68.6  259.800000     7.000000

                        td_car   int_car  qb rating_car  rush_att_car  \
Player        Week Opp
Aaron Rodgers 1    SF     2.00  1.000000      93.000000      5.000000
              2    CHI    1.50  1.000000      89.000000      4.000000
              3    SEA    1.00  0.666667      86.333333      3.333333
              4    NO     1.75  0.750000      94.750000      3.750000
              5    IND    2.00  0.800000      96.400000      4.000000

                        rush_yds_car  rush_yd/att_car  rush_td_car  \
Player        Week Opp
Aaron Rodgers 1    SF      27.000000             5.00          0.0
              2    CHI     10.500000             1.50          0.0
              3    SEA     12.666667             4.00          0.0
              4    NO      12.750000             3.75          0.0
              5    IND     21.600000             5.20          0.0

                        fantasy points_car  score
Player        Week Opp
Aaron Rodgers 1    SF            22.820000  22.82
              2    CHI           16.490000  10.16
              3    SEA           14.533333  10.62
              4    NO            17.915000  28.06
              5    IND           19.352000  25.10