In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [161]:
rb= pd.read_csv('input/rb/rb_cleaned.csv')
rb.head()

,games,year,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,def_rk,h/a_1,surface_0,points
0,1,2016,Aaron Green,LAR,16,SF,0,0,0,0,0,32,1.0,1.0,0.0
1,2,2016,Aaron Green,LAR,17,ARI,0,0,0,0,0,1,1.0,1.0,0.0
2,1,2017,Aaron Jones,GB,2,ATL,0,0,0,0,0,14,0.0,0.0,0.0
3,2,2017,Aaron Jones,GB,3,CIN,0,0,0,0,0,30,1.0,1.0,0.0
4,3,2017,Aaron Jones,GB,4,CHI,13,49,1,0,0,11,1.0,1.0,10.9

In [45]:
rb.year.unique()

array([2015, 2016, 2017, 2018], dtype=int64)

In [28]:
rb.sort_values(['year','Week'], inplae=True)

TypeError: sort_values() got an unexpected keyword argument 'inplae'

In [49]:
rb_dict = {}
for player in rb['Name'].unique():
    rb_dict[player] = rb[rb['Name']==player]
    rb_dict[player].sort_values(['year','Week'], inplace=True)
    rb_dict[player].reset_index(drop=True, inplace=True)
    rb_dict[player].reset_index(inplace=True)
    rb_dict[player].rename(columns={'index':'games'}, inplace=True)
    rb_dict[player]['games' ] = rb_dict[player]['games'] +1

C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\pandas\core\frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)
C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [50]:
temp = pd.concat(rb_dict)
temp.head()

               games  year         Name Team  Week Opponent  att  yds  td  \
Aaron Green 0      1  2016  Aaron Green  LAR    16       SF    0    0   0
            1      2  2016  Aaron Green  LAR    17      ARI    0    0   0
Aaron Jones 0      1  2017  Aaron Jones   GB     2      ATL    0    0   0
            1      2  2017  Aaron Jones   GB     3      CIN    0    0   0
            2      3  2017  Aaron Jones   GB     4      CHI   13   49   1

               tar  rec_yds  def_rk  h/a_1  surface_0  points
Aaron Green 0    0        0      32    1.0        1.0     0.0
            1    0        0       1    1.0        1.0     0.0
Aaron Jones 0    0        0      14    0.0        0.0     0.0
            1    0        0      30    1.0        1.0     0.0
            2    0        0      11    1.0        1.0    10.9

In [51]:
rb = temp.reset_index(drop=True)
rb.head()

,games,year,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,def_rk,h/a_1,surface_0,points
0,1,2016,Aaron Green,LAR,16,SF,0,0,0,0,0,32,1.0,1.0,0.0
1,2,2016,Aaron Green,LAR,17,ARI,0,0,0,0,0,1,1.0,1.0,0.0
2,1,2017,Aaron Jones,GB,2,ATL,0,0,0,0,0,14,0.0,0.0,0.0
3,2,2017,Aaron Jones,GB,3,CIN,0,0,0,0,0,30,1.0,1.0,0.0
4,3,2017,Aaron Jones,GB,4,CHI,13,49,1,0,0,11,1.0,1.0,10.9

In [52]:
temp.year.unique()

array([2016, 2017, 2018, 2015], dtype=int64)

In [53]:
rb.to_csv('input/rb/rb_cleaned.csv', index=False)

In [3]:
rb['year'].unique()

array([2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)

In [4]:
rb_18=rb[rb['year']==2018]
rb_18['Week'].unique()

array([1, 2, 3, 4, 5, 6, 7, 8], dtype=int64)

In [4]:
rb.sort_values(['Name','games'], inplace=True)
rb.head()

,games,year,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,def_rk,h/a_1,surface_0,points
11995,1,2018,Aaron Jones,GB,3,WAS,6,42,0,1,5,15,0.0,1.0,5.7
12107,2,2018,Aaron Jones,GB,4,BUF,11,65,1,1,17,18,1.0,1.0,15.2
12212,3,2018,Aaron Jones,GB,5,DET,7,40,0,3,19,29,0.0,0.0,7.9
12317,4,2018,Aaron Jones,GB,6,SF,8,41,0,1,0,22,0.0,1.0,4.1
12533,5,2018,Aaron Jones,GB,8,LAR,12,86,1,2,0,14,0.0,1.0,16.6

In [5]:
rb.reset_index(drop=True, inplace=True)
rb.tail()

,games,year,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,def_rk,h/a_1,surface_0,points
12607,24,2017,Zurlon Tipton,IND,13,WAS,0,0,0,0,0,28,0.0,1.0,0.0
12608,25,2017,Zurlon Tipton,IND,14,CLE,0,0,0,0,0,13,0.0,1.0,0.0
12609,26,2017,Zurlon Tipton,IND,15,HOU,0,0,0,0,0,7,1.0,0.0,0.0
12610,27,2017,Zurlon Tipton,IND,16,DAL,1,-3,0,4,23,8,0.0,0.0,8.0
12611,28,2017,Zurlon Tipton,IND,17,TEN,9,21,0,2,45,12,1.0,0.0,6.6

In [41]:
rb.year.unique()

array([2018], dtype=int64)

In [9]:
rb.shape

(12612, 15)

In [10]:
def create_sorted_dict (df):
    df_sorted = df.sort_values(['Name','games'])
    sorted_dict = {}
    for player in df_sorted['Name']:
        sorted_dict['{}'.format(player)] = {'year':df_sorted[df_sorted['Name']==player]['year'],
                                            'Opponent':df_sorted[df_sorted['Name']==player]['Opponent'],
                                            'points':df_sorted[df_sorted['Name']==player]['points'],
                                            'def_rk':df_sorted[df_sorted['Name']==player]['def_rk'],
                                            'surface_0':df_sorted[df_sorted['Name']==player]['surface_0'],
                                            'h/a_1':df_sorted[df_sorted['Name']== player]['h/a_1'],
                                            'games': df_sorted[df_sorted['Name']==player]['games']
                                           }
       
    return sorted_dict

In [11]:
rb_sorted_dict = create_sorted_dict(rb)

In [140]:
# Create a data frame to investigate the points attribute of the dataset. 


def get_points_df(df):
    total_points = df['points'].sum()
    total_games = df['points'].count()

    val_lst = []
    sal_lst = []
    games_lst = []
    wght_avg=[]
    players = []
    avg_lst=[]

    for name in list(df['Name'].unique()):
        players.append(name)
        player_games = df[df['Name'] ==name].describe().loc['count'][0]
        games_lst.append(player_games)
        avg_points = round(df[df['Name'] ==name].describe()['points'].mean(),2)
        avg_lst.append(avg_points)
        wght_avg.append((round(avg_points + (avg_points* (player_games/total_games)),2)))
        sal_avg= round(df[df['Name'] ==name].describe()['salary'].mean(),2)
        sal_lst.append(sal_avg)
        val = round(sal_avg/avg_points,2)
        val_lst.append(val)
     
    df_eng = pd.DataFrame()
    df_eng['player'] = (df['Name'].unique())
    df_eng['games'] = games_lst
    df_eng['avg_points']= avg_lst
    df_eng['wght_avg'] = wght_avg
    df_eng['sal_avg'] = sal_lst
    df_eng['val'] = val_lst
    df_eng.head()
    
    return df_eng

## Group Dataframes

In [32]:
# A function to create a dictonary of grouped data frames

def grouped_dict(csv):
    
    df= pd.read_csv(csv)
    

    yearly_dict = {}
    for year in list(df['year'].unique()):
        yearly_dict['player_{}'.format(year)] = (df[df['year']==year]).drop('year',axis=1).groupby(['Name','games','Opponent']).sum()
        


    return yearly_dict

In [33]:
def conv_atts(grouped_dict):
    for group in grouped_dict:
        grouped_dict['{}'.format(group)]['h/a_1'] = grouped_dict['{}'.format(group)]['h/a_1'].astype('category')
        grouped_dict['{}'.format(group)]['surface_0'] = grouped_dict['{}'.format(group)]['surface_0'].astype('category')
    
    return grouped_dict

In [54]:
rb_group = grouped_dict('input/rb/rb_cleaned.csv')

In [55]:
rb_group = conv_atts(rb_group)

In [58]:
rb_group['player_2015'].head()

                                Week  att  yds  td  tar  rec_yds  def_rk  \
Name            games Opponent
Aaron Ripkowski 1     CHI          1    0    0   0    0        0      22
                2     SEA          2    0    0   0    0        0       1
                3     KC           3    0    0   0    0        0       3
                4     SF           4    0    0   0    0        0      32
                5     LAR          5    0    0   0    0        0      23

                               h/a_1 surface_0  points
Name            games Opponent
Aaron Ripkowski 1     CHI        0.0       1.0     0.0
                2     SEA        1.0       1.0     0.0
                3     KC         1.0       1.0     0.0
                4     SF         0.0       1.0     0.0
                5     LAR        1.0       1.0     0.0

In [60]:
rb_group

{'player_2015':                                 Week  att  yds  td  tar  rec_yds  def_rk  \
 Name            games Opponent
 Aaron Ripkowski 1     CHI          1    0    0   0    0        0      22
                 2     SEA          2    0    0   0    0        0       1
                 3     KC           3    0    0   0    0        0       3
                 4     SF           4    0    0   0    0        0      32
                 5     LAR          5    0    0   0    0        0      23
                 6     LAC          6    0    0   0    0        0      26
                 7     DEN          8    0    0   0    0        0      14
                 8     CAR          9    0    0   0    1       18      19
                 9     DET         10    0    0   0    0        0      17
                 10    MIN         11    0    0   0    0        0       9
                 11    CHI         12    0    0   0    0        0      22
                 12    DAL         14    0    0   0    0        0      25
                 13    OAK         15    0    0   0    0        0      21
                 14    ARI         16    0    0   0    0        0       8
                 15    MIN         17    0    0   0    0        0       9
 Adrian Peterson 1     SF           1   10   31   0    3       21      32
                 2     DET          2   29  134   0    2       58      17
                 3     LAC          3   20  126   2    0        0      26
                 4     DEN          4   16   81   1    6       13      14
                 5     KC           6   26   60   0    1       -3       3
                 6     DET          7   19   98   0    3       12      17
                 7     CHI          8   20  103   0    2        6      22
                 8     LAR          9   29  125   1    2       18      23
                 9     OAK         10   26  203   1    3       13      21
                 10    GB          11   13   45   1    2       16      13
                 11    ATL         12   29  158   2    4       29      30
                 12    SEA         13    8   18   0    4        6       1
                 13    ARI         14   23   69   1    1       17       8
                 14    CHI         15   18   63   0    0        0      22
                 15    NYG         16   22  104   1    2       15      24
 ...                              ...  ...  ...  ..  ...      ...     ...
 Zach Line       3     LAC          3    1    1   1    0        0      26
                 4     DEN          4    0    0   0    1        0      14
                 5     KC           6    0    0   0    1        3       3
                 6     DET          7    2    2   0    1       49      17
                 7     CHI          8    0    0   0    0        0      22
                 8     LAR          9    0    0   0    0        0      23
                 9     OAK         10    0    0   0    0        0      21
                 10    GB          11    0    0   0    1        7      13
                 11    ATL         12    0    0   0    2        8      30
                 12    SEA         13    0    0   0    0        0       1
                 13    ARI         14    0    0   0    1       24       8
                 14    CHI         15    1    3   0    2        4      22
                 15    NYG         16    1    3   0    0        0      24
                 16    GB          17    0    0   0    0        0      13
 Zach Zenner     1     LAC          1    2    6   0    0        0      26
                 2     MIN          2    0    0   0    0        0       9
                 3     DEN          3    0    0   0    0        0      14
                 4     SEA          4    2    9   0    1        4       1
                 5     ARI          5   10   30   0    2        7       8
                 6     CHI          6    3   15   0    0        0      22
 Zurlon Tipton   1     JAX          4    0    0   0    0        0      27
                 2     HOU          5    2    9   0    1        0       7
                 3     NE           6    0    0   0    0        0      12
                 4     NO           7    0    0   0    0        0      29
                 5     CAR          8    0    0   0    0        0      19
                 6     DEN          9    0    0   0    0        0      14
                 7     ATL         11    0    0   0    0        0      30
                 8     PIT         13    1    0   0    2        7       2
                 9     JAX         14    1    7   0    5       50      27
                 10    HOU         15    1    4   0    0        0       7

                                h/a_1 surface_0  points
 Name            games Opponent
 Aaron Ripkowski 1     CHI        0.0       1.0     0.0
                 2     SEA        1.0       1.0     0.0
                 3     KC         1.0       1.0     0.0
                 4     SF         0.0       1.0     0.0
                 5     LAR        1.0       1.0     0.0
                 6     LAC        1.0       1.0     0.0
                 7     DEN        0.0       1.0     0.0
                 8     CAR        0.0       1.0     2.8
                 9     DET        1.0       1.0     0.0
                 10    MIN        0.0       0.0     0.0
                 11    CHI        1.0       1.0     0.0
                 12    DAL        1.0       1.0     0.0
                 13    OAK        0.0       1.0     0.0
                 14    ARI        0.0       1.0     0.0
                 15    MIN        1.0       1.0     0.0
 Adrian Peterson 1     SF         0.0       1.0     8.2
                 2     DET        1.0       0.0    23.2
                 3     LAC        1.0       0.0    27.6
                 4     DEN        0.0       1.0    19.4
                 5     KC         1.0       0.0     6.7
                 6     DET        0.0       0.0    14.0
                 7     CHI        0.0       1.0    15.9
                 8     LAR        1.0       0.0    25.3
                 9     OAK        0.0       1.0    32.6
                 10    GB         1.0       0.0    13.1
                 11    ATL        0.0       0.0    35.7
                 12    SEA        1.0       0.0     6.4
                 13    ARI        0.0       1.0    14.6
                 14    CHI        1.0       0.0     6.3
                 15    NYG        1.0       0.0    21.9
 ...                              ...       ...     ...
 Zach Line       3     LAC        1.0       0.0     6.1
                 4     DEN        0.0       1.0     0.0
                 5     KC         1.0       0.0     1.3
                 6     DET        0.0       0.0     6.1
                 7     CHI        0.0       1.0     0.0
                 8     LAR        1.0       0.0     0.0
                 9     OAK        0.0       1.0     0.0
                 10    GB         1.0       0.0     1.7
                 11    ATL        0.0       0.0     1.8
                 12    SEA        1.0       0.0     0.0
                 13    ARI        0.0       1.0     3.4
                 14    CHI        1.0       0.0     7.7
                 15    NYG        1.0       0.0     0.3
                 16    GB         0.0       1.0     0.0
 Zach Zenner     1     LAC        0.0       1.0     0.6
                 2     MIN        0.0       0.0     0.0
                 3     DEN        1.0       0.0     0.0
                 4     SEA        0.0       0.0     2.3
                 5     ARI        1.0       0.0     4.7
                 6     CHI        1.0       0.0     1.5
 Zurlon Tipton   1     JAX        1.0       0.0     0.0
                 2     HOU        0.0       0.0     0.9
                 3     NE         1.0       0.0     0.0
                 4     NO         1.0       0.0     0.0
                 5     CAR        0.0       1.0     0.0
                 6     DEN        1.0       0.0     0.0
                 7     ATL        0.0       0.0     0.0
                 8     PIT        0.0       1.0     1.7
                 9     JAX        0.0       1.0     9.7
                 10    HOU        1.0       0.0     0.4

 [2000 rows x 10 columns],
 'player_2016':                                 Week  att  yds  td  tar  rec_yds  def_rk  \
 Name            games Opponent
 Aaron Green     1     SF          16    0    0   0    0        0      32
                 2     ARI         17    0    0   0    0        0       1
 Aaron Ripkowski 16    JAX          1    0    0   0    0        0      14
                 17    MIN          2    0    0   0    0        0       8
                 18    DET          3    0    0   0    0        0       9
                 19    NYG          5    2   17   0    0        0       6
                 20    DAL          6    1    0   0    1        2       3
                 21    CHI          7    3    8   0    1        8       5
                 22    ATL          8    6   34   0    1       -1      29
                 23    IND          9    2    4   0    1        3      25
                 24    TEN         10    0    0   0    0        0       2
                 25    WAS         11    2    9   0    0        0      26
                 26    PHI         12    3    1   1    2       15      12
                 27    HOU         13    3   14   1    1        4      11
                 28    SEA         14    3    2   0    1        0       4
                 29    CHI         15    0    0   0    0        0       5
                 30    MIN         16    0    0   0    0        0       8
                 31    DET         17    9   61   0    2       15       9
 Adrian Peterson 17    TEN          1   19   31   0    2        0       2
                 18    GB           2   12   19   0    3        7      10
                 19    IND         15    6   22   0    1        1      25
 Akeem Hunt      8     JAX         10    8   52   0    2        1      14
                 9     OAK         11    5   -2   0    0        0      23
                 10    LAC         12    2   19   0    0        0      28
                 11    GB          13    0    0   0    0        0      10
                 12    IND         14    1   19   0    0        0      25
                 13    JAX         15    3   15   0    0        0      14
                 14    CIN         16    1    6   0    2       28      21
                 15    TEN         17    0    0   0    0        0       2
 Alan Cross      1     LAR          3    0    0   0    1        0      16
 ...                              ...  ...  ...  ..  ...      ...     ...
 Will Tukuafu    21    CAR         13    0    0   0    0        0      15
 Zach Line       17    TEN          1    0    0   0    0        0       2
                 18    GB           2    0    0   0    0        0      10
                 19    CAR          3    0    0   0    0        0      15
                 20    NYG          4    3    6   0    0        0       6
                 21    HOU          5    0    0   0    1        0      11
                 22    PHI          7    2    2   0    0        0      12
                 23    CHI          8    0    0   0    0        0       5
                 24    DET          9    0    0   0    0        0       9
                 25    WAS         10    1    5   0    1        0      26
                 26    ARI         11    0    0   0    0        0       1
                 27    DET         12    1    2   0    0        0       9
                 28    DAL         13    0    0   0    0        0       3
                 29    JAX         14    0    0   0    1        0      14
                 30    IND         15    0    0   0    0        0      25
                 31    CHI         17    0    0   0    0        0       5
 Zach Zenner     7     GB           3    0    0   0    0        0      10
                 8     CHI          4    3   12   0    1       22       5
                 9     PHI          5    7    9   0    2       23      12
                 10    LAR          6   14   58   0    2       19      16
                 11    WAS          7    9   29   1    2        0      26
                 12    HOU          8    3    2   0    1        5      11
                 13    MIN          9    0    0   0    0        0       8
                 14    JAX         11    0    0   0    0        0      14
                 15    MIN         12    1    0   0    0        0       8
                 16    NO          13    9   40   0    0        0      30
                 17    CHI         14    7   36   0    2        9       5
                 18    NYG         15    3   12   0    5       52       6
                 19    DAL         16   12   67   2    3       25       3
                 20    GB          17   20   69   1    5       41      10

                                h/a_1 surface_0  points
 Name            games Opponent
 Aaron Green     1     SF         1.0       1.0     0.0
                 2     ARI        1.0       1.0     0.0
 Aaron Ripkowski 16    JAX        0.0       1.0     0.0
                 17    MIN        0.0       0.0     0.0
                 18    DET        1.0       1.0     0.0
                 19    NYG        1.0       1.0     1.7
                 20    DAL        1.0       1.0     1.2
                 21    CHI        1.0       1.0     2.6
                 22    ATL        0.0       0.0     4.3
                 23    IND        1.0       1.0     1.7
                 24    TEN        0.0       1.0     0.0
                 25    WAS        0.0       1.0     0.9
                 26    PHI        0.0       1.0     9.6
                 27    HOU        1.0       1.0     8.8
                 28    SEA        1.0       1.0     0.2
                 29    CHI        0.0       1.0     0.0
                 30    MIN        1.0       1.0     0.0
                 31    DET        0.0       0.0    15.6
 Adrian Peterson 17    TEN        0.0       1.0     3.1
                 18    GB         1.0       0.0     4.6
                 19    IND        1.0       0.0     2.3
 Akeem Hunt      8     JAX        0.0       1.0     6.3
                 9     OAK        0.0       1.0    -0.2
                 10    LAC        1.0       0.0     1.9
                 11    GB         0.0       1.0     0.0
                 12    IND        0.0       0.0     1.9
                 13    JAX        1.0       0.0     1.5
                 14    CIN        1.0       0.0     5.4
                 15    TEN        0.0       1.0     0.0
 Alan Cross      1     LAR        1.0       1.0     0.0
 ...                              ...       ...     ...
 Will Tukuafu    21    CAR        1.0       0.0     0.0
 Zach Line       17    TEN        0.0       1.0     0.0
                 18    GB         1.0       0.0     0.0
                 19    CAR        0.0       1.0     0.0
                 20    NYG        1.0       0.0     0.6
                 21    HOU        1.0       0.0     0.0
                 22    PHI        0.0       1.0     0.2
                 23    CHI        0.0       1.0     0.0
                 24    DET        1.0       0.0     0.0
                 25    WAS        0.0       1.0     0.5
                 26    ARI        1.0       0.0     0.0
                 27    DET        0.0       0.0     0.2
                 28    DAL        1.0       0.0     0.0
                 29    JAX        0.0       1.0     0.0
                 30    IND        1.0       0.0     0.0
                 31    CHI        1.0       0.0     0.0
 Zach Zenner     7     GB         0.0       1.0     0.0
                 8     CHI        0.0       1.0     4.4
                 9     PHI        1.0       0.0     5.2
                 10    LAR        1.0       0.0     9.7
                 11    WAS        1.0       0.0     8.9
                 12    HOU        0.0       0.0     1.7
                 13    MIN        0.0       0.0     0.0
                 14    JAX        1.0       0.0     0.0
                 15    MIN        1.0       0.0     0.0
                 16    NO         0.0       0.0     4.0
                 17    CHI        1.0       0.0     6.5
                 18    NYG        0.0       0.0     9.4
                 19    DAL        0.0       0.0    23.2
                 20    GB         1.0       0.0    21.0

 [1890 rows x 10 columns],
 'player_2017':                                   Week  att  yds  td  tar  rec_yds  def_rk  \
 Name              games Opponent
 Aaron Jones       1     ATL          2    0    0   0    0        0      14
                   2     CIN          3    0    0   0    0        0      30
                   3     CHI          4   13   49   1    0        0      11
                   4     DAL          5   19  125   1    1        9       8
                   5     MIN          6   13   41   0    4        1       1
                   6     NO           7   17  131   1    5        7      17
                   7     DET          9    5   12   0    5       -1      31
                   8     CHI         10    3   12   0    1        0      11
                   9     TB          13    1   20   1    0        0      29
                   10    CLE         14    4   -2   0    0        0      13
                   11    CAR         15    3   47   0    2        6       3
                   12    MIN         16    3   13   0    0        0       1
 Aaron Ripkowski   32    SEA          1    0    0   0    0        0       9
                   33    ATL          2    0    0   0    1        2      14
                   34    CIN          3    0    0   0    0        0      30
                   35    CHI          4    1    4   0    2        6      11
                   36    DAL          5    1    2   0    0        0       8
                   37    MIN          6    0    0   0    1        0       1
                   38    NO           7    0    0   0    0        0      17
                   39    DET          9    0    0   0    1        9      31
                   40    CHI         10    2    3   0    1       12      11
                   41    BAL         11    0    0   0    1        6      20
                   42    PIT         12    1    4   0    0        0      18
                   43    TB          13    0    0   0    1        0      29
                   44    CLE         14    0    0   0    1        0      13
                   45    CAR         15    0    0   0    0        0       3
                   46    MIN         16    0    0   0    1        4       1
                   47    DET         17    0    0   0    0        0      31
 Adrian Peterson   20    MIN          1    6   18   0    1        0       1
                   21    NE           2    8   26   0    0        0      16
 ...                                ...  ...  ...  ..  ...      ...     ...
 Wayne Gallman     12    ARI         16   10   18   0    8       44       5
                   13    WAS         17   15   89   0    2        0      28
 Wendell Smallwood 14    WAS          1    4    4   0    1        5      28
                   15    KC           2    3    4   0    2       -3       6
                   16    NYG          3   12   71   0    2        9      22
                   17    LAC          4   10   34   1    6       45      23
                   18    WAS          7    8   25   0    2       14      28
                   19    SF           8    1    5   0    2        9      26
                   20    DEN          9    5   25   0    0        0       4
                   21    DAL         17    4    6   0    3       24       8
 Zach Line         32    DET          6    0    0   0    1        0      31
                   33    GB           7    0    0   0    1        0      24
                   34    CHI          8    0    0   0    0        0      11
                   35    TB           9    2    4   0    0        0      29
                   36    BUF         10    1    9   0    0        0      32

In [61]:
def drop_col (grouped_df):
    for group in grouped_df:
        grouped_df[group].drop('h/a_1', axis=1, inplace=True)
        grouped_df[group].drop('surface_0',axis=1, inplace=True)
        grouped_df[group].drop('points',axis=1, inplace=True)
        grouped_df[group].drop('def_rk',axis=1, inplace=True)
        grouped_df[group].drop('Week', axis=1, inplace=True)

    return grouped_df

In [62]:
rb_group= drop_col(rb_group)

In [63]:
rb_group['player_2015'].columns

Index(['att', 'yds', 'td', 'tar', 'rec_yds'], dtype='object')

## Current Stats
Weekly moving average for every year from 2015 through 2018

In [64]:
# Week 1 stats are player's career average through 2014 season
# Populate current dataframe with current year averages of players

def insert_data (grouped_df):
    new_df = pd.DataFrame(index=grouped_df.index)
    for col in grouped_df: # Iterate through every attribute in the team_stats dataframe
        if col not in list(['def_rk','surface_0','h/a_1','games','points']):
            points=[]  # Create an empty list to hold the season average of the current attribute
            for player in grouped_df.index.levels[0]:  # Iterate through every player in the team_stats df
                total =[]# create an empty list to hold the weekly attributes valu3

                for week in grouped_df.loc[player].index: # Iterate throough every week for the current player
                    total.append(grouped_df.loc[player].loc[week][col]) # Add player's value for the current week's attribute to the total list
                    points.append(round(np.mean(total),2))  # Add the average of the total list to the season average list

            new_df['{}_avg'.format(col.lower())] = points # Insert season average list for current attribute into the current stats dataframe
        else:
            None
    return new_df

In [65]:
#weekly_2012 = insert_data(rb_group['player_2012'])
#weekly_2013 = insert_data(rb_group['player_2013'])
#weekly_2014 = insert_data(rb_group['player_2014'])
weekly_2015 = insert_data(rb_group['player_2015'])
weekly_2016 = insert_data(rb_group['player_2016'])
weekly_2017 = insert_data(rb_group['player_2017'])
weekly_2018 = insert_data(rb_group['player_2018'])

In [66]:
weekly_2015.head()

                                att_avg  yds_avg  td_avg  tar_avg  rec_yds_avg
Name            games Opponent
Aaron Ripkowski 1     CHI           0.0      0.0     0.0      0.0          0.0
                2     SEA           0.0      0.0     0.0      0.0          0.0
                3     KC            0.0      0.0     0.0      0.0          0.0
                4     SF            0.0      0.0     0.0      0.0          0.0
                5     LAR           0.0      0.0     0.0      0.0          0.0

In [67]:
def shift_dict(df):

    shift_dict = {}
    df.reset_index(inplace=True)
    for player in df['Name'].unique():
        shift_dict[player]=df[df['Name']==player].shift(1).fillna(0)
    df_shifted = pd.concat(shift_dict)
    df_shifted.drop('Name', axis=1, inplace=True)
    
    
    
    return df_shifted

In [69]:
#player_2012_shifted = shift_dict(weekly_2012)
#player_2013_shifted = shift_dict(weekly_2013)
#player_2014_shifted = shift_dict(weekly_2014)
player_2015_shifted = shift_dict(weekly_2015)
player_2016_shifted = shift_dict(weekly_2016)
player_2017_shifted = shift_dict(weekly_2017)
player_2018_shifted = shift_dict(weekly_2018)

In [70]:
#player_2012_shifted['year']=2012
#player_2013_shifted['year']=2013
#player_2014_shifted['year']=2014
player_2015_shifted['year']=2015
player_2016_shifted['year']=2016
player_2017_shifted['year']=2017
player_2018_shifted['year']=2018

In [71]:
player_2018_shifted.head()

               games Opponent  att_avg  yds_avg  td_avg  tar_avg  rec_yds_avg  \
Aaron Jones 0    0.0        0     0.00     0.00    0.00      0.0          0.0
            1   13.0      WAS     6.00    42.00    0.00      1.0          5.0
            2   14.0      WAS     6.00    42.00    0.00      1.0          5.0
            3   15.0      BUF     7.67    49.67    0.33      1.0          9.0
            4   16.0      BUF     8.50    53.50    0.50      1.0         11.0

               year
Aaron Jones 0  2018
            1  2018
            2  2018
            3  2018
            4  2018

In [73]:
player_weekly_avg = pd.concat([player_2015_shifted, player_2016_shifted, player_2017_shifted, player_2018_shifted])

player_weekly_avg.head()

                   games Opponent  att_avg  yds_avg  td_avg  tar_avg  \
Aaron Ripkowski 0    0.0        0      0.0      0.0     0.0      0.0
                1    1.0      CHI      0.0      0.0     0.0      0.0
                2    2.0      SEA      0.0      0.0     0.0      0.0
                3    3.0       KC      0.0      0.0     0.0      0.0
                4    4.0       SF      0.0      0.0     0.0      0.0

                   rec_yds_avg  year
Aaron Ripkowski 0          0.0  2015
                1          0.0  2015
                2          0.0  2015
                3          0.0  2015
                4          0.0  2015

In [74]:
player_weekly_avg.reset_index(inplace=True)
player_weekly_avg.head()

,level_0,level_1,games,Opponent,att_avg,yds_avg,td_avg,tar_avg,rec_yds_avg,year
0,Aaron Ripkowski,0,0.0,0,0.0,0.0,0.0,0.0,0.0,2015
1,Aaron Ripkowski,1,1.0,CHI,0.0,0.0,0.0,0.0,0.0,2015
2,Aaron Ripkowski,2,2.0,SEA,0.0,0.0,0.0,0.0,0.0,2015
3,Aaron Ripkowski,3,3.0,KC,0.0,0.0,0.0,0.0,0.0,2015
4,Aaron Ripkowski,4,4.0,SF,0.0,0.0,0.0,0.0,0.0,2015

In [75]:
player_weekly_avg = player_weekly_avg.rename(columns={'level_0':'Name'}).drop('level_1', axis=1)
player_weekly_avg.head()

,Name,games,Opponent,att_avg,yds_avg,td_avg,tar_avg,rec_yds_avg,year
0,Aaron Ripkowski,0.0,0,0.0,0.0,0.0,0.0,0.0,2015
1,Aaron Ripkowski,1.0,CHI,0.0,0.0,0.0,0.0,0.0,2015
2,Aaron Ripkowski,2.0,SEA,0.0,0.0,0.0,0.0,0.0,2015
3,Aaron Ripkowski,3.0,KC,0.0,0.0,0.0,0.0,0.0,2015
4,Aaron Ripkowski,4.0,SF,0.0,0.0,0.0,0.0,0.0,2015

In [76]:
player_weekly_avg.sort_values(['Name','year','games'],inplace=True)
player_weekly_avg.head()

,Name,games,Opponent,att_avg,yds_avg,td_avg,tar_avg,rec_yds_avg,year
2000,Aaron Green,0.0,0,0.0,0.0,0.0,0.0,0.0,2016
2001,Aaron Green,1.0,SF,0.0,0.0,0.0,0.0,0.0,2016
3890,Aaron Jones,0.0,0,0.0,0.0,0.0,0.0,0.0,2017
3891,Aaron Jones,1.0,ATL,0.0,0.0,0.0,0.0,0.0,2017
3892,Aaron Jones,2.0,CIN,0.0,0.0,0.0,0.0,0.0,2017

In [77]:
player_weekly_avg.drop(['Name','games','Opponent'], axis=1, inplace=True)

In [78]:
player_weekly_avg.head()

      att_avg  yds_avg  td_avg  tar_avg  rec_yds_avg  year
2000      0.0      0.0     0.0      0.0          0.0  2016
2001      0.0      0.0     0.0      0.0          0.0  2016
3890      0.0      0.0     0.0      0.0          0.0  2017
3891      0.0      0.0     0.0      0.0          0.0  2017
3892      0.0      0.0     0.0      0.0          0.0  2017

In [79]:
player_weekly_avg.reset_index(inplace=True, drop=True)
player_weekly_avg.head()

   att_avg  yds_avg  td_avg  tar_avg  rec_yds_avg  year
0      0.0      0.0     0.0      0.0          0.0  2016
1      0.0      0.0     0.0      0.0          0.0  2016
2      0.0      0.0     0.0      0.0          0.0  2017
3      0.0      0.0     0.0      0.0          0.0  2017
4      0.0      0.0     0.0      0.0          0.0  2017

## Recent Player Stats
Calculate the 4 game moving average of all attributes for each player and insert resluts into positional dataframe

In [80]:
# A function designed to calcuate a player's 4 game moving average in seasons 2015,2016,2017,2018

def moving_average(grouped_df, games):
    new_grouped_df = pd.DataFrame(index = grouped_df.index)
    for col in grouped_df:  # Iterate through every attribute in the team_stats dataframe
        if col not in list(['def_rk','surface_0','h/a_1','games','points']):
            ma4 = []  # Create an empty list to hold the season average of the current attribute
            for player in grouped_df.index.levels[0]:  # Iterate through every player in the team_stats df
                total = [] # INstantiate a deque container with a max length of 3 to hold the three most current games for player
                count = 0 # Counter to track week number 
                for week in grouped_df.loc[player].index: # Iterate through every week for relevant player d
                    if count < games: # check count value to start 3 game moving average
                        ma4.append(0)  # week 1 through 3 have 3 game movong average of 0
                        total.append(grouped_df.loc[player].loc[week][col])  # Add the value current player's attribute total from the left
                        count += 1  # Increase count
                    else:  # Once 3 game moving average is avaliable
                        ma4.append(np.mean(total))  # Add the average of the 3 games held in totals 3 game moivng average list
                        total.append(grouped_df.loc[player].loc[week][col]) # Replace 3 set block with a first in first out process
        else:
            None
        new_grouped_df['{}_ma'.format(col.lower())] = ma4  # Populate databse with 3 game moving average list
       

    return new_grouped_df

In [81]:
#player_ma_2012 = moving_average(rb_group['player_2012'],4)
#player_ma_2013 = moving_average(rb_group['player_2013'],4)
#player_ma_2014 = moving_average(rb_group['player_2014'],4)
player_ma_2015 = moving_average(rb_group['player_2015'],4)
player_ma_2016 = moving_average(rb_group['player_2016'],4)
player_ma_2017 = moving_average(rb_group['player_2017'],4)
player_ma_2018 = moving_average(rb_group['player_2018'],4)

In [83]:

yearly_ma_grp = pd.concat([player_ma_2015, player_ma_2016])
yearly_ma_grp = pd.concat([yearly_ma_grp,player_ma_2017])
yearly_ma_grp = pd.concat([yearly_ma_grp,player_ma_2018])
yearly_ma_grp.head()

                                att_ma  yds_ma  td_ma  tar_ma  rec_yds_ma
Name            games Opponent
Aaron Ripkowski 1     CHI          0.0     0.0    0.0     0.0         0.0
                2     SEA          0.0     0.0    0.0     0.0         0.0
                3     KC           0.0     0.0    0.0     0.0         0.0
                4     SF           0.0     0.0    0.0     0.0         0.0
                5     LAR          0.0     0.0    0.0     0.0         0.0

In [84]:
yearly_ma_grp.reset_index(inplace=True)
yearly_ma_grp.head()

              Name  games Opponent  att_ma  yds_ma  td_ma  tar_ma  rec_yds_ma
0  Aaron Ripkowski      1      CHI     0.0     0.0    0.0     0.0         0.0
1  Aaron Ripkowski      2      SEA     0.0     0.0    0.0     0.0         0.0
2  Aaron Ripkowski      3       KC     0.0     0.0    0.0     0.0         0.0
3  Aaron Ripkowski      4       SF     0.0     0.0    0.0     0.0         0.0
4  Aaron Ripkowski      5      LAR     0.0     0.0    0.0     0.0         0.0

In [81]:
yearly_ma_grp.drop(['def_rk_ma','surface_0_ma','h/a_1_ma','points_ma'],axis=1, inplace=True)

In [85]:
yearly_ma_grp.sort_values(['Name','games'], inplace=True)
yearly_ma_grp.head()

             Name  games Opponent  att_ma  yds_ma  td_ma  tar_ma  rec_yds_ma
2000  Aaron Green      1       SF     0.0     0.0    0.0     0.0         0.0
2001  Aaron Green      2      ARI     0.0     0.0    0.0     0.0         0.0
3890  Aaron Jones      1      ATL     0.0     0.0    0.0     0.0         0.0
3891  Aaron Jones      2      CIN     0.0     0.0    0.0     0.0         0.0
3892  Aaron Jones      3      CHI     0.0     0.0    0.0     0.0         0.0

In [86]:
yearly_ma_grp.reset_index(drop=True, inplace=True)
yearly_ma_grp.head()

          Name  games Opponent  att_ma  yds_ma  td_ma  tar_ma  rec_yds_ma
0  Aaron Green      1       SF     0.0     0.0    0.0     0.0         0.0
1  Aaron Green      2      ARI     0.0     0.0    0.0     0.0         0.0
2  Aaron Jones      1      ATL     0.0     0.0    0.0     0.0         0.0
3  Aaron Jones      2      CIN     0.0     0.0    0.0     0.0         0.0
4  Aaron Jones      3      CHI     0.0     0.0    0.0     0.0         0.0

In [87]:
player_weekly_avg.shape, yearly_ma_grp.shape

((6907, 6), (6907, 8))

In [147]:
df= pd.concat([player_weekly_avg,yearly_ma_grp],axis=1)
df.shape

(6907, 14)

In [134]:
df[df['Name']=='Adrian Peterson']

,att_avg,yds_avg,td_avg,tar_avg,rec_yds_avg,year,Name,games,Opponent,att_ma,yds_ma,td_ma,tar_ma,rec_yds_ma
68,0.00,0.00,0.00,0.00,0.00,2015,Adrian Peterson,1,SF,0.000000,0.000000,0.000000,0.000000,0.000000
69,10.00,31.00,0.00,3.00,21.00,2015,Adrian Peterson,2,DET,0.000000,0.000000,0.000000,0.000000,0.000000
70,19.50,82.50,0.00,2.50,39.50,2015,Adrian Peterson,3,LAC,0.000000,0.000000,0.000000,0.000000,0.000000
71,19.67,97.00,0.67,1.67,26.33,2015,Adrian Peterson,4,DEN,0.000000,0.000000,0.000000,0.000000,0.000000
72,18.75,93.00,0.75,2.75,23.00,2015,Adrian Peterson,5,KC,18.750000,93.000000,0.750000,2.750000,23.000000
73,20.20,86.40,0.60,2.40,17.80,2015,Adrian Peterson,6,DET,20.200000,86.400000,0.600000,2.400000,17.800000
74,20.00,88.33,0.50,2.50,16.83,2015,Adrian Peterson,7,CHI,20.000000,88.333333,0.500000,2.500000,16.833333
75,20.00,90.43,0.43,2.43,15.29,2015,Adrian Peterson,8,LAR,20.000000,90.428571,0.428571,2.428571,15.285714
76,21.12,94.75,0.50,2.38,15.62,2015,Adrian Peterson,9,OAK,21.125000,94.750000,0.500000,2.375000,15.625000
77,21.67,106.78,0.56,2.44,15.33,2015,Adrian Peterson,10,GB,21.666667,106.777778,0.555556,2.444444,15.333333
78,20.80,100.60,0.60,2.40,15.40,2015,Adrian Peterson,11,ATL,20.800000,100.600000,0.600000,2.400000,15.400000
79,21.55,105.82,0.73,2.55,16.64,2015,Adrian Peterson,12,SEA,21.545455,105.818182,0.727273,2.545455,16.636364
80,20.42,98.50,0.67,2.67,15.75,2015,Adrian Peterson,13,ARI,20.416667,98.500000,0.666667,2.666667,15.750000
81,20.62,96.23,0.69,2.54,15.85,2015,Adrian Peterson,14,CHI,20.615385,96.230769,0.692308,2.538462,15.846154
82,20.43,93.86,0.64,2.36,14.71,2015,Adrian Peterson,15,NYG,20.428571,93.857143,0.642857,2.357143,14.714286
83,20.53,94.53,0.67,2.33,14.73,2015,Adrian Peterson,16,GB,20.533333,94.533333,0.666667,2.333333,14.733333
84,0.00,0.00,0.00,0.00,0.00,2016,Adrian Peterson,17,TEN,0.000000,0.000000,0.000000,0.000000,0.000000
85,19.00,31.00,0.00,2.00,0.00,2016,Adrian Peterson,18,GB,0.000000,0.000000,0.000000,0.000000,0.000000
86,15.50,25.00,0.00,2.50,3.50,2016,Adrian Peterson,19,IND,0.000000,0.000000,0.000000,0.000000,0.000000
87,0.00,0.00,0.00,0.00,0.00,2017,Adrian Peterson,20,MIN,0.000000,0.000000,0.000000,0.000000,0.000000
88,6.00,18.00,0.00,1.00,0.00,2017,Adrian Peterson,21,NE,0.000000,0.000000,0.000000,0.000000,0.000000
89,7.00,22.00,0.00,0.50,0.00,2017,Adrian Peterson,22,CAR,0.000000,0.000000,0.000000,0.000000,0.000000
90,7.67,25.67,0.00,1.00,1.33,2017,Adrian Peterson,23,MIA,0.000000,0.000000,0.000000,0.000000,0.000000
91,6.75,20.25,0.00,0.75,1.00,2017,Adrian Peterson,24,TB,6.750000,20.250000,0.000000,0.750000,1.000000
92,10.60,43.00,0.40,0.60,0.80,2017,Adrian Peterson,25,LAR,10.600000,43.000000,0.400000,0.600000,0.800000
93,10.67,39.33,0.33,1.17,2.67,2017,Adrian Peterson,26,SF,10.666667,39.333333,0.333333,1.166667,2.666667
94,14.43,56.43,0.29,1.57,3.43,2017,Adrian Peterson,27,SEA,14.428571,56.428571,0.285714,1.571429,3.428571
95,15.25,53.00,0.25,1.62,4.62,2017,Adrian Peterson,28,HOU,15.250000,53.000000,0.250000,1.625000,4.625000
96,15.11,50.00,0.22,1.56,5.56,2017,Adrian Peterson,29,JAX,15.111111,50.000000,0.222222,1.555556,5.555556
97,0.00,0.00,0.00,0.00,0.00,2018,Adrian Peterson,30,ARI,0.000000,0.000000,0.000000,0.000000,0.000000
98,26.00,96.00,1.00,3.00,70.00,2018,Adrian Peterson,31,IND,0.000000,0.000000,0.000000,0.000000,0.000000
99,18.50,58.00,0.50,3.00,50.00,2018,Adrian Peterson,32,GB,0.000000,0.000000,0.000000,0.000000,0.000000
100,18.67,78.67,1.00,2.00,33.33,2018,Adrian Peterson,33,GB,0.000000,0.000000,0.000000,0.000000,0.000000
101,18.75,89.00,1.25,1.50,25.00,2018,Adrian Peterson,34,NO,18.750000,89.000000,1.250000,1.500000,25.000000
102,15.80,72.40,1.00,1.80,27.20,2018,Adrian Peterson,35,CAR,15.800000,72.400000,1.000000,1.800000,27.200000
103,16.00,76.50,0.83,1.67,22.67,2018,Adrian Peterson,36,DAL,16.000000,76.500000,0.833333,1.666667,22.666667
104,17.14,79.71,0.71,1.71,20.57,2018,Adrian Peterson,37,NYG,17.142857,79.714286,0.714286,1.714286,20.571429

In [93]:
temp.head()

,att_avg,yds_avg,td_avg,tar_avg,rec_yds_avg,year,Name,games,Opponent,att_ma,yds_ma,td_ma,tar_ma,rec_yds_ma
0,0.0,0.0,0.0,0.0,0.0,2016,Aaron Green,1,SF,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,2016,Aaron Green,2,ARI,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,2017,Aaron Jones,1,ATL,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,2017,Aaron Jones,2,CIN,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,2017,Aaron Jones,3,CHI,0.0,0.0,0.0,0.0,0.0

In [49]:
temp.isnull().sum()

att_avg        0
yds_avg        0
td_avg         0
tar_avg        0
rec_yds_avg    0
year           0
Name           0
games          0
Opponent       0
att_ma         0
yds_ma         0
td_ma          0
tar_ma         0
rec_yds_ma     0
dtype: int64

In [135]:
cols = temp.columns.tolist()
cols = cols[5:9] + cols[:5] + cols[9:]
temp = temp[cols]

In [136]:
temp.tail()

,year,Name,games,Opponent,att_avg,yds_avg,td_avg,tar_avg,rec_yds_avg,att_ma,yds_ma,td_ma,tar_ma,rec_yds_ma
6902,2015,Zurlon Tipton,6,DEN,0.40,1.80,0.0,0.20,0.00,0.400000,1.800000,0.0,0.200000,0.000000
6903,2015,Zurlon Tipton,7,ATL,0.33,1.50,0.0,0.17,0.00,0.333333,1.500000,0.0,0.166667,0.000000
6904,2015,Zurlon Tipton,8,PIT,0.29,1.29,0.0,0.14,0.00,0.285714,1.285714,0.0,0.142857,0.000000
6905,2015,Zurlon Tipton,9,JAX,0.38,1.12,0.0,0.38,0.88,0.375000,1.125000,0.0,0.375000,0.875000
6906,2015,Zurlon Tipton,10,HOU,0.44,1.78,0.0,0.89,6.33,0.444444,1.777778,0.0,0.888889,6.333333

## Career Average

In [98]:
# Week 1 stats are player's career average through 2014 season
# Populate current dataframe with current year averages of players

def career_average (grouped_df1, grouped_df2=None):
    new_grouped_df1 = pd.DataFrame(index= grouped_df1.index)
    for col in grouped_df1: # Iterate through every attribute in the team_stats dataframe
        points=[]  # Create an empty list to hold the season average of the current attribute

        try:
            for player in grouped_df1.index.levels[0]:  # Iterate through every player in the team_stats df
                if player in list(grouped_df2.index.levels[0].unique()):
                    total =[grouped_df2.loc[player][col][-1]] # If player not a rookie, use final average from 2015
                else:
                    total =[]  # create an empty list to hold the weekly attributes value
                
                for week in grouped_df1.loc[player].index: # Iterate throough every week for the current player
                    total.append(grouped_df1.loc[player].loc[week][col]) # Add player's value for the current week's attribute to the total list
                    points.append(round(np.mean(total),2))  # Add the average of the total list to the season average list
                    
            new_grouped_df1['{}_car'.format(col.lower())] = points # Insert season average list for current attribute into the current stats dataframe


                                
        except:
            for player in grouped_df1.index.levels[0]:  # Iterate through every player in the team_stats df
                total = []

                for week in grouped_df1.loc[player].index: # Iterate throough every week for the current player
                    total.append(grouped_df1.loc[player].loc[week][col]) # Add player's value for the current week's attribute to the total list
                    points.append(round(np.mean(total),2))  # Add the average of the total list to the season average list

            new_grouped_df1['{}_car'.format(col.lower())] = points # Insert season average list for current attribute into the current stats dataframe
    return new_grouped_df1

In [99]:
df_career_2015 = career_average(rb_group['player_2015'])
df_career_2016 = career_average(rb_group['player_2016'], rb_group['player_2015'])
df_career_2017 = career_average(rb_group['player_2017'], rb_group['player_2016'])
df_career_2018 = career_average(rb_group['player_2018'], rb_group['player_2017'])

In [100]:
player_career_grp = pd.concat([df_career_2015, df_career_2016])
player_career_grp = pd.concat([player_career_grp, df_career_2017])
player_career_grp = pd.concat([player_career_grp, df_career_2018])
player_career_grp.head()

                                att_car  yds_car  td_car  tar_car  rec_yds_car
Name            games Opponent
Aaron Ripkowski 1     CHI           0.0      0.0     0.0      0.0          0.0
                2     SEA           0.0      0.0     0.0      0.0          0.0
                3     KC            0.0      0.0     0.0      0.0          0.0
                4     SF            0.0      0.0     0.0      0.0          0.0
                5     LAR           0.0      0.0     0.0      0.0          0.0

In [101]:
career_shifted = shift_dict(player_career_grp)
career_shifted.head()

                  games Opponent  att_car  yds_car  td_car  tar_car  \
Aaron Green 2000    0.0        0      0.0      0.0     0.0      0.0
            2001    1.0       SF      0.0      0.0     0.0      0.0
Aaron Jones 3890    0.0        0      0.0      0.0     0.0      0.0
            3891    1.0      ATL      0.0      0.0     0.0      0.0
            3892    2.0      CIN      0.0      0.0     0.0      0.0

                  rec_yds_car
Aaron Green 2000          0.0
            2001          0.0
Aaron Jones 3890          0.0
            3891          0.0
            3892          0.0

In [104]:
temp1.head()

,year,Name,games,Opponent,att_avg,yds_avg,td_avg,tar_avg,rec_yds_avg,att_ma,yds_ma,td_ma,tar_ma,rec_yds_ma
0,2016,Aaron Green,1,SF,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2016,Aaron Green,2,ARI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2017,Aaron Jones,1,ATL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2017,Aaron Jones,2,CIN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2017,Aaron Jones,3,CHI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [103]:
career_shifted.reset_index(inplace=True)
career_shifted.head()

,level_0,level_1,games,Opponent,att_car,yds_car,td_car,tar_car,rec_yds_car
0,Aaron Green,2000,0.0,0,0.0,0.0,0.0,0.0,0.0
1,Aaron Green,2001,1.0,SF,0.0,0.0,0.0,0.0,0.0
2,Aaron Jones,3890,0.0,0,0.0,0.0,0.0,0.0,0.0
3,Aaron Jones,3891,1.0,ATL,0.0,0.0,0.0,0.0,0.0
4,Aaron Jones,3892,2.0,CIN,0.0,0.0,0.0,0.0,0.0

In [105]:
career_shifted.drop(['level_0','level_1','games','Opponent'], axis =1, inplace=True)
career_shifted.head()

   att_car  yds_car  td_car  tar_car  rec_yds_car
0      0.0      0.0     0.0      0.0          0.0
1      0.0      0.0     0.0      0.0          0.0
2      0.0      0.0     0.0      0.0          0.0
3      0.0      0.0     0.0      0.0          0.0
4      0.0      0.0     0.0      0.0          0.0

In [96]:
career_shifted.drop(['points_car','surface_0_car','h/a_1_car','def_rk_car'],axis=1, inplace=True)
career_shifted.head()

   att_car  comp%_car  yds_car  td_car
0     0.00        0.0     0.00     0.0
1     0.00        0.0     0.00     0.0
2    44.00       68.0   303.00     2.0
3    38.00       68.5   261.00     1.5
4    38.33       68.0   248.33     1.0

In [148]:
career_shifted.columns

Index(['att_car', 'yds_car', 'td_car', 'tar_car', 'rec_yds_car'], dtype='object')

In [153]:
career_shifted = career_shifted.sort_values(['level_0','games_car']).drop(['level_0','level_1','Week','Opponent'], axis=1)
career_shifted.head()

   games_car  att_car  comp%_car  yds_car  td_car  def_rk_car
0        0.0     0.00        0.0     0.00     0.0        0.00
1        0.0     0.00        0.0     0.00     0.0        0.00
2        1.0    44.00       68.0   303.00     2.0        5.00
3        1.5    38.00       68.5   261.00     1.5       18.00
4        2.0    38.33       68.0   248.33     1.0       12.33

In [149]:
df = pd.concat([df, career_shifted], axis=1)
df.shape

(6907, 19)

In [150]:
df.head()

,att_avg,yds_avg,td_avg,tar_avg,rec_yds_avg,year,Name,games,Opponent,att_ma,yds_ma,td_ma,tar_ma,rec_yds_ma,att_car,yds_car,td_car,tar_car,rec_yds_car
0,0.0,0.0,0.0,0.0,0.0,2016,Aaron Green,1,SF,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,2016,Aaron Green,2,ARI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,2017,Aaron Jones,1,ATL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,2017,Aaron Jones,2,CIN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,2017,Aaron Jones,3,CHI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [151]:
df[df['Name']=='Adrian Peterson'][:10]

,att_avg,yds_avg,td_avg,tar_avg,rec_yds_avg,year,Name,games,Opponent,att_ma,yds_ma,td_ma,tar_ma,rec_yds_ma,att_car,yds_car,td_car,tar_car,rec_yds_car
68,0.00,0.00,0.00,0.00,0.00,2015,Adrian Peterson,1,SF,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.00,0.00,0.00
69,10.00,31.00,0.00,3.00,21.00,2015,Adrian Peterson,2,DET,0.000000,0.000000,0.000000,0.000000,0.000000,10.00,31.00,0.00,3.00,21.00
70,19.50,82.50,0.00,2.50,39.50,2015,Adrian Peterson,3,LAC,0.000000,0.000000,0.000000,0.000000,0.000000,19.50,82.50,0.00,2.50,39.50
71,19.67,97.00,0.67,1.67,26.33,2015,Adrian Peterson,4,DEN,0.000000,0.000000,0.000000,0.000000,0.000000,19.67,97.00,0.67,1.67,26.33
72,18.75,93.00,0.75,2.75,23.00,2015,Adrian Peterson,5,KC,18.750000,93.000000,0.750000,2.750000,23.000000,18.75,93.00,0.75,2.75,23.00
73,20.20,86.40,0.60,2.40,17.80,2015,Adrian Peterson,6,DET,20.200000,86.400000,0.600000,2.400000,17.800000,20.20,86.40,0.60,2.40,17.80
74,20.00,88.33,0.50,2.50,16.83,2015,Adrian Peterson,7,CHI,20.000000,88.333333,0.500000,2.500000,16.833333,20.00,88.33,0.50,2.50,16.83
75,20.00,90.43,0.43,2.43,15.29,2015,Adrian Peterson,8,LAR,20.000000,90.428571,0.428571,2.428571,15.285714,20.00,90.43,0.43,2.43,15.29
76,21.12,94.75,0.50,2.38,15.62,2015,Adrian Peterson,9,OAK,21.125000,94.750000,0.500000,2.375000,15.625000,21.12,94.75,0.50,2.38,15.62
77,21.67,106.78,0.56,2.44,15.33,2015,Adrian Peterson,10,GB,21.666667,106.777778,0.555556,2.444444,15.333333,21.67,106.78,0.56,2.44,15.33

In [140]:
rb[rb['Name']=='Adrian Peterson'][:10]

,games,year,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,def_rk,h/a_1,surface_0,points
68,1,2015,Adrian Peterson,MIN,1,SF,10,31,0,3,21,32,0.0,1.0,8.2
69,2,2015,Adrian Peterson,MIN,2,DET,29,134,0,2,58,17,1.0,0.0,23.2
70,3,2015,Adrian Peterson,MIN,3,LAC,20,126,2,0,0,26,1.0,0.0,27.6
71,4,2015,Adrian Peterson,MIN,4,DEN,16,81,1,6,13,14,0.0,1.0,19.4
72,5,2015,Adrian Peterson,MIN,6,KC,26,60,0,1,-3,3,1.0,0.0,6.7
73,6,2015,Adrian Peterson,MIN,7,DET,19,98,0,3,12,17,0.0,0.0,14.0
74,7,2015,Adrian Peterson,MIN,8,CHI,20,103,0,2,6,22,0.0,1.0,15.9
75,8,2015,Adrian Peterson,MIN,9,LAR,29,125,1,2,18,23,1.0,0.0,25.3
76,9,2015,Adrian Peterson,MIN,10,OAK,26,203,1,3,13,21,0.0,1.0,32.6
77,10,2015,Adrian Peterson,MIN,11,GB,13,45,1,2,16,13,1.0,0.0,13.1

In [152]:
df['surface_0']=rb['surface_0'].values
df['h/a_1']=rb['h/a_1'].values
df['def_rk'] = rb['def_rk'].values
df['points'] = rb['points'].values
df['Week'] = rb['Week']

In [153]:
df.head()

,att_avg,yds_avg,td_avg,tar_avg,rec_yds_avg,year,Name,games,Opponent,att_ma,...,att_car,yds_car,td_car,tar_car,rec_yds_car,surface_0,h/a_1,def_rk,points,Week
0,0.0,0.0,0.0,0.0,0.0,2016,Aaron Green,1,SF,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,32,0.0,16
1,0.0,0.0,0.0,0.0,0.0,2016,Aaron Green,2,ARI,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1,0.0,17
2,0.0,0.0,0.0,0.0,0.0,2017,Aaron Jones,1,ATL,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14,0.0,2
3,0.0,0.0,0.0,0.0,0.0,2017,Aaron Jones,2,CIN,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,30,0.0,3
4,0.0,0.0,0.0,0.0,0.0,2017,Aaron Jones,3,CHI,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,11,10.9,4

In [155]:
cols = df.columns.tolist()
cols = cols[5:7] + cols[-1:] + cols[8:9] + cols[7:8] + cols[9:-1]
df=df[cols]
df.head()

,year,Name,Week,Opponent,games,att_ma,yds_ma,td_ma,tar_ma,rec_yds_ma,att_car,yds_car,td_car,tar_car,rec_yds_car,surface_0,h/a_1,def_rk,points
0,2016,Aaron Green,16,SF,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,32,0.0
1,2016,Aaron Green,17,ARI,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1,0.0
2,2017,Aaron Jones,2,ATL,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14,0.0
3,2017,Aaron Jones,3,CIN,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,30,0.0
4,2017,Aaron Jones,4,CHI,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,11,10.9

In [156]:
df.shape

(6907, 19)

In [65]:
#A function that will covert a time series database into a supervised learning database

def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
    n_vars = 1 if type(data) is list else data.shape[1]
    df = pd.DataFrame(data)
    cols, names = list(), list()
    # input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
            cols.append(df.shift(i))
            names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
    # forecast sequence (t, t+1, ... t+n)
    for i in range(0, n_out):
        cols.append(df.shift(-i))
        if i == 0:
            names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
        else:
            names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
    # put it all together
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    # drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg

In [157]:
rb_stats = df
rb_stats.shape

(6907, 19)

In [158]:
rb_stats.to_csv('input/rb/rb_stats.csv', index=False)

In [159]:
rb_stats= pd.read_csv('input/rb/rb_stats.csv')

In [160]:
rb_stats.shape

(6907, 19)

In [70]:
rb_stats.isnull().sum()

year           0
Name           0
games          0
Opponent       0
att_avg        0
yds_avg        0
td_avg         0
tar_avg        0
rec_yds_avg    0
att_ma         0
yds_ma         0
td_ma          0
tar_ma         0
rec_yds_ma     0
att_car        0
yds_car        0
td_car         0
tar_car        0
rec_yds_car    0
surface_0      0
h/a_1          0
def_rk         0
points         0
dtype: int64