In [2]:
import pandas as pd
import numpy as np
import json
from bs4 import BeautifulSoup
import requests
import re
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [3]:
from dk_weekly_update import DkWeeklyUpdate as dk

In [4]:
df = pd.read_csv('input/rb/rb_loc_cleaned.csv')
df['year'].unique()

array([2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)

In [5]:
df[df['Name']=='Jordan Howard']

,games,year,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,def_rk,h/a_1,surface_0,points
11822,1,2018,Jordan Howard,CHI,1,GB,15,82,0,5,25,11,0.0,1.0,15.7
11937,2,2018,Jordan Howard,CHI,2,SEA,14,35,0,4,33,16,1.0,1.0,9.8
12050,3,2018,Jordan Howard,CHI,3,ARI,24,61,1,2,20,31,0.0,1.0,16.1
12155,4,2018,Jordan Howard,CHI,4,TB,11,25,0,1,0,26,1.0,1.0,2.5
12367,5,2018,Jordan Howard,CHI,6,MIA,14,69,0,1,0,28,0.0,1.0,5.9
12443,6,2018,Jordan Howard,CHI,7,NE,12,39,1,1,9,20,1.0,1.0,11.8
12540,7,2018,Jordan Howard,CHI,8,NYJ,22,81,1,1,0,21,1.0,1.0,14.1

In [4]:
def_2018 = pd.read_csv('input/def/fantasy-football-points-allowed-defense-by-position.csv')
def_2018.head()

,Rank,Name,Team,Position,Week,Opponent,DraftKingsQuarterbackFantasyPointsAllowedAverage,DraftKingsRunningbackFantasyPointsAllowedAverage,DraftKingsWideReceiverFantasyPointsAllowedAverage,DraftKingsTightEndFantasyPointsAllowedAverage,DraftKingsKickerFantasyPointsAllowedAverage,DraftKingsFantasyPointsAllowedAverage
0,1,Chicago Bears,CHI,DST,8,NYJ,12.32,10.0,20.2,8.6,5,56.12
1,2,Arizona Cardinals,ARI,DST,8,SF,12.50,9.8,28.3,10.7,7,68.30
2,3,New England Patriots,NE,DST,8,BUF,10.42,22.0,29.0,9.0,9,79.42
3,4,Pittsburgh Steelers,PIT,DST,8,CLE,15.10,16.5,29.6,12.4,7,80.60
4,5,Minnesota Vikings,MIN,DST,8,NO,10.86,38.8,17.9,0.0,16,83.56

In [18]:
df.sort_values(['year','Week'],inplace=True)
df.tail()

,games,year,Name,Opponent,Team,Week,att,yds,td,tar,rec_yds,def_rk,h/a_1,surface_0,points
12395,12,2018,Ty Montgomery,SF,GB,6,4,12,1,3,10,22,0.0,1.0,10.2
12396,6,2018,Tyler Ervin,BUF,HOU,6,0,0,0,0,0,18,1.0,0.0,0.0
12397,6,2018,Wayne Gallman,PHI,NYG,6,4,17,0,5,25,8,1.0,0.0,6.2
12398,6,2018,Wendell Smallwood,NYG,PHI,6,18,51,0,2,0,19,0.0,0.0,6.1
12420,22,2018,Kareem Hunt,NE,KC,6,10,80,0,6,105,21,0.0,0.0,32.5

In [6]:
wk8 = pd.read_csv('input/rb/rb_wk8.csv')

In [7]:
wk8.head()

,Rank,Name,Team,Position,Week,Opponent,RushingAttempts,RushingYards,RushingYardsPerAttempt,RushingTouchdowns,ReceivingTargets,Receptions,ReceivingYards,ReceivingTouchdowns,Fumbles,FumblesLost,FantasyPointsPerGameDraftKings,FantasyPointsDraftKings
0,1,James Conner,PIT,RB,8,CLE,24,146,6.1,2,6,5,66,0,1,0,41.2,41.2
1,2,Todd Gurley,LAR,RB,8,GB,25,114,4.6,0,7,6,81,1,0,0,36.5,36.5
2,3,Marlon Mack,IND,RB,8,OAK,25,132,5.3,2,4,2,17,0,0,0,31.9,31.9
3,4,Joe Mixon,CIN,RB,8,TB,21,123,5.9,2,4,3,15,0,0,0,31.8,31.8
4,5,Adrian Peterson,WAS,RB,8,NYG,26,149,5.7,1,1,1,7,1,1,1,30.6,30.6

In [8]:
location = pd.read_csv('input/location.csv')
location.tail()

      Unnamed: 0              date  day  week home away  year
1653         116  October 28, 2018  Sun     8  OAK  IND  2018
1654         117  October 28, 2018  Sun     8  LAR   GB  2018
1655         118  October 28, 2018  Sun     8  ARI   SF  2018
1656         119  October 28, 2018  Sun     8  MIN   NO  2018
1657         120  October 29, 2018  Mon     8  BUF   NE  2018

In [9]:
position_dict = {'qb':'DraftKingsQuarterbackFantasyPointsAllowedAverage',
                    'wr':'DraftKingsWideReceiverFantasyPointsAllowedAverage',
                    'rb':'DraftKingsRunningbackFantasyPointsAllowedAverage',
                    'te':'DraftKingsTightEndFantasyPointsAllowedAverage'}

team_dict = {'New England Patriots':'NE',
            'Green Bay Packers':'GB',
            'Tampa Bay Buccaneers':'TB',
            'Kansas City Chiefs':'KC',
            'San Diego Chargers':'SD',
            'St. Louis Rams':'STL',
            'New Orleans Saints':'NO',
            'New York Jets':'NYJ',
            'New York Giants':'NYG',
            'San Francisco 49ers':'SF',
            'Los Angeles Rams':'LAR',
            'Jacksonville Jaguars':'JAX',
            'Los Angeles Chargers':'LAC'}

In [135]:
rb_dict = {}
for player in df['Name'].unique():
    rb_dict[player] = df[df['Name']==player]
    rb_dict[player].sort_values(['year','Week'], inplace=True)
    rb_dict[player].reset_index(drop=True, inplace=True)
    rb_dict[player].reset_index(inplace=True)
    rb_dict[player].rename(columns={'index':'games'}, inplace=True)
    rb_dict[player]['games' ] = rb_dict[player]['games'] +1

C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\pandas\core\frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)
C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [70]:
temp = pd.concat(rb_dict)
temp.head()

               games         Name Opponent Team  Week  att  def_rk  games  \
Aaron Jones 0      1  Aaron Jones      CHI   GB     4   13      11      2
            1      2  Aaron Jones      DAL   GB     5   19       8      3
            2      3  Aaron Jones      MIN   GB     6   13       1      4
            3      4  Aaron Jones       NO   GB     7   17      17      5
            4      5  Aaron Jones      DET   GB     9    5      31      6

               h/a_1  points  rec_yds  surface_0  tar  td  yds  year
Aaron Jones 0    1.0    10.9      NaN        1.0    0   1   49  2017
            1    0.0    23.4      NaN        0.0    1   1  125  2017
            2    0.0     5.2      NaN        0.0    4   0   41  2017
            3    1.0    25.8      NaN        1.0    5   1  131  2017
            4    1.0     3.1      NaN        1.0    5   0   12  2017

In [72]:
rb = temp.reset_index(drop=True)
rb.shape

(11896, 16)

In [15]:
wk8.rename(columns ={
                      'RushingAttempts':'att',
                      'RushingYards':'yds',
                      'RushingTouchdowns':'td',
                      'ReceivingTargets':'tar',
                      'ReceivingYards': 'rec_yds',
                    'FumblesLost':'fum',
                      'FantasyPointsDraftKings':'points'},inplace=True)
wk8.columns

Index(['Rank', 'Name', 'Team', 'Position', 'Week', 'Opponent', 'att', 'yds',
       'RushingYardsPerAttempt', 'td', 'tar', 'Receptions', 'rec_yds',
       'ReceivingTouchdowns', 'Fumbles', 'fum',
       'FantasyPointsPerGameDraftKings', 'points', 'def_rk'],
      dtype='object')

In [30]:
df.columns

Index(['games', 'year', 'Name', 'Opponent', 'Team', 'Week', 'att', 'yds', 'td',
       'tar', 'rec_yds', 'def_rk', 'h/a_1', 'surface_0', 'points'],
      dtype='object')

In [16]:
wk8.drop(['Receptions','RushingYardsPerAttempt', 'FantasyPointsPerGameDraftKings', 'Rank','Position', 'Fumbles','ReceivingTouchdowns','fum'],axis=1, inplace=True)
wk8.columns

Index(['Name', 'Team', 'Week', 'Opponent', 'att', 'yds', 'td', 'tar',
       'rec_yds', 'points', 'def_rk'],
      dtype='object')

In [25]:
def_2018.head()

,Rank,Name,Team,Position,Played,DraftKingsQuarterbackFantasyPointsAllowedAverage,DraftKingsRunningbackFantasyPointsAllowedAverage,DraftKingsWideReceiverFantasyPointsAllowedAverage,DraftKingsTightEndFantasyPointsAllowedAverage,DraftKingsKickerFantasyPointsAllowedAverage,DraftKingsFantasyPointsAllowedAverage
0,1,Baltimore Ravens,BAL,DST,7,14.60,14.57,32.21,11.77,2.57,75.73
1,2,Jacksonville Jaguars,JAX,DST,7,15.37,20.50,29.46,8.50,7.14,80.97
2,3,Dallas Cowboys,DAL,DST,7,17.29,22.43,29.70,10.64,4.00,84.06
3,4,Seattle Seahawks,SEA,DST,6,15.17,22.97,35.78,8.25,3.00,85.17
4,5,Tennessee Titans,TEN,DST,7,17.78,17.80,41.56,8.04,4.43,89.61

In [17]:
wk8.head()

,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,points,def_rk
0,James Conner,PIT,8,CLE,24,146,2,6,66,41.2,28
1,Todd Gurley,LAR,8,GB,25,114,0,7,81,36.5,25
2,Marlon Mack,IND,8,OAK,25,132,2,4,17,31.9,27
3,Joe Mixon,CIN,8,TB,21,123,2,4,15,31.8,23
4,Adrian Peterson,WAS,8,NYG,26,149,1,1,7,30.6,24

In [62]:
df.shape

(13056, 15)

## Add Defensive Ranking

In [14]:
wk8 = add_defensive_rank(wk8, def_2018, 'rb')
wk8

,Rank,Name,Team,Position,Week,Opponent,RushingAttempts,RushingYards,RushingYardsPerAttempt,RushingTouchdowns,ReceivingTargets,Receptions,ReceivingYards,ReceivingTouchdowns,Fumbles,FumblesLost,FantasyPointsPerGameDraftKings,FantasyPointsDraftKings,def_rk
0,1,James Conner,PIT,RB,8,CLE,24,146,6.1,2,6,5,66,0,1,0,41.2,41.2,28
1,2,Todd Gurley,LAR,RB,8,GB,25,114,4.6,0,7,6,81,1,0,0,36.5,36.5,25
2,3,Marlon Mack,IND,RB,8,OAK,25,132,5.3,2,4,2,17,0,0,0,31.9,31.9,27
3,4,Joe Mixon,CIN,RB,8,TB,21,123,5.9,2,4,3,15,0,0,0,31.8,31.8,23
4,5,Adrian Peterson,WAS,RB,8,NYG,26,149,5.7,1,1,1,7,1,1,1,30.6,30.6,24
5,6,Alvin Kamara,NO,RB,8,MIN,13,45,3.5,1,8,7,31,1,0,0,26.6,26.6,26
6,7,James White,NE,RB,8,BUF,8,15,1.9,1,13,10,79,0,0,0,25.4,25.4,17
7,8,Kenyan Drake,MIA,RB,8,HOU,12,58,4.8,1,2,2,37,1,0,0,23.5,23.5,20
8,9,Chris Carson,SEA,RB,8,DET,25,105,4.2,1,2,2,19,0,0,0,23.4,23.4,19
9,10,Lamar Miller,HOU,RB,8,MIA,18,133,7.4,1,2,0,0,0,0,0,22.3,22.3,18
10,11,Christian McCaffrey,CAR,RB,8,BAL,14,45,3.2,1,6,4,11,1,0,0,21.6,21.6,11
11,12,Latavius Murray,MIN,RB,8,NO,13,56,4.3,1,6,5,39,0,0,0,20.5,20.5,13
12,13,Phillip Lindsay,DEN,RB,8,KC,18,95,5.3,1,3,3,17,0,0,0,20.2,20.2,22
13,14,Saquon Barkley,NYG,RB,8,WAS,13,38,2.9,0,10,9,73,0,0,0,20.1,20.1,7
14,15,Kareem Hunt,KC,RB,8,DEN,16,50,3.1,0,6,5,36,1,0,0,19.6,19.6,8
15,16,Tarik Cohen,CHI,RB,8,NYJ,5,40,8.0,0,3,1,70,1,1,0,18.0,18.0,21
16,17,Aaron Jones,GB,RB,8,LAR,12,86,7.2,1,2,2,0,0,0,0,16.6,16.6,14
17,18,TJ Yeldon,JAX,RB,8,PHI,2,7,3.5,0,9,7,83,0,0,0,16.0,16.0,4
18,19,LeSean McCoy,BUF,RB,8,NE,12,13,1.1,0,8,6,82,0,0,0,15.5,15.5,9
19,20,Kerryon Johnson,DET,RB,8,SEA,8,22,2.8,0,8,6,69,0,0,0,15.1,15.1,6
20,21,Wendell Smallwood,PHI,RB,8,JAX,8,24,3.0,0,3,2,42,1,0,0,14.6,14.6,12
21,22,Peyton Barber,TB,RB,8,CIN,19,85,4.5,1,0,0,0,0,0,0,14.5,14.5,10
22,23,Jalen Richard,OAK,RB,8,IND,2,14,7.0,0,8,8,50,0,0,0,14.4,14.4,15
23,24,Jordan Howard,CHI,RB,8,NYJ,22,81,3.7,1,1,0,0,0,0,0,14.1,14.1,21
24,24,Devontae Booker,DEN,RB,8,KC,9,78,8.7,0,4,4,23,0,0,0,14.1,14.1,22
25,26,David Johnson,ARI,RB,8,SF,16,59,3.7,0,4,4,41,0,0,0,14.0,14.0,5
26,27,Alex Collins,BAL,RB,8,CAR,11,49,4.5,1,2,2,14,0,1,1,13.3,13.3,16
27,28,Mark Ingram,NO,RB,8,MIN,13,63,4.8,0,3,3,29,0,0,0,12.2,12.2,26
28,29,Javorius Allen,BAL,RB,8,CAR,0,0,0.0,0,5,3,18,1,0,0,10.8,10.8,16
29,30,Nyheim Hines,IND,RB,8,OAK,11,78,7.1,0,2,2,7,0,0,0,10.5,10.5,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,65,Patrick DiMarco,BUF,FB,8,NE,0,0,0.0,0,1,1,0,0,0,0,1.0,1.0,9
66,67,Ty Montgomery,GB,RB,8,LAR,2,6,3.0,0,2,1,2,0,1,1,0.8,0.8,14
67,68,Malcolm Brown,LAR,RB,8,GB,1,7,7.0,0,0,0,0,0,0,0,0.7,0.7,25
68,69,Ameer Abdullah,DET,RB,8,SEA,0,0,0.0,0,1,1,6,0,1,1,0.6,0.6,6
69,70,Kalen Ballage,MIA,RB,8,HOU,1,5,5.0,0,0,0,0,0,0,0,0.5,0.5,20
70,71,Deandre Washington,OAK,RB,8,IND,1,4,4.0,0,0,0,0,0,0,0,0.4,0.4,15
71,71,Kenjon Barner,NE,RB,8,BUF,2,4,2.0,0,0,0,0,0,0,0,0.4,0.4,17
72,73,Tre Madden,SEA,RB,8,DET,2,1,0.5,0,0,0,0,0,0,0,0.1,0.1,19
73,73,CJ Ham,MIN,RB,8,NO,2,1,0.5,0,0,0,0,0,0,0,0.1,0.1,13
74,75,Brandon Bolden,MIA,RB,8,HOU,0,0,0.0,0,0,0,0,0,0,0,0.0,0.0,20
75,75,Senorise Perry,MIA,RB,8,HOU,0,0,0.0,0,0,0,0,0,0,0,0.0,0.0,20
76,75,Gregory Howell Jr.,HOU,RB,8,MIA,0,0,0.0,0,0,0,0,0,0,0,0.0,0.0,18
77,75,Tommy Bohanon,JAX,FB,8,PHI,0,0,0.0,0,0,0,0,0,0,0,0.0,0.0,4
78,75,Benjamin Cunningham,CHI,RB,8,NYJ,0,0,0.0,0,0,0,0,0,0,0,0.0,0.0,21
79,75,Alan Cross,TB,FB,8,CIN,0,0,0.0,0,0,0,0,0,0,0,0.0,0.0,10
80,75,Nick Bellore,DET,RB,8,SEA,0,0,0.0,0,0,0,0,0,0,0,0.0,0.0,6
81,75,CJ Prosise,SEA,RB,8,DET,0,0,0.0,0,0,0,0,0,0,0,0.0,0.0,19
82,75,Rashaad Penny,SEA,RB,8,DET,0,0,0.0,0,0,0,0,0,0,0,0.0,0.0,19
83,75,Spencer Ware,KC,RB,8,DEN,0,0,0.0,0,0,0,0,0,0,0,0.0,0.0,8
84,75,Andy Janovich,DEN,FB,8,KC,0,0,0.0,0,0,0,0,0,0,0,0.0,0.0,22
85,75,Kapri Bibbs,WAS,RB,8,NYG,0,0,0.0,0,0,0,0,0,0,0,0.0,0.0,24
86,75,Elijhaa Penny,NYG,RB,8,WAS,0,0,0.0,0,0,0,0,0,0,0,0.0,0.0,7
87,75,Roosevelt Nix,PIT,RB,8,CLE,0,0,0.0,0,0,0,0,0,0,0,0.0,0.0,28
88,75,Alex Armah,CAR,RB,8,BAL,0,0,0.0,0,0,0,0,0,0,0,0.0,0.0,11
89,75,Patrick Ricard,BAL,FB,8,CAR,0,0,0.0,0,0,0,0,0,0,0,0.0,0.0,16
90,75,Derrick Coleman,ARI,FB,8,SF,0,0,0.0,0,0,0,0,0,0,0,0.0,0.0,5
91,75,TJ Logan,ARI,RB,8,SF,0,0,0.0,0,0,0,0,0,0,0,0.0,0.0,5
92,75,Zach Line,NO,FB,8,MIN,0,0,0.0,0,0,0,0,0,0,0,0.0,0.0,26
93,75,Marcus Murphy,BUF,RB,8,NE,0,0,0.0,0,0,0,0,0,0,0,0.0,0.0,9
94,95,Wayne Gallman,NYG,RB,8,WAS,1,-1,-1.0,0,0,0,0,0,0,0,-0.1,-0.1,7

In [18]:
loc = location[location['year']==2018]
loc = loc[loc['week']==8]
loc.shape

(14, 7)

## Home or Away

In [19]:
loc_wk = {}
home_lst = []
for week in loc['week'].unique():
    loc_wk[week]  = loc[loc['week']==week]
for idx, team in enumerate(wk8['Team']):
    if team in list(loc['home']):
        home_lst.append('home')           
    else:
        home_lst.append('away')
wk8['h/a'] = home_lst

In [21]:
wk8.head()

,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,points,def_rk,h/a
0,James Conner,PIT,8,CLE,24,146,2,6,66,41.2,28,home
1,Todd Gurley,LAR,8,GB,25,114,0,7,81,36.5,25,home
2,Marlon Mack,IND,8,OAK,25,132,2,4,17,31.9,27,away
3,Joe Mixon,CIN,8,TB,21,123,2,4,15,31.8,23,home
4,Adrian Peterson,WAS,8,NYG,26,149,1,1,7,30.6,24,away

## Surface

In [22]:
surface_dict={'KC':'grass',
             'CAR':'grass',
              'WAS':'grass',
              'CLE':'grass',
              'MIA':'grass',
              'PIT':'grass',
              'GB':'grass',
              'SF':'grass',
              'PHI':'grass',
              'LAR':'grass',
              'BAL': 'grass',
              'TEN':'grass',
              'OAK':'grass',
              'LAC':'grass',
              'TB':'grass',
              'CHI':'grass',
              'DEN':'grass',
              'ARI':'grass',
              'DAL':'turf',
              'SEA':'turf',
              'DET':'turf',
              'ATL':'turf',
              'NE':'turf',
              'IND':'turf',
              'NO':'turf',
              'NYG':'turf',
              'NYJ':'turf',
              'HOU':'turf',
              'BUF':'turf',
              'CIN':'turf',
              'MIN':'turf',
              'JAX':'grass'
              
             }

In [23]:
wk8.index = wk8['Team']

# Add the type of field the player palyed on by mapping the field on which the game was played to the surface dictionary

surface = []
for idx, team in enumerate(wk8['Team']):
    if wk8.iloc[idx]['h/a']=='home':
        surface.append(surface_dict[team])
    else:
        surface.append(surface_dict[wk8.iloc[idx]['Opponent']])


wk8['surface'] = surface

In [24]:
wk8.columns

Index(['Name', 'Team', 'Week', 'Opponent', 'att', 'yds', 'td', 'tar',
       'rec_yds', 'points', 'def_rk', 'h/a', 'surface'],
      dtype='object')

In [25]:
wk8.head()

,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,points,def_rk,h/a,surface
Team,,,,,,,,,,,,,
PIT,James Conner,PIT,8,CLE,24,146,2,6,66,41.2,28,home,grass
LAR,Todd Gurley,LAR,8,GB,25,114,0,7,81,36.5,25,home,grass
IND,Marlon Mack,IND,8,OAK,25,132,2,4,17,31.9,27,away,grass
CIN,Joe Mixon,CIN,8,TB,21,123,2,4,15,31.8,23,home,turf
WAS,Adrian Peterson,WAS,8,NYG,26,149,1,1,7,30.6,24,away,turf

## Encode

In [26]:
wk8 = one_hot(wk8)

In [27]:
wk8.drop(['h/a_0','surface_1','surface','h/a','surface_encoded','h/a_encoded'], axis=1, inplace=True)
wk8.shape

(95, 13)

In [28]:
wk8.columns

Index(['Name', 'Team', 'Week', 'Opponent', 'att', 'yds', 'td', 'tar',
       'rec_yds', 'points', 'def_rk', 'h/a_1', 'surface_0'],
      dtype='object')

In [29]:
wk8['year']=2018

In [55]:
rb.shape

(12405, 15)

In [56]:
rb.head()

,games,year,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,def_rk,h/a_1,surface_0,points
0,1,2012,Adrian Peterson,MIN,1,JAX,17,84,2,1,3,30,1.0,0.0,21.7
1,1,2012,Ahmad Bradshaw,NYG,1,DAL,17,78,1,2,15,16,1.0,0.0,17.3
2,1,2012,Alfred Morris,WAS,1,NO,28,96,2,0,0,29,0.0,0.0,21.6
3,1,2012,Andre Brown,NYG,1,DAL,0,0,0,0,0,16,1.0,0.0,0.0
4,1,2012,Anthony Allen,BAL,1,CIN,4,13,0,0,0,27,1.0,1.0,1.3

## Games

In [30]:
games_lst = []
temp = wk8.set_index('Name')
for name in temp.index:
    if name in list(df['Name'].unique()):
        games_lst.append(df[df['Name']==name]['games'].max()+1)
    else:
        games_lst.append(1)

In [31]:
wk8['games'] = games_lst

In [32]:
wk8

,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,points,def_rk,h/a_1,surface_0,year,games
0,James Conner,PIT,8,CLE,24,146,2,6,66,41.2,28,1.0,1.0,2018,7
1,Todd Gurley,LAR,8,GB,25,114,0,7,81,36.5,25,1.0,1.0,2018,21
2,Marlon Mack,IND,8,OAK,25,132,2,4,17,31.9,27,0.0,1.0,2018,4
3,Joe Mixon,CIN,8,TB,21,123,2,4,15,31.8,23,1.0,0.0,2018,6
4,Adrian Peterson,WAS,8,NYG,26,149,1,1,7,30.6,24,0.0,0.0,2018,54
5,Alvin Kamara,NO,8,MIN,13,45,1,8,31,26.6,26,0.0,0.0,2018,7
6,James White,NE,8,BUF,8,15,1,13,79,25.4,17,0.0,0.0,2018,31
7,Kenyan Drake,MIA,8,HOU,12,58,1,2,37,23.5,20,0.0,0.0,2018,8
8,Chris Carson,SEA,8,DET,25,105,1,2,19,23.4,19,0.0,0.0,2018,6
9,Lamar Miller,HOU,8,MIA,18,133,1,2,0,22.3,18,1.0,0.0,2018,98
10,Christian McCaffrey,CAR,8,BAL,14,45,1,6,11,21.6,11,1.0,1.0,2018,7
11,Latavius Murray,MIN,8,NO,13,56,1,6,39,20.5,13,1.0,0.0,2018,69
12,Phillip Lindsay,DEN,8,KC,18,95,1,3,17,20.2,22,0.0,1.0,2018,8
13,Saquon Barkley,NYG,8,WAS,13,38,0,10,73,20.1,7,1.0,0.0,2018,8
14,Kareem Hunt,KC,8,DEN,16,50,0,6,36,19.6,8,1.0,1.0,2018,24
15,Tarik Cohen,CHI,8,NYJ,5,40,0,3,70,18.0,21,1.0,1.0,2018,7
16,Aaron Jones,GB,8,LAR,12,86,1,2,0,16.6,14,0.0,1.0,2018,5
17,TJ Yeldon,JAX,8,PHI,2,7,0,9,83,16.0,4,1.0,1.0,2018,20
18,LeSean McCoy,BUF,8,NE,12,13,0,8,82,15.5,9,1.0,0.0,2018,93
19,Kerryon Johnson,DET,8,SEA,8,22,0,8,69,15.1,6,1.0,0.0,2018,7
20,Wendell Smallwood,PHI,8,JAX,8,24,0,3,42,14.6,12,0.0,1.0,2018,8
21,Peyton Barber,TB,8,CIN,19,85,1,0,0,14.5,10,0.0,0.0,2018,7
22,Jalen Richard,OAK,8,IND,2,14,0,8,50,14.4,15,1.0,1.0,2018,7
23,Jordan Howard,CHI,8,NYJ,22,81,1,1,0,14.1,21,1.0,1.0,2018,7
24,Devontae Booker,DEN,8,KC,9,78,0,4,23,14.1,22,0.0,1.0,2018,8
25,David Johnson,ARI,8,SF,16,59,0,4,41,14.0,5,1.0,1.0,2018,24
26,Alex Collins,BAL,8,CAR,11,49,1,2,14,13.3,16,0.0,1.0,2018,8
27,Mark Ingram,NO,8,MIN,13,63,0,3,29,12.2,26,0.0,0.0,2018,79
28,Javorius Allen,BAL,8,CAR,0,0,0,5,18,10.8,16,0.0,1.0,2018,24
29,Nyheim Hines,IND,8,OAK,11,78,0,2,7,10.5,27,0.0,1.0,2018,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Patrick DiMarco,BUF,8,NE,0,0,0,1,0,1.0,9,1.0,0.0,2018,89
66,Ty Montgomery,GB,8,LAR,2,6,0,2,2,0.8,14,0.0,1.0,2018,13
67,Malcolm Brown,LAR,8,GB,1,7,0,0,0,0.7,25,1.0,1.0,2018,9
68,Ameer Abdullah,DET,8,SEA,0,0,0,1,6,0.6,6,1.0,0.0,2018,19
69,Kalen Ballage,MIA,8,HOU,1,5,0,0,0,0.5,20,0.0,0.0,2018,4
70,Deandre Washington,OAK,8,IND,1,4,0,0,0,0.4,15,1.0,1.0,2018,1
71,Kenjon Barner,NE,8,BUF,2,4,0,0,0,0.4,17,0.0,0.0,2018,22
72,Tre Madden,SEA,8,DET,2,1,0,0,0,0.1,19,0.0,0.0,2018,7
73,CJ Ham,MIN,8,NO,2,1,0,0,0,0.1,13,1.0,0.0,2018,8
74,Brandon Bolden,MIA,8,HOU,0,0,0,0,0,0.0,20,0.0,0.0,2018,92
75,Senorise Perry,MIA,8,HOU,0,0,0,0,0,0.0,20,0.0,0.0,2018,56
76,Gregory Howell Jr.,HOU,8,MIA,0,0,0,0,0,0.0,18,1.0,0.0,2018,7
77,Tommy Bohanon,JAX,8,PHI,0,0,0,0,0,0.0,4,1.0,1.0,2018,50
78,Benjamin Cunningham,CHI,8,NYJ,0,0,0,0,0,0.0,21,1.0,1.0,2018,83
79,Alan Cross,TB,8,CIN,0,0,0,0,0,0.0,10,0.0,0.0,2018,7
80,Nick Bellore,DET,8,SEA,0,0,0,0,0,0.0,6,1.0,0.0,2018,7
81,CJ Prosise,SEA,8,DET,0,0,0,0,0,0.0,19,0.0,0.0,2018,4
82,Rashaad Penny,SEA,8,DET,0,0,0,0,0,0.0,19,0.0,0.0,2018,7
83,Spencer Ware,KC,8,DEN,0,0,0,0,0,0.0,8,1.0,1.0,2018,21
84,Andy Janovich,DEN,8,KC,0,0,0,0,0,0.0,22,0.0,1.0,2018,8
85,Kapri Bibbs,WAS,8,NYG,0,0,0,0,0,0.0,24,0.0,0.0,2018,6
86,Elijhaa Penny,NYG,8,WAS,0,0,0,0,0,0.0,7,1.0,0.0,2018,4
87,Roosevelt Nix,PIT,8,CLE,0,0,0,0,0,0.0,28,1.0,1.0,2018,22
88,Alex Armah,CAR,8,BAL,0,0,0,0,0,0.0,11,1.0,1.0,2018,7
89,Patrick Ricard,BAL,8,CAR,0,0,0,0,0,0.0,16,0.0,1.0,2018,7
90,Derrick Coleman,ARI,8,SF,0,0,0,0,0,0.0,5,1.0,1.0,2018,47
91,TJ Logan,ARI,8,SF,0,0,0,0,0,0.0,5,1.0,1.0,2018,2
92,Zach Line,NO,8,MIN,0,0,0,0,0,0.0,26,0.0,0.0,2018,29
93,Marcus Murphy,BUF,8,NE,0,0,0,0,0,0.0,9,1.0,0.0,2018,18
94,Wayne Gallman,NYG,8,WAS,1,-1,0,0,0,-0.1,7,1.0,0.0,2018,8

## Reshape

In [58]:
wk7['year']=2018

In [38]:
cols = wk8.columns.tolist()
cols = cols[-1:] + cols[-2:-1] +cols[:9] + cols[-5:-2] + cols[-6:-5]
wk8 = wk8[cols]
wk8.head()

,games,year,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,def_rk,h/a_1,surface_0,points
0,7,2018,James Conner,PIT,8,CLE,24,146,2,6,66,28,1.0,1.0,41.2
1,21,2018,Todd Gurley,LAR,8,GB,25,114,0,7,81,25,1.0,1.0,36.5
2,4,2018,Marlon Mack,IND,8,OAK,25,132,2,4,17,27,0.0,1.0,31.9
3,6,2018,Joe Mixon,CIN,8,TB,21,123,2,4,15,23,1.0,0.0,31.8
4,54,2018,Adrian Peterson,WAS,8,NYG,26,149,1,1,7,24,0.0,0.0,30.6

In [37]:
df.columns

Index(['games', 'year', 'Name', 'Team', 'Week', 'Opponent', 'att', 'yds', 'td',
       'tar', 'rec_yds', 'def_rk', 'h/a_1', 'surface_0', 'points'],
      dtype='object')

## Concatenate

In [39]:
rb = pd.concat([df,wk8])
rb.shape

(12612, 15)

In [40]:
rb.tail()

,games,year,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,def_rk,h/a_1,surface_0,points
90,47,2018,Derrick Coleman,ARI,8,SF,0,0,0,0,0,5,1.0,1.0,0.0
91,2,2018,TJ Logan,ARI,8,SF,0,0,0,0,0,5,1.0,1.0,0.0
92,29,2018,Zach Line,NO,8,MIN,0,0,0,0,0,26,0.0,0.0,0.0
93,18,2018,Marcus Murphy,BUF,8,NE,0,0,0,0,0,9,1.0,0.0,0.0
94,8,2018,Wayne Gallman,NYG,8,WAS,1,-1,0,0,0,7,1.0,0.0,-0.1

In [41]:
rb.to_csv('input/rb/rb_loc_cleaned.csv', index=False)

In [10]:
# Parse upcoming week file by position

def clean_current(csv):# Read in files

    df_upcoming = pd.read_csv(csv)
    def_2018 = pd.read_csv('input/def/fantasy-football-points-allowed-defense-by-position.csv')

    # Obtain home and away attributes
    df_upcoming['year']=2018
    df_upcoming['home'] = df_upcoming['Game Info'].apply(lambda x: (x.split('@')[1]).split()[0])
    df_upcoming['away'] = df_upcoming['Game Info'].apply(lambda x: (x.split('@')[0]))

    rb = []
    wr = []
    te = []
    qb= []
    for idx,pos in enumerate(df_upcoming['Position']):
        if pos == 'RB':
            rb.append(idx)
        elif pos =='WR':
            wr.append(idx)
        elif pos =='TE':
            te.append(idx)
        elif pos =='QB':
            qb.append(idx)


    # Sort current week dataframe

    qb_df = df_upcoming.iloc[qb]
    rb_df = df_upcoming.iloc[rb]
    wr_df = df_upcoming.iloc[wr]
    te_df = df_upcoming.iloc[te]
    
    return qb_df,wr_df,te_df, rb_df

In [11]:
# Prepare defense dataframe by sorting by relevant attribute reseting the indexand using rank as the reset dataframe index +1

def add_defensive_rank(df, df1, position):
    df1.sort_values(position_dict[position], inplace=True)
    df1.reset_index(inplace=True, drop=True)
    df1['Rank']= df1.index+1
    df1.index=df1['Team']

# Map defensive rnking to eack player in the statist  ical dataframe 

    df['def_rk'] = list(map(lambda x: df1.loc[x]['Rank'], df['Opponent']))
    
    return df

In [12]:
# A function designed to add the Draftkings fantasy football salary to every players statistics dataframe

def add_salary(df,df2):
    df = df.sort_values(['Week','PlayerID'])
    df = df.drop(['FantasyPointsPerGameDraftKings','Rank','Position'], axis=1)
    df.reset_index(inplace=True, drop=True)
    df2 = df2.sort_values(['Week','PlayerID'])
    df2 = df2.drop(['Rank','Position'], axis=1)
    df2.reset_index(inplace=True, drop=True)
    df['salary'] = df2['DraftKingsSalary']
    
    return df

In [13]:
# One hot encode all non numeric attributes


def one_hot(df):
    df.reset_index(inplace=True, drop=True)
    encoder = LabelEncoder()
    df['h/a_encoded'] = encoder.fit_transform(df['h/a'])
    df['surface_encoded'] = encoder.fit_transform(df['surface'])


    home =OneHotEncoder()
    surface = OneHotEncoder()

    X = home.fit_transform(df['h/a_encoded'].values.reshape(-1,1)).toarray()
    Xs = surface.fit_transform(df['surface_encoded'].values.reshape(-1,1)).toarray()

    dfOneHot = pd.DataFrame(X, columns = ["h/a_"+str(int(i)) for i in range(X.shape[1])])
    df = pd.concat([df, dfOneHot], axis=1)


    dfOneHot = pd.DataFrame(Xs, columns = ['surface_'+str(int(i)) for i in range(Xs.shape[1])])
    df = pd.concat([df, dfOneHot], axis=1)

    return df

In [97]:
csv = 'input/qb/DKSalaries.csv'
qb7, wr7, te7, rb7 = clean_current(csv)