In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

In [15]:
qb = pd.read_csv('../input/qb/qb_stats.csv' ,index_col=[0,1,2])
#qb_2018 = pd.read_csv('../input/qb/dk_weekly_update.csv')
#week1 = pd.read_csv('../input/qb/week1_2018.csv')
#week1_def = pd.read_csv('../input/defense_2018_projections.csv')

In [16]:
qb

                                          var1(t-1)  var2(t-1)  var3(t-1)  \
                           Week Opponent
AJ McCarron_reframed       13   CLE            1.00     100.00       3.00
                           14   PIT            2.00      83.35      11.00
                           15   SF            12.00      78.50     100.67
                           16   DEN           14.25      76.72     123.50
                           17   BAL           18.40      73.96     138.80
                           14   CHI           19.83      72.13     142.33
                           15   MIN            8.00      50.00      47.00
Aaron Rodgers_reframed     2    SEA           23.00      78.30     189.00
                           3    KC            28.00      77.05     219.00
                           4    SF            30.33      74.23     257.00
                           5    LAR           30.75      72.88     248.75
                           6    LAC           30.60      70.96     247.20
                           8    DEN           30.33      68.33     248.50
                           9    CAR           29.14      67.66     224.00
                           10   DET           31.50      65.71     242.12
                           11   MIN           34.78      64.79     252.22
                           12   CHI           34.70      63.02     248.20
                           13   DET           35.45      61.95     244.00
                           14   DAL           35.50      62.34     246.42
                           15   OAK           35.46      62.38     244.23
                           16   ARI           35.71      61.96     241.36
                           17   MIN           35.20      61.40     235.33
                           1    JAX           35.75      61.54     238.81
                           2    MIN           34.00      58.80     199.00
                           3    DET           35.00      57.20     206.00
                           5    NYG           31.33      58.97     205.67
                           6    DAL           34.75      57.00     219.00
                           7    CHI           36.20      60.36     234.00
                           8    ATL           39.50      61.90     249.33
                           9    IND           39.29      63.59     248.86
...                                             ...        ...        ...
Tyrod Taylor_reframed      8    NE            27.57      60.14     185.29
                           9    SEA           28.88      58.88     185.00
                           11   CIN           29.89      60.23     196.56
                           12   JAX           29.60      61.25     193.50
                           14   PIT           28.55      61.75     191.00
                           15   CLE           28.25      61.60     194.08
                           16   MIA           27.92      62.31     192.54
                           1    NYJ           28.71      62.62     202.29
                           2    CAR           28.00      57.10     224.00
                           3    DEN           26.50      62.55     174.50
                           4    ATL           26.33      67.33     187.33
                           5    CIN           24.75      65.50     186.00
                           7    TB            27.20      63.22     182.00
                           8    OAK           28.17      62.78     196.33
                           9    NYJ           28.00      64.40     191.86
                           10   NO            29.50      65.41     203.50
                           11   LAC           28.22      63.70     187.11
                           12   KC            27.90      63.33     184.20
                           13   NE            28.00      63.53     184.09
                           15   MIA           27.17      62.40     174.17
                           16   NE            27.31      62.11     178.00
                           17   MIA           28.07      61.62     185.36
                           1    PIT           28.00      62.21     186.60
                           2    NO            40.00      37.50     197.00
                           3    NYJ           35.00      55.40     221.50
Zach Mettenberger_reframed 7    ATL            8.00      62.50      63.00
                           8    HOU           21.50      62.70     125.00
                           15   NE            24.67      65.47     140.33
                           16   HOU           25.50      66.95     165.75
                           17   IND           30.60      64.14     179.40

                                          var4(t-1)  var5(t-1)  var6(t-1)  \
                           Week Opponent
AJ McCarron_reframed       13   CLE            0.00      79.17       0.00
                           14   PIT            0.00      81.60       0.24
                           15   SF             0.67      84.61       0.66
                           16   DEN            0.75      92.35       0.83
                           17   BAL            0.80      91.44       0.97
                           14   CHI            1.00      93.52       1.05
                           15   MIN            0.00      68.23       0.90
Aaron Rodgers_reframed     2    SEA            3.00     140.49       1.36
                           3    KC             2.50     128.68       1.44
                           4    SF             3.33     131.93       1.47
                           5    LAR            2.75     123.69       1.48
                           6    LAC            2.60     115.51       1.48
                           8    DEN            2.50     114.20       1.48
                           9    CAR            2.14     107.85       1.46
                           10   DET            2.38     106.44       1.49
                           11   MIN            2.33     103.90       1.52
                           12   CHI            2.30     102.20       1.52
                           13   DET            2.18      98.58       1.53
                           14   DAL            2.17      98.38       1.53
                           15   OAK            2.15      98.46       1.53
                           16   ARI            2.07      96.34       1.54
                           17   MIN            2.00      94.33       1.53
                           1    JAX            1.94      93.48       1.54
                           2    MIN            2.00      95.10       1.53
                           3    DET            1.50      82.91       1.54
                           5    NYG            2.33      98.39       1.49
                           6    DAL            2.25      90.03       1.53
                           7    CHI            2.00      90.18       1.55
                           8    ATL            2.17      92.18       1.58
                           9    IND            2.43      96.95       1.58
...                                             ...        ...        ...
Tyrod Taylor_reframed      8    NE             1.29      90.81       1.43
                           9    SEA            1.12      87.44       1.45
                           11   CIN            1.11      87.81       1.47
                           12   JAX            1.00      86.12       1.46
                           14   PIT            1.00      88.71       1.44
                           15   CLE            1.08      89.65       1.44
                           16   MIA            1.08      90.85       1.44
                           1    NYJ            1.21      92.82       1.45
                           2    CAR            2.00      91.96       1.45
                           3    DEN            1.00      85.77       1.42
                           4    ATL            1.33      99.17       1.42
                           5    CIN            1.25     101.04       1.39
                           7    TB             1.20      93.55       1.43
                           8    OAK            1.17      94.04       1.44
                           9    NYJ            1.14      95.13       1.44
                           10   NO             1.25      96.84       1.46
                           11   LAC            1.11      89.81       1.44
                           12   KC             1.10      90.00       1.43
                           13   NE             1.09      90.41       1.44
                           15   MIA            1.00      85.85       1.42
                           16   NE             1.00      86.52       1.42
                           17   MIA            0.93      85.98       1.44
                           1    PIT            0.93      87.22       1.44
                           2    NO             1.00      51.77       1.60
                           3    NYJ            1.00      73.18       1.54
Zach Mettenberger_reframed 7    ATL            0.00      86.98       0.90
                           8    HOU            0.50      74.71       1.22
                           15   NE             0.33      73.40       1.31
                           16   HOU            0.75      77.96       1.35
                           17   IND            0.80      75.11       1.42

                                          var7(t-1)  var8(t-1)  var9(t-1)  \
                           Week Opponent
AJ McCarron_reframed       13   CLE            0.00       0.48   0.000000
                           14   PIT            0.15       0.88   0.000000
                           15   SF             0.55       1.40   0.000000
                           16   DEN            0.70       1.62   0.000000
                           17   BAL            0.83       1.76  14.250000
                           14   CHI            0.90       1.83  18.400000
                           15   MIN            0.60       1.67   0.000000
Aaron Rodgers_reframed     2    SEA            1.26       2.28   0.000000
                           3    KC             1.33       2.34   0.000000
                           4    SF             1.34       2.40   0.000000
                           5    LAR            1.34       2.39   0.000000
                           6    LAC            1.33       2.39  30.750000
                           8    DEN            1.31       2.39  30.600000
                           9    CAR            1.29       2.32  30.333333
                           10   DET            1.30       2.35  29.142857
                           11   MIN            1.33       2.37  31.500000
                           12   CHI            1.32       2.36  34.777778
                           13   DET            1.32       2.36  34.700000
                           14   DAL            1.32       2.36  35.454545
                           15   OAK            1.32       2.36  35.500000
                           16   ARI            1.33       2.36  35.461538
                           17   MIN            1.32       2.35  35.714286
                           1    JAX            1.32       2.35  35.200000
                           2    MIN            1.30       2.30   0.000000
                           3    DET            1.30       2.31   0.000000
                           5    NYG            1.26       2.31   0.000000
                           6    DAL            1.28       2.34   0.000000
                           7    CHI            1.33       2.36  34.750000
                           8    ATL            1.37       2.39  36.200000
                           9    IND            1.38       2.39  39.500000
...                                             ...        ...        ...
Tyrod Taylor_reframed      8    NE             1.21       2.24  27.500000
                           9    SEA            1.22       2.24  27.571429
                           11   CIN            1.24       2.27  28.875000
                           12   JAX            1.25       2.26  29.888889
                           14   PIT            1.23       2.26  29.600000
                           15   CLE            1.23       2.27  28.545455
                           16   MIA            1.23       2.26  28.250000
                           1    NYJ            1.24       2.28  27.923077
                           2    CAR            1.20       2.35   0.000000
                           3    DEN            1.22       2.22   0.000000
                           4    ATL            1.25       2.26   0.000000
                           5    CIN            1.20       2.26   0.000000
                           7    TB             1.22       2.25  24.750000
                           8    OAK            1.24       2.28  27.200000
                           9    NYJ            1.25       2.27  28.166667
                           10   NO             1.27       2.29  28.000000
                           11   LAC            1.24       2.23  29.500000
                           12   KC             1.23       2.23  28.222222
                           13   NE             1.24       2.23  27.900000
                           15   MIA            1.21       2.20  28.000000
                           16   NE             1.21       2.21  27.166667
                           17   MIA            1.22       2.23  27.307692
                           1    PIT            1.23       2.23  28.071429
                           2    NO             1.18       2.29   0.000000
                           3    NYJ            1.26       2.34   0.000000
Zach Mettenberger_reframed 7    ATL            0.70       1.80   0.000000
                           8    HOU            1.02       2.04   0.000000
                           15   NE             1.13       2.10   0.000000
                           16   HOU            1.17       2.17   0.000000
                           17   IND            1.22       2.21  25.500000

                                          var10(t-1)  ...   var21(t)  \
                           Week Opponent              ...
AJ McCarron_reframed       13   CLE         0.000000  ...      81.60
                           14   PIT         0.000000  ...      84.61
                           15   SF          0.000000  ...      92.35
                           16   DEN         0.000000  ...      91.44
                           17   BAL        76.725000  ...      93.52
                           14   CHI        73.960000  ...      68.23
                           15   MIN         0.000000  ...      62.58
Aaron Rodgers_reframed     2    SEA         0.000000  ...     128.68
                           3    KC          0.000000  ...     131.93
                           4    SF          0.000000  ...     123.69
                           5    LAR         0.000000  ...     115.51
                           6    LAC        72.875000  ...     114.20
                           8    DEN        70.960000  ...     107.85
                           9    CAR        68.333333  ...     106.44
                           10   DET        67.657143  ...     103.90
                           11   MIN        65.712500  ...     102.20
                           12   CHI        64.788889  ...      98.58
                           13   DET        63.020000  ...      98.38
                           14   DAL        61.945455  ...      98.46
                           15   OAK        62.341667  ...      96.34
                           16   ARI        62.384615  ...      94.33
                           17   MIN        61.957143  ...      93.48
                           1    JAX        61.400000  ...      87.94
                           2    MIN         0.000000  ...      82.20
                           3    DET         0.000000  ...      93.98
                           5    NYG         0.000000  ...      88.18
                           6    DAL         0.000000  ...      88.61
                           7    CHI        57.000000  ...      90.56
                           8    ATL        60.360000  ...      94.93
                           9    IND        61.900000  ...      94.92
...                                              ...  ...        ...
Tyrod Taylor_reframed      8    NE         61.833333  ...      86.91
                           9    SEA        60.142857  ...      87.30
                           11   CIN        58.875000  ...      85.81
                           12   JAX        60.233333  ...      88.21
                           14   PIT        61.250000  ...      89.12
                           15   CLE        61.745455  ...      90.27
                           16   MIA        61.600000  ...      92.15
                           1    NYJ        62.307692  ...     105.20
                           2    CAR         0.000000  ...      96.66
                           3    DEN         0.000000  ...     103.98
                           4    ATL         0.000000  ...     104.52
                           5    CIN         0.000000  ...      97.70
                           7    TB         65.500000  ...      97.53
                           8    OAK        63.220000  ...      98.04
                           9    NYJ        62.783333  ...      99.24
                           10   NO         64.400000  ...      92.67
                           11   LAC        65.412500  ...      92.59
                           12   KC         63.700000  ...      92.75
                           13   NE         63.330000  ...      88.35
                           15   MIA        63.527273  ...      88.80
                           16   NE         62.400000  ...      88.14
                           17   MIA        62.107692  ...      89.17
                           1    PIT        61.621429  ...      78.16
                           2    NO          0.000000  ...      83.63
                           3    NYJ         0.000000  ...      72.62
Zach Mettenberger_reframed 7    ATL         0.000000  ...      74.71
                           8    HOU         0.000000  ...      73.40
                           15   NE          0.000000  ...      77.96
                           16   HOU         0.000000  ...      75.11
                           17   IND        66.950000  ...      65.02

                                          var22(t)  var23(t)  var24(t)  \
                           Week Opponent
AJ McCarron_reframed       13   CLE           0.24      0.15      0.88
                           14   PIT           0.66      0.55      1.40
                           15   SF            0.83      0.70      1.62
                           16   DEN           0.97      0.83      1.76
                           17   BAL           1.05      0.90      1.83
                           14   CHI           0.90      0.60      1.67
                           15   MIN           0.84      0.54      1.48
Aaron Rodgers_reframed     2    SEA           1.44      1.33      2.34
                           3    KC            1.47      1.34      2.40
                           4    SF            1.48      1.34      2.39
                           5    LAR           1.48      1.33      2.39
                           6    LAC           1.48      1.31      2.39
                           8    DEN           1.46      1.29      2.32
                           9    CAR           1.49      1.30      2.35
                           10   DET           1.52      1.33      2.37
                           11   MIN           1.52      1.32      2.36
                           12   CHI           1.53      1.32      2.36
                           13   DET           1.53      1.32      2.36
                           14   DAL           1.53      1.32      2.36
                           15   OAK           1.54      1.33      2.36
                           16   ARI           1.53      1.32      2.35
                           17   MIN           1.54      1.32      2.35
                           1    JAX           1.59      1.37      2.38

In [10]:
qb.head()

                           att_avg  comp%_avg  def_rk_avg  log_att_avg  \
Name        Week Opponent
AJ McCarron 12   LAR           1.0     100.00         NaN         0.00
            13   CLE           2.0      83.35         NaN         0.24
            14   CHI           8.0      50.00         5.0         0.90
                 PIT          12.0      78.50         NaN         0.66
            15   MIN           7.0      50.00         4.0         0.84

                           log_comp_avg  log_yds_avg  rat_avg  td_avg  \
Name        Week Opponent
AJ McCarron 12   LAR               0.00         0.48    79.17    0.00
            13   CLE               0.15         0.88    81.60    0.00
            14   CHI               0.60         1.67    68.23    0.00
                 PIT               0.55         1.40    84.61    0.67
            15   MIN               0.54         1.48    62.58    0.00

                           yds_avg  att_ma   ...    log_comp_car  log_yds_car  \
Name        Week Opponent                    ...
AJ McCarron 12   LAR          3.00     0.0   ...            0.00         0.48
            13   CLE         11.00     0.0   ...            0.15         0.88
            14   CHI         47.00     0.0   ...            0.60         1.67
                 PIT        100.67     0.0   ...            0.55         1.40
            15   MIN         33.00     0.0   ...            0.54         1.48

                           rat_car  td_car  yds_car  def_rk  h/a_1  surface_0  \
Name        Week Opponent
AJ McCarron 12   LAR         79.17    0.00     3.00      10    1.0        0.0
            13   CLE         81.60    0.00    11.00      28    0.0        1.0
            14   CHI         68.23    0.00    47.00       5    0.0        0.0
                 PIT         84.61    0.67   100.67      24    1.0        0.0
            15   MIN         62.58    0.00    33.00       3    0.0        0.0

                           salary  points
Name        Week Opponent
AJ McCarron 12   LAR         6000    0.12
            13   CLE         5000    0.76
            14   CHI         4400    1.88
                 PIT         5000   18.00
            15   MIN         4800    0.76

[5 rows x 31 columns]

In [11]:

qb.dtypes

att_avg         float64
comp%_avg       float64
def_rk_avg      float64
log_att_avg     float64
log_comp_avg    float64
log_yds_avg     float64
rat_avg         float64
td_avg          float64
yds_avg         float64
att_ma          float64
comp%_ma        float64
log_att_ma      float64
log_comp_ma     float64
log_yds_ma      float64
rat_ma          float64
td_ma           float64
yds_ma          float64
att_car         float64
comp%_car       float64
def_rk_car      float64
log_att_car     float64
log_comp_car    float64
log_yds_car     float64
rat_car         float64
td_car          float64
yds_car         float64
def_rk            int64
h/a_1           float64
surface_0       float64
salary            int64
points          float64
dtype: object

In [80]:
qb.replace('null',0, inplace=True)
qb.salary = qb['salary'].apply(lambda x: int(x))

In [12]:
def conv_atts(df):
    df['salary'] = df['salary'].apply(lambda x: int(x))
    df['h/a_1'] = df['h/a_1'].astype('category')
    df['surface_0'] = df['surface_0'].astype('category')
    df['def_rk'] = df['def_rk'].astype('category')

    return df

In [14]:
qb = conv_atts(qb)
qb.dtypes

att_avg          float64
comp%_avg        float64
def_rk_avg       float64
log_att_avg      float64
log_comp_avg     float64
log_yds_avg      float64
rat_avg          float64
td_avg           float64
yds_avg          float64
att_ma           float64
comp%_ma         float64
log_att_ma       float64
log_comp_ma      float64
log_yds_ma       float64
rat_ma           float64
td_ma            float64
yds_ma           float64
att_car          float64
comp%_car        float64
def_rk_car       float64
log_att_car      float64
log_comp_car     float64
log_yds_car      float64
rat_car          float64
td_car           float64
yds_car          float64
def_rk          category
h/a_1           category
surface_0       category
salary             int64
points           float64
dtype: object

In [81]:
qb.head()

,PlayerID,Name,Team,Week,Opponent,PassingCompletions,PassingAttempts,PassingCompletionPercentage,PassingYards,PassingYardsPerAttempt,...,RushingAttempts,RushingYards,RushingYardsPerAttempt,RushingTouchdowns,FantasyPointsDraftKings,salary,year,def_rk,h/a,surface
0,611,Joe Flacco,BAL,1,DEN,18,32,56.2,117,3.7,...,0,0,0.0,0,2.68,6700,2015,1,away,grass
1,732,Matt Ryan,ATL,1,PHI,23,34,67.6,298,8.8,...,5,7,1.4,0,18.62,7500,2015,30,home,turf
2,2428,Carson Palmer,ARI,1,NO,19,32,59.4,307,9.6,...,3,14,4.7,0,28.68,6500,2015,32,home,grass
3,2593,Aaron Rodgers,GB,1,CHI,18,23,78.3,189,8.2,...,8,35,4.4,0,23.06,8600,2015,25,away,grass
4,3807,Ben Roethlisberger,PIT,1,NE,26,38,68.4,351,9.2,...,0,0,0.0,0,22.04,7300,2015,15,away,turf

In [82]:
# Move target variable to last column of dataframe

cols = qb.columns.tolist()
cols = cols[:-8] + cols[-7:] + cols[-8:-7]
qb = qb[cols]

In [83]:
encoder = LabelEncoder()
qb['surface_encoded'] = encoder.fit_transform(qb['surface'])

In [84]:
qb.head()

,PlayerID,Name,Team,Week,Opponent,PassingCompletions,PassingAttempts,PassingCompletionPercentage,PassingYards,PassingYardsPerAttempt,...,RushingYards,RushingTouchdowns,FantasyPointsDraftKings,salary,year,def_rk,h/a,surface,RushingYardsPerAttempt,surface_encoded
0,611,Joe Flacco,BAL,1,DEN,18,32,56.2,117,3.7,...,0,0,2.68,6700,2015,1,away,grass,0.0,0
1,732,Matt Ryan,ATL,1,PHI,23,34,67.6,298,8.8,...,7,0,18.62,7500,2015,30,home,turf,1.4,1
2,2428,Carson Palmer,ARI,1,NO,19,32,59.4,307,9.6,...,14,0,28.68,6500,2015,32,home,grass,4.7,0
3,2593,Aaron Rodgers,GB,1,CHI,18,23,78.3,189,8.2,...,35,0,23.06,8600,2015,25,away,grass,4.4,0
4,3807,Ben Roethlisberger,PIT,1,NE,26,38,68.4,351,9.2,...,0,0,22.04,7300,2015,15,away,turf,0.0,1

In [37]:
qb_temp = qb.drop(['h/a','surface'], axis=1)

## Current week dataframe feature engineering

In [13]:
week1['year'] =2018
week1.columns = qb.columns[:-2]

In [14]:
indices = []
for idx,player in enumerate(week1['Player']):
    if player not in qb['Player'].unique():
        indices.append(idx)

week1.drop(indices, axis=0, inplace=True)
week1.reset_index(inplace=True, drop=True)
week1.shape

(57, 17)

## Weekly defensive rankings dataframe feature engineering

In [15]:
week1_def.index = week1_def['Team']
week1_def.drop('Team', axis=1, inplace=True)
week1_def.head()

,Rank,Name,Position,Played,TacklesForLoss,Sacks,QuarterbackHits,Interceptions,FumblesRecovered,Safeties,DefensiveTouchdowns,SpecialTeamsTouchdowns,PointsAllowed,FantasyPointsPerGameDraftKings,FantasyPointsDraftKings
Team,,,,,,,,,,,,,,,
JAX,1,Jacksonville Jaguars,DST,16,103,49,113,18,14,0,4,1,268,8.1,129
LAC,2,Los Angeles Chargers,DST,16,93,44,85,17,13,0,4,2,272,7.9,127
LAR,3,Los Angeles Rams,DST,16,82,45,100,17,15,2,3,2,329,7.8,124
PHI,4,Philadelphia Eagles,DST,16,99,39,115,17,14,0,4,2,295,7.7,123
MIN,5,Minnesota Vikings,DST,16,82,42,85,17,12,1,3,1,252,7.0,112

In [16]:
week1['def_ru_rk'] = list(map(lambda x: week1_def.loc[x]['Rank'], week1['Opp']))
week1['def_pass_rk'] = list(map(lambda x: week1_def.loc[x]['Rank'], week1['Opp']))

In [8]:
#A function that will covert a time series database into a supervised learning database

def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
    n_vars = 1 if type(data) is list else data.shape[1]
    df = pd.DataFrame(data)
    cols, names = list(), list()
    # input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
            cols.append(df.shift(i))
            names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
    # forecast sequence (t, t+1, ... t+n)
    for i in range(0, n_out):
        cols.append(df.shift(-i))
        if i == 0:
            names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
        else:
            names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
    # put it all together
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    # drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg

In [41]:
train = qb_temp[qb_temp['year']!=2017]
test = qb_temp[qb_temp['year']==2017]

In [39]:
train.dtypes

PlayerID                         int64
Name                            object
Team                            object
Week                             int64
Opponent                        object
PassingCompletions               int64
PassingAttempts                  int64
PassingCompletionPercentage    float64
PassingYards                     int64
PassingYardsPerAttempt         float64
PassingTouchdowns                int64
PassingInterceptions             int64
PassingRating                  float64
RushingAttempts                  int64
RushingYards                     int64
RushingYardsPerAttempt         float64
RushingTouchdowns                int64
salary                           int64
year                             int64
def_rk                           int64
h/a_encoded                      int64
surface_encoded                  int64
FantasyPointsDraftKings        float64
dtype: object

In [345]:
passing = ['Comp','Att','Pct','Yds','Yds/Att','TD','Int']

In [55]:
# Target variables 

y_train = train['FantasyPointsDraftKings']
y_test = test['FantasyPointsDraftKings']

# Predictors, all numeric variables minus target variable
X_train = train.iloc[:,5:-1]
X_test = test.iloc[:,5:-1]

In [56]:
X_train.shape

(1196, 17)

In [57]:
X_test.shape

(600, 17)

In [58]:
X_train.columns

Index(['PassingCompletions', 'PassingAttempts', 'PassingCompletionPercentage',
       'PassingYards', 'PassingYardsPerAttempt', 'PassingTouchdowns',
       'PassingInterceptions', 'PassingRating', 'RushingAttempts',
       'RushingYards', 'RushingYardsPerAttempt', 'RushingTouchdowns', 'salary',
       'year', 'def_rk', 'h/a_encoded', 'surface_encoded'],
      dtype='object')

In [59]:
reframed = series_to_supervised(X_train.values.astype('float32'),1,1)

In [60]:
reframed.head()

,var1(t-1),var2(t-1),var3(t-1),var4(t-1),var5(t-1),var6(t-1),var7(t-1),var8(t-1),var9(t-1),var10(t-1),...,var8(t),var9(t),var10(t),var11(t),var12(t),var13(t),var14(t),var15(t),var16(t),var17(t)
1,18.0,32.0,56.200001,117.0,3.7,0.0,2.0,38.150002,0.0,0.0,...,90.070000,5.0,7.0,1.4,0.0,7500.0,2015.0,30.0,1.0,1.0
2,23.0,34.0,67.599998,298.0,8.8,2.0,2.0,90.070000,5.0,7.0,...,122.790001,3.0,14.0,4.7,0.0,6500.0,2015.0,32.0,1.0,0.0
3,19.0,32.0,59.400002,307.0,9.6,3.0,0.0,122.790001,3.0,14.0,...,140.490005,8.0,35.0,4.4,0.0,8600.0,2015.0,25.0,0.0,0.0
4,18.0,23.0,78.300003,189.0,8.2,3.0,0.0,140.490005,8.0,35.0,...,95.389999,0.0,0.0,0.0,0.0,7300.0,2015.0,15.0,0.0,1.0
5,26.0,38.0,68.400002,351.0,9.2,1.0,1.0,95.389999,0.0,0.0,...,103.330002,1.0,-1.0,-1.0,0.0,7300.0,2015.0,31.0,1.0,1.0

In [61]:
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [62]:
coeff = pd.DataFrame(X_train.columns)
coeff['coefficients'] = lr.coef_
coeff

                              0  coefficients
0            PassingCompletions      0.003236
1               PassingAttempts     -0.059027
2   PassingCompletionPercentage      0.018179
3                  PassingYards      0.055983
4        PassingYardsPerAttempt     -0.039954
5             PassingTouchdowns      4.241052
6          PassingInterceptions     -1.333426
7                 PassingRating     -0.023234
8               RushingAttempts     -0.082949
9                  RushingYards      0.113818
10       RushingYardsPerAttempt     -0.036656
11            RushingTouchdowns      5.949762
12                       salary      0.000033
13                         year     -0.032389
14                       def_rk      0.013240
15                  h/a_encoded     -0.023326
16              surface_encoded      0.015241

In [63]:
yhat = lr.predict(X_test)
yhat.shape

(600,)

In [64]:
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

rmse_val = rmse(yhat, y_test)
print("RMSE error is: " + str(rmse_val))

RMSE error is: 1.02257939768

In [68]:
results = pd.DataFrame()
results['Player'] = test['Name']
#results['score'] = y_test
results['Predicted'] = yhat
results['points'] = test['FantasyPointsDraftKings']
#results['Week'] = qb[qb['year']==2017]['Week']
#results.groupby('Player').mean()[['score','Predicted']]
results

                  Player  Predicted  points
1196          Joe Flacco   7.730652    7.84
1197           Matt Ryan  19.460745   20.94
1198       Carson Palmer  12.128000   11.92
1199       Aaron Rodgers  18.493816   20.54
1200  Ben Roethlisberger  17.667645   16.72
1201           Tom Brady  11.781581   10.68
1202         Eli Manning   8.126101    7.70
1203         Josh McCown  11.012949   11.48
1204          Alex Smith  33.254797   34.02
1205          Drew Brees  16.899939   15.64
1206       Philip Rivers  18.950628   18.68
1207         Brian Hoyer   6.449883    5.22
1208    Matthew Stafford  29.274138   28.08
1209            Joe Webb   0.238831    0.00
1210        Sam Bradford  27.736742   28.54
1211        Tyrod Taylor  20.397325   19.76
1212         Andy Dalton   2.394271    2.00
1213       Scott Tolzien   3.229022    3.32
1214          Cam Newton  14.118773   14.14
1215        Kirk Cousins  15.912152   13.60
1216      Russell Wilson  10.286035    9.32
1217        Mike Glennon  12.961699   12.52
1218          Tom Savage   1.786597    0.48
1219       Blake Bortles  10.059308   10.30
1220          Derek Carr  19.685947   18.68
1221      Marcus Mariota  19.466311   18.84
1222      Trevor Siemian  23.813824   23.66
1223        Carson Wentz  21.084928   23.88
1224          Jared Goff  18.129366   19.44
1225     Jacoby Brissett   0.593100    2.04
...                  ...        ...     ...
1766          Jay Cutler  -0.440130    0.24
1767    Matthew Stafford  26.963353   30.12
1768            Joe Webb   0.117355    0.00
1769        Tyrod Taylor  15.995090   15.66
1770         Andy Dalton  20.771312   20.68
1771            TJ Yates   5.231571    5.38
1772          Cam Newton  13.856252   14.10
1773          Nick Foles   0.497869    0.56
1774        Kirk Cousins   9.800874   10.52
1775      Russell Wilson  21.053550   20.44
1776        Landry Jones  12.896820   10.96
1777         Case Keenum  11.479407   11.56
1778     Jimmy Garoppolo  18.735962   17.58
1779       Blake Bortles   4.761125    5.22
1780          Derek Carr  13.473069   11.82
1781         David Fales  20.722289   20.40
1782      Jameis Winston  25.965633   29.72
1783      Marcus Mariota  14.763001   14.36
1784        Sean Mannion   7.120355    6.16
1785         Bryce Petty   9.947641    9.18
1786       Brett Hundley  10.525544   13.38
1787        Paxton Lynch  18.348510   16.46
1788     Jacoby Brissett   9.853100   10.36
1789        Dak Prescott  12.683725   12.76
1790        Nate Sudfeld   6.962894    7.56
1791        Joe Callahan  -0.271193    0.44
1792      Mitch Trubisky   7.050418    7.32
1793       Deshone Kizer  27.257628   28.66
1794     Patrick Mahomes  12.065421   11.36
1795         Taysom Hill   0.091815    0.00

[600 rows x 3 columns]

In [323]:
results.shape

(300, 3)

In [84]:
results.to_csv('2018_week1_qb.csv', index= False)