In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

In [2]:
qb = pd.read_csv('../input/qb/qb_stats.csv')

In [3]:
qb.head()

,Unnamed: 0,Week,Opponent,var1(t-1),var2(t-1),var3(t-1),var4(t-1),var5(t-1),var6(t-1),var7(t-1),...,var21(t),var22(t),var23(t),var24(t),def_rk,h/a_1,surface_0,salary,points,year
0,AJ McCarron_reframed,13,CLE,1.00,100.00,3.00,0.00,79.17,0.00,0.00,...,81.60,0.24,0.15,0.88,28,0.0,1.0,5000,0.76,2015
1,AJ McCarron_reframed,14,PIT,2.00,83.35,11.00,0.00,81.60,0.24,0.15,...,84.61,0.66,0.55,1.40,24,1.0,0.0,5000,18.00,2015
2,AJ McCarron_reframed,15,SF,12.00,78.50,100.67,0.67,84.61,0.66,0.55,...,92.35,0.83,0.70,1.62,16,0.0,1.0,3000,11.88,2015
3,AJ McCarron_reframed,16,DEN,14.25,76.72,123.50,0.75,92.35,0.83,0.70,...,91.44,0.97,0.83,1.76,1,0.0,1.0,5100,13.10,2015
4,AJ McCarron_reframed,17,BAL,18.40,73.96,138.80,0.80,91.44,0.97,0.83,...,93.52,1.05,0.90,1.83,19,1.0,0.0,5300,14.60,2015

In [4]:
qb.drop(['var7(t-1)','var8(t-1)','var16(t-1)','var23(t-1)','var24(t-1)','var7(t)','var8(t)','var15(t)','var16(t)','var23(t)','var24(t)'], axis=1, inplace=True)

In [5]:
qb.rename(columns={'Unnamed: 0':'player'}, inplace=True)

In [6]:

qb.dtypes

player         object
Week            int64
Opponent       object
var1(t-1)     float64
var2(t-1)     float64
var3(t-1)     float64
var4(t-1)     float64
var5(t-1)     float64
var6(t-1)     float64
var9(t-1)     float64
var10(t-1)    float64
var11(t-1)    float64
var12(t-1)    float64
var13(t-1)    float64
var14(t-1)    float64
var15(t-1)    float64
var17(t-1)    float64
var18(t-1)    float64
var19(t-1)    float64
var20(t-1)    float64
var21(t-1)    float64
var22(t-1)    float64
var1(t)       float64
var2(t)       float64
var3(t)       float64
var4(t)       float64
var5(t)       float64
var6(t)       float64
var9(t)       float64
var10(t)      float64
var11(t)      float64
var12(t)      float64
var13(t)      float64
var14(t)      float64
var17(t)      float64
var18(t)      float64
var19(t)      float64
var20(t)      float64
var21(t)      float64
var22(t)      float64
def_rk          int64
h/a_1         float64
surface_0     float64
salary          int64
points        float64
year            int64
dtype: object

In [7]:
qb.replace('null',0, inplace=True)
qb.salary = qb['salary'].apply(lambda x: int(x))

In [8]:
def conv_atts(df):
    df['salary'] = df['salary'].apply(lambda x: int(x))
    df['h/a_1'] = df['h/a_1'].astype('category')
    df['surface_0'] = df['surface_0'].astype('category')
    df['def_rk'] = df['def_rk'].astype('category')

    return df

In [9]:
qb = conv_atts(qb)
qb.dtypes

player          object
Week             int64
Opponent        object
var1(t-1)      float64
var2(t-1)      float64
var3(t-1)      float64
var4(t-1)      float64
var5(t-1)      float64
var6(t-1)      float64
var9(t-1)      float64
var10(t-1)     float64
var11(t-1)     float64
var12(t-1)     float64
var13(t-1)     float64
var14(t-1)     float64
var15(t-1)     float64
var17(t-1)     float64
var18(t-1)     float64
var19(t-1)     float64
var20(t-1)     float64
var21(t-1)     float64
var22(t-1)     float64
var1(t)        float64
var2(t)        float64
var3(t)        float64
var4(t)        float64
var5(t)        float64
var6(t)        float64
var9(t)        float64
var10(t)       float64
var11(t)       float64
var12(t)       float64
var13(t)       float64
var14(t)       float64
var17(t)       float64
var18(t)       float64
var19(t)       float64
var20(t)       float64
var21(t)       float64
var22(t)       float64
def_rk        category
h/a_1         category
surface_0     category
salary           int64
points         float64
year             int64
dtype: object

In [10]:
train = qb[qb['year']!=2018]
train = train[train['Week']!=4]
train['year'].unique()

array([2015, 2017, 2016], dtype=int64)

In [11]:
train.shape

(1457, 46)

In [12]:
test = qb[qb['year']==2018]
test=test[test['Week']==4]
test.shape

(32, 46)

In [13]:
test.columns

Index(['player', 'Week', 'Opponent', 'var1(t-1)', 'var2(t-1)', 'var3(t-1)',
       'var4(t-1)', 'var5(t-1)', 'var6(t-1)', 'var9(t-1)', 'var10(t-1)',
       'var11(t-1)', 'var12(t-1)', 'var13(t-1)', 'var14(t-1)', 'var15(t-1)',
       'var17(t-1)', 'var18(t-1)', 'var19(t-1)', 'var20(t-1)', 'var21(t-1)',
       'var22(t-1)', 'var1(t)', 'var2(t)', 'var3(t)', 'var4(t)', 'var5(t)',
       'var6(t)', 'var9(t)', 'var10(t)', 'var11(t)', 'var12(t)', 'var13(t)',
       'var14(t)', 'var17(t)', 'var18(t)', 'var19(t)', 'var20(t)', 'var21(t)',
       'var22(t)', 'def_rk', 'h/a_1', 'surface_0', 'salary', 'points', 'year'],
      dtype='object')

In [14]:
X_test.iloc[:,3:].shape

NameError: name 'X_test' is not defined

In [15]:
# Target variables 

y_train = train['points']
y_test = test['points']

# Predictors, all numeric variables minus target variable
X_train = train.iloc[:,3:-3]
X_test = test.iloc[:,3:-3]

In [16]:

X_test.columns

Index(['var1(t-1)', 'var2(t-1)', 'var3(t-1)', 'var4(t-1)', 'var5(t-1)',
       'var6(t-1)', 'var9(t-1)', 'var10(t-1)', 'var11(t-1)', 'var12(t-1)',
       'var13(t-1)', 'var14(t-1)', 'var15(t-1)', 'var17(t-1)', 'var18(t-1)',
       'var19(t-1)', 'var20(t-1)', 'var21(t-1)', 'var22(t-1)', 'var1(t)',
       'var2(t)', 'var3(t)', 'var4(t)', 'var5(t)', 'var6(t)', 'var9(t)',
       'var10(t)', 'var11(t)', 'var12(t)', 'var13(t)', 'var14(t)', 'var17(t)',
       'var18(t)', 'var19(t)', 'var20(t)', 'var21(t)', 'var22(t)', 'def_rk',
       'h/a_1', 'surface_0'],
      dtype='object')

In [90]:
scaler = MinMaxScaler()
scaler.fit_transform(X_train)

array([[ 0.        ,  1.        ,  0.0070922 , ...,  0.        ,
         0.51998093,  0.14457831],
       [ 0.01960784,  0.8335    ,  0.02600473, ...,  0.19142857,
         0.5486886 ,  0.39759036],
       [ 0.21568627,  0.785     ,  0.23799054, ...,  0.21428571,
         0.62250835,  0.5       ],
       ...,
       [ 0.46411765,  0.6547    ,  0.33174941, ...,  0.21428571,
         0.48526466,  0.81325301],
       [ 0.48039216,  0.6695    ,  0.39184397, ...,  0.22857143,
         0.45808298,  0.85542169],
       [ 0.58039216,  0.6414    ,  0.42411348, ...,  0.19142857,
         0.36185026,  0.8253012 ]])

In [140]:
X_test.shape

(32, 40)

In [141]:
X_train.shape

(1457, 40)

In [16]:
y_train.reset_index(inplace=True,drop=True)
X_train.reset_index(inplace=True, drop=True)

In [17]:
lr = LinearRegression()

In [18]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [19]:
coeff = pd.DataFrame(X_train.columns)
coeff['coefficients'] = lr.coef_
coeff

             0  coefficients
0    var1(t-1)     -0.269721
1    var2(t-1)      0.104201
2    var3(t-1)      0.008365
3    var4(t-1)      0.506358
4    var5(t-1)     -0.102144
5    var6(t-1)      1.637764
6    var9(t-1)     -0.154069
7   var10(t-1)      0.075757
8   var11(t-1)      0.005233
9   var12(t-1)      1.351484
10  var13(t-1)     -0.004142
11  var14(t-1)     16.547199
12  var15(t-1)    -20.353876
13  var17(t-1)      0.380338
14  var18(t-1)     -0.047214
15  var19(t-1)     -0.102913
16  var20(t-1)     -7.281323
17  var21(t-1)      0.093148
18  var22(t-1)      7.120148
19     var1(t)      0.373064
20     var2(t)      0.002567
21     var3(t)     -0.005810
22     var4(t)      2.326809
23     var5(t)      0.071458
24     var6(t)     -1.248945
25     var9(t)     -0.267891
26    var10(t)      0.102805
27    var11(t)     -0.005243
28    var12(t)     -0.052793
29    var13(t)     -0.101861
30    var14(t)      8.324634
31    var17(t)     -0.376289
32    var18(t)     -0.124447
33    var19(t)      0.147363
34    var20(t)      6.873499
35    var21(t)      0.013876
36    var22(t)     -9.682324
37      def_rk      0.115599
38       h/a_1      0.884721
39   surface_0     -0.220196

In [20]:
X_train.shape

(1457, 40)

In [21]:
yhat = lr.predict(X_test)

In [22]:
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

rmse_val = rmse(yhat, y_test)
print("RMSE error is: " + str(rmse_val))

RMSE error is: 6.564496030933445

In [23]:
results = pd.DataFrame()
results['Player'] = test['player']
#results['score'] = y_test
results['Predicted'] = yhat
results['points'] = test['points']
#results['Week'] = qb[qb['year']==2017]['Week']
#results.groupby('Player').mean()[['score','Predicted']]
results

                           Player  Predicted  points
47         Aaron Rodgers_reframed  19.934504   17.02
118          Andrew Luck_reframed  32.008977   39.66
165          Andy Dalton_reframed  26.316620   28.78
168       Baker Mayfield_reframed  24.868369   16.80
211   Ben Roethlisberger_reframed  19.851403   15.86
281        Blake Bortles_reframed  22.149577   28.32
349       Brock Osweiler_reframed   2.693687    6.10
362          CJ Beathard_reframed  21.561818   19.82
475         Carson Wentz_reframed  22.175860   24.72
508          Case Keenum_reframed  14.922888    8.80
575         Dak Prescott_reframed  16.024645   18.40
631           Derek Carr_reframed  28.439929   36.58
641       Deshaun Watson_reframed  22.913241   35.10
705           Drew Brees_reframed  17.361636    8.58
773          Eli Manning_reframed  18.761267   15.70
840       Jameis Winston_reframed   5.769340    8.50
864           Jared Goff_reframed  35.094041   42.30
956           Joe Flacco_reframed  25.105093   25.22
968           Josh Allen_reframed   6.593929    4.94
993           Josh Rosen_reframed  11.899777   12.50
1051        Kirk Cousins_reframed  26.640005   35.68
1103      Marcus Mariota_reframed  19.750194   34.36
1193           Matt Ryan_reframed  30.869598   32.26
1246    Matthew Stafford_reframed  22.441049   23.78
1268      Mitch Trubisky_reframed  31.122269   46.46
1294     Patrick Mahomes_reframed  22.901942   25.86
1355       Philip Rivers_reframed  25.704795   22.70
1409      Russell Wilson_reframed  11.503865    8.98
1446    Ryan Fitzpatrick_reframed  16.254641    4.04
1486      Ryan Tannehill_reframed   9.046051    2.00
1521         Sam Darnold_reframed  10.214084   11.48
1596           Tom Brady_reframed  20.805388   20.96

In [323]:
results.

(300, 3)

In [24]:
results.to_csv('../output/qb_test.csv', index= False)