In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

In [ ]:
rb = pd.read_csv('../input/rb/rb_stats.csv')

In [9]:
df = pd.read_csv('../input/rb/rb_loc_cleaned.csv')

In [17]:
df.sort_values(['Name','games'],inplace=True)
df.reset_index(inplace=True, drop=True)
df.head()

,games,year,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,def_rk,h/a_1,surface_0,points
0,1,2018,Aaron Jones,GB,3,WAS,6,42,0,1,5,15,0.0,1.0,5.7
1,2,2018,Aaron Jones,GB,4,BUF,11,65,1,1,17,18,1.0,1.0,15.2
2,3,2018,Aaron Jones,GB,5,DET,7,40,0,3,19,29,0.0,0.0,7.9
3,4,2018,Aaron Jones,GB,6,SF,8,41,0,1,0,22,0.0,1.0,4.1
4,5,2018,Aaron Jones,GB,8,LAR,12,86,1,2,0,14,0.0,1.0,16.6

In [3]:
rb.dtypes

year             int64
Name            object
games            int64
Opponent        object
att_avg        float64
yds_avg        float64
td_avg         float64
tar_avg        float64
rec_yds_avg    float64
att_ma         float64
yds_ma         float64
td_ma          float64
tar_ma         float64
rec_yds_ma     float64
att_car        float64
yds_car        float64
td_car         float64
tar_car        float64
rec_yds_car    float64
surface_0      float64
h/a_1          float64
def_rk           int64
points         float64
dtype: object

In [4]:
def conv_atts(df):
    df.rename(columns={'Unnamed: 0':'player'}, inplace=True)
    df.replace('null',0, inplace=True)
    df['h/a_1'] = df['h/a_1'].astype('category')
    df['surface_0'] = df['surface_0'].astype('category')
    

    return df

In [5]:
rb = conv_atts(rb)
rb.dtypes

year              int64
Name             object
games             int64
Opponent         object
att_avg         float64
yds_avg         float64
td_avg          float64
tar_avg         float64
rec_yds_avg     float64
att_ma          float64
yds_ma          float64
td_ma           float64
tar_ma          float64
rec_yds_ma      float64
att_car         float64
yds_car         float64
td_car          float64
tar_car         float64
rec_yds_car     float64
surface_0      category
h/a_1          category
def_rk            int64
points          float64
dtype: object

In [18]:
rb['Week'] = df['Week']
rb.columns

Index(['year', 'Name', 'Week', 'Opponent', 'games', 'att_avg', 'yds_avg',
       'td_avg', 'tar_avg', 'rec_yds_avg', 'att_ma', 'yds_ma', 'td_ma',
       'tar_ma', 'rec_yds_ma', 'att_car', 'yds_car', 'td_car', 'tar_car',
       'rec_yds_car', 'surface_0', 'h/a_1', 'def_rk', 'points'],
      dtype='object')

In [15]:
cols = rb.columns.tolist()
cols = cols[:2] +cols[-1:] +cols[3:4]+ cols[2:3]+cols[4:-1]
rb = rb[cols]
rb.columns

Index(['year', 'Name', 'Week', 'Opponent', 'games', 'att_avg', 'yds_avg',
       'td_avg', 'tar_avg', 'rec_yds_avg', 'att_ma', 'yds_ma', 'td_ma',
       'tar_ma', 'rec_yds_ma', 'att_car', 'yds_car', 'td_car', 'tar_car',
       'rec_yds_car', 'surface_0', 'h/a_1', 'def_rk', 'points'],
      dtype='object')

In [19]:
rb.head()

,year,Name,Week,Opponent,games,att_avg,yds_avg,td_avg,tar_avg,rec_yds_avg,...,rec_yds_ma,att_car,yds_car,td_car,tar_car,rec_yds_car,surface_0,h/a_1,def_rk,points
0,2018,Aaron Jones,3,WAS,1,0.0,0.0,0.00,0.00,0.00,...,0.00,0.0,0.0,0.00,0.00,0.00,1.0,0.0,15,5.7
1,2018,Aaron Jones,4,BUF,2,6.0,42.0,0.00,1.00,5.00,...,0.00,6.0,42.0,0.00,1.00,5.00,1.0,1.0,18,15.2
2,2018,Aaron Jones,5,DET,3,8.5,53.5,0.50,1.00,11.00,...,0.00,8.5,53.5,0.50,1.00,11.00,0.0,0.0,29,7.9
3,2018,Aaron Jones,6,SF,4,8.0,49.0,0.33,1.67,13.67,...,0.00,8.0,49.0,0.33,1.67,13.67,1.0,0.0,22,4.1
4,2018,Aaron Jones,8,LAR,5,8.0,47.0,0.25,1.50,10.25,...,10.25,8.0,47.0,0.25,1.50,10.25,1.0,0.0,14,16.6

In [20]:

rb.isnull().sum()

year           0
Name           0
Week           0
Opponent       0
games          0
att_avg        0
yds_avg        0
td_avg         0
tar_avg        0
rec_yds_avg    0
att_ma         0
yds_ma         0
td_ma          0
tar_ma         0
rec_yds_ma     0
att_car        0
yds_car        0
td_car         0
tar_car        0
rec_yds_car    0
surface_0      0
h/a_1          0
def_rk         0
points         0
dtype: int64

In [21]:
rb = rb.sort_values(['year','Week']).reset_index(drop=True)
rb.head()

,year,Name,Week,Opponent,games,att_avg,yds_avg,td_avg,tar_avg,rec_yds_avg,...,rec_yds_ma,att_car,yds_car,td_car,tar_car,rec_yds_car,surface_0,h/a_1,def_rk,points
0,2012,Adrian Peterson,1,JAX,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,30,21.7
1,2012,Ahmad Bradshaw,1,DAL,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,16,17.3
2,2012,Alfred Morris,1,NO,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29,21.6
3,2012,Andre Brown,1,DAL,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,16,0.0
4,2012,Anthony Allen,1,CIN,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,27,1.3

In [22]:
rb_18 = rb[rb['year']==2018.0]
rb

,year,Name,Week,Opponent,games,att_avg,yds_avg,td_avg,tar_avg,rec_yds_avg,...,rec_yds_ma,att_car,yds_car,td_car,tar_car,rec_yds_car,surface_0,h/a_1,def_rk,points
0,2012,Adrian Peterson,1,JAX,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,1.0,30,21.7
1,2012,Ahmad Bradshaw,1,DAL,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,1.0,16,17.3
2,2012,Alfred Morris,1,NO,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.0,29,21.6
3,2012,Andre Brown,1,DAL,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,1.0,16,0.0
4,2012,Anthony Allen,1,CIN,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,1.0,27,1.3
5,2012,Anthony Dixon,1,GB,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,0.0,12,0.0
6,2012,Anthony Sherman,1,SEA,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,1.0,6,0.0
7,2012,Antone Smith,1,KC,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,0.0,9,0.0
8,2012,Arian Foster,1,MIA,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,1.0,19,20.5
9,2012,Armando Allen,1,IND,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,1.0,21,0.0
10,2012,Baron Batch,1,DEN,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,0.0,14,-0.1
11,2012,Ben Tate,1,MIA,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,1.0,19,5.8
12,2012,BenJarvus Green-Ellis,1,BAL,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,0.0,1,16.5
13,2012,Bernard Pierce,1,CIN,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,1.0,27,1.9
14,2012,Bilal Powell,1,BUF,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,1.0,2,3.6
15,2012,Brandon Bolden,1,TEN,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,0.0,28,1.1
16,2012,Brandon Jackson,1,PHI,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,1.0,23,4.0
17,2012,Brandon Saine,1,SF,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,1.0,8,0.0
18,2012,Brian Leonard,1,BAL,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,0.0,1,0.5
19,2012,Brit Miller,1,DET,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.0,5,0.0
20,2012,Bruce Miller,1,GB,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,0.0,12,2.5
21,2012,Bryce Brown,1,CLE,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,0.0,20,0.3
22,2012,CJ Spiller,1,NYJ,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.0,7,29.4
23,2012,Cedric Benson,1,SF,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,1.0,8,1.8
24,2012,Cedric Peerman,1,BAL,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,0.0,1,2.2
25,2012,Chris Gronkowski,1,PIT,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,1.0,13,0.0
26,2012,Chris Johnson,1,NE,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,1.0,17,11.1
27,2012,Chris Polk,1,CLE,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,0.0,20,0.0
28,2012,Chris Pressley,1,BAL,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,0.0,1,0.0
29,2012,Chris Rainey,1,DEN,1,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,0.0,14,1.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12582,2018,Mike Boone,8,NO,6,1.60,7.20,0.00,0.60,0.20,...,0.200000,1.60,7.20,0.00,0.60,0.20,0.0,1.0,13,1.1
12583,2018,Mike Davis,8,DET,12,8.40,38.60,0.60,2.20,8.20,...,8.200000,8.40,38.60,0.60,2.20,8.20,0.0,0.0,19,4.5
12584,2018,Nick Bellore,8,SEA,7,0.00,0.00,0.00,0.17,-0.83,...,-0.833333,0.00,0.00,0.00,0.17,-0.83,0.0,1.0,6,0.0
12585,2018,Nick Chubb,8,PIT,8,4.86,36.14,0.43,0.43,0.00,...,0.000000,4.86,36.14,0.43,0.43,0.00,1.0,0.0,3,9.5
12586,2018,Nyheim Hines,8,OAK,8,5.86,22.86,0.14,5.71,25.71,...,25.714286,5.86,22.86,0.14,5.71,25.71,1.0,0.0,27,10.5
12587,2018,Patrick DiMarco,8,NE,89,0.00,0.00,0.00,0.14,3.43,...,3.428571,0.00,0.00,0.00,0.25,3.00,0.0,1.0,9,1.0
12588,2018,Patrick Ricard,8,CAR,7,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,0.0,16,0.0
12589,2018,Peyton Barber,8,CIN,7,12.33,43.33,0.00,2.00,6.17,...,6.166667,12.33,43.33,0.00,2.00,6.17,0.0,0.0,10,14.5
12590,2018,Phillip Lindsay,8,KC,8,10.71,62.29,0.29,2.86,17.00,...,17.000000,10.71,62.29,0.29,2.86,17.00,1.0,0.0,22,20.2
12591,2018,Raheem Mostert,8,ARI,19,3.57,22.43,0.00,0.86,3.57,...,3.571429,3.57,22.43,0.00,0.86,3.57,1.0,0.0,1,1.8
12592,2018,Rashaad Penny,8,DET,7,6.33,22.50,0.00,1.50,10.33,...,10.333333,6.33,22.50,0.00,1.50,10.33,0.0,0.0,19,0.0
12593,2018,Roc Thomas,8,NO,5,1.75,7.75,0.00,0.75,1.50,...,1.500000,1.75,7.75,0.00,0.75,1.50,0.0,1.0,13,2.4
12594,2018,Ronald Jones II,8,CIN,4,5.67,15.00,0.33,2.00,10.00,...,0.000000,5.67,15.00,0.33,2.00,10.00,0.0,0.0,10,1.1
12595,2018,Roosevelt Nix,8,CLE,22,0.00,0.00,0.00,0.33,3.17,...,3.166667,0.00,0.00,0.00,0.33,3.17,1.0,1.0,28,0.0
12596,2018,Saquon Barkley,8,WAS,8,14.00,68.71,0.71,8.71,60.57,...,60.571429,14.00,68.71,0.71,8.71,60.57,0.0,1.0,7,20.1
12597,2018,Senorise Perry,8,HOU,56,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.0,20,0.0
12598,2018,Spencer Ware,8,DEN,21,2.57,15.14,0.00,1.57,12.71,...,12.714286,2.57,15.14,0.00,1.57,12.71,1.0,1.0,8,0.0
12599,2018,Stevan Ridley,8,CLE,62,2.00,6.00,0.00,0.20,1.00,...,1.000000,3.33,8.83,0.00,0.33,1.83,1.0,1.0,28,2.3
12600,2018,TJ Logan,8,SF,2,0.00,0.00,0.00,0.00,0.00,...,0.000000,0.00,0.00,0.00,0.00,0.00,1.0,1.0,5,0.0
12601,2018,TJ Yeldon,8,PHI,20,11.29,46.71,0.14,6.29,37.57,...,37.571429,11.29,46.71,0.14,6.29,37.57,1.0,1.0,4,16.0
12602,2018,Tarik Cohen,8,NYJ,7,6.33,30.67,0.17,6.33,54.67,...,54.666667,6.33,30.67,0.17,6.33,54.67,1.0,1.0,21,18.0
12603,2018,Todd Gurley,8,GB,21,20.57,98.00,1.57,5.00,38.57,...,38.571429,20.57,98.00,1.57,5.00,38.57,1.0,1.0,25,36.5
12604,2018,Tommy Bohanon,8,PHI,50,0.00,0.00,0.00,0.57,1.43,...,1.428571,0.00,0.00,0.00,0.50,1.25,1.0,1.0,4,0.0
12605,2018,Tre Madden,8,DET,7,0.17,0.33,0.00,0.33,1.17,...,1.166667,0.17,0.33,0.00,0.33,1.17,0.0,0.0,19,0.1
12606,2018,Trenton Cannon,8,CHI,8,1.14,2.71,0.00,0.86,10.71,...,10.714286,1.14,2.71,0.00,0.86,10.71,1.0,0.0,2,5.2
12607,2018,Ty Montgomery,8,LAR,13,4.00,16.50,0.17,3.50,28.00,...,28.000000,4.00,16.50,0.17,3.50,28.00,1.0,0.0,14,0.8
12608,2018,Tyler Ervin,8,MIA,8,0.00,0.00,0.00,0.43,4.43,...,4.428571,0.00,0.00,0.00,0.43,4.43,0.0,1.0,18,1.4
12609,2018,Wayne Gallman,8,WAS,8,2.00,7.00,0.00,1.71,8.86,...,8.857143,2.00,7.00,0.00,1.71,8.86,0.0,1.0,7,-0.1
12610,2018,Wendell Smallwood,8,JAX,8,7.43,33.29,0.14,2.71,14.43,...,14.428571,7.43,33.29,0.14,2.71,14.43,1.0,0.0,12,14.6
12611,2018,Zach Line,8,MIN,29,0.00,0.00,0.00,1.00,1.67,...,1.666667,0.00,0.00,0.00,0.86,1.43,0.0,0.0,26,0.0

In [23]:
test = rb[rb['year']==2018]
test=test[test['Week']==8]
test.shape

(95, 24)

In [25]:
test.index

Int64Index([12517, 12518, 12519, 12520, 12521, 12522, 12523, 12524, 12525,
            12526, 12527, 12528, 12529, 12530, 12531, 12532, 12533, 12534,
            12535, 12536, 12537, 12538, 12539, 12540, 12541, 12542, 12543,
            12544, 12545, 12546, 12547, 12548, 12549, 12550, 12551, 12552,
            12553, 12554, 12555, 12556, 12557, 12558, 12559, 12560, 12561,
            12562, 12563, 12564, 12565, 12566, 12567, 12568, 12569, 12570,
            12571, 12572, 12573, 12574, 12575, 12576, 12577, 12578, 12579,
            12580, 12581, 12582, 12583, 12584, 12585, 12586, 12587, 12588,
            12589, 12590, 12591, 12592, 12593, 12594, 12595, 12596, 12597,
            12598, 12599, 12600, 12601, 12602, 12603, 12604, 12605, 12606,
            12607, 12608, 12609, 12610, 12611],
           dtype='int64')

In [27]:
# Design train and test datasets

train = rb[:test.index[0]]
train.tail()

,year,Name,Week,Opponent,games,att_avg,yds_avg,td_avg,tar_avg,rec_yds_avg,...,rec_yds_ma,att_car,yds_car,td_car,tar_car,rec_yds_car,surface_0,h/a_1,def_rk,points
12512,2018,Trenton Cannon,7,MIN,7,1.00,2.50,0.00,0.17,1.00,...,1.000000,1.00,2.50,0.00,0.17,1.00,0.0,1.0,6,11.3
12513,2018,Tyler Ervin,7,JAX,7,0.00,0.00,0.00,0.33,2.00,...,2.000000,0.00,0.00,0.00,0.33,2.00,1.0,0.0,10,2.9
12514,2018,Wayne Gallman,7,ATL,7,2.33,8.17,0.00,2.00,10.33,...,10.333333,2.33,8.17,0.00,2.00,10.33,0.0,0.0,30,0.0
12515,2018,Wendell Smallwood,7,CAR,7,7.17,33.50,0.17,2.83,16.00,...,16.000000,7.17,33.50,0.17,2.83,16.00,1.0,1.0,7,5.7
12516,2018,Zach Line,7,BAL,28,0.00,0.00,0.00,1.20,2.00,...,2.000000,0.00,0.00,0.00,1.00,1.67,1.0,0.0,1,0.0

In [28]:
train.shape

(12517, 24)

In [29]:
test.columns

Index(['year', 'Name', 'Week', 'Opponent', 'games', 'att_avg', 'yds_avg',
       'td_avg', 'tar_avg', 'rec_yds_avg', 'att_ma', 'yds_ma', 'td_ma',
       'tar_ma', 'rec_yds_ma', 'att_car', 'yds_car', 'td_car', 'tar_car',
       'rec_yds_car', 'surface_0', 'h/a_1', 'def_rk', 'points'],
      dtype='object')

In [30]:
# Target variables 

y_train = train['points']
y_test = test['points']

# Predictors, all numeric variables minus target variable
X_train = train.iloc[:,4:-1]
X_test = test.iloc[:,4:-1]

In [31]:
scaler = MinMaxScaler()
scaler.fit_transform(X_train)

array([[0.        , 0.        , 0.02645503, ..., 0.        , 1.        ,
        0.93548387],
       [0.        , 0.        , 0.02645503, ..., 0.        , 1.        ,
        0.48387097],
       [0.        , 0.        , 0.02645503, ..., 0.        , 0.        ,
        0.90322581],
       ...,
       [0.06      , 0.07516129, 0.06968254, ..., 0.        , 0.        ,
        0.93548387],
       [0.06      , 0.23129032, 0.2037037 , ..., 1.        , 1.        ,
        0.19354839],
       [0.27      , 0.        , 0.02645503, ..., 1.        , 0.        ,
        0.        ]])

In [32]:
X_test.shape

(95, 19)

In [33]:
X_train.shape

(12517, 19)

In [16]:
y_train.reset_index(inplace=True,drop=True)
X_train.reset_index(inplace=True, drop=True)

In [34]:
lr = LinearRegression()

In [35]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [36]:
coeff = pd.DataFrame(X_train.columns)
coeff['coefficients'] = lr.coef_
coeff

              0  coefficients
0         games     -0.018551
1       att_avg      0.101503
2       yds_avg      0.008887
3        td_avg     -0.896157
4       tar_avg      0.225332
5   rec_yds_avg     -0.005537
6        att_ma     -0.215404
7        yds_ma      0.058034
8         td_ma     -0.424344
9        tar_ma     -0.318957
10   rec_yds_ma      0.042573
11      att_car      0.157375
12      yds_car      0.047482
13       td_car      1.855022
14      tar_car      0.426029
15  rec_yds_car      0.038446
16    surface_0     -0.114451
17        h/a_1      0.196850
18       def_rk      0.031815

In [37]:
X_train.shape

(12517, 19)

In [38]:
yhat = lr.predict(X_test)

In [39]:
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

rmse_val = rmse(yhat, y_test)
print("RMSE error is: " + str(rmse_val))

RMSE error is: 6.650505303341016

In [40]:
results = pd.DataFrame()
results['Player'] = test['Name']
#results['score'] = y_test
results['Predicted'] = yhat
results['points'] = test['points']
#results['Week'] = qb[qb['year']==2017]['Week']
#results.groupby('Player').mean()[['score','Predicted']]
results

                    Player  Predicted  points
12517          Aaron Jones   8.143320    16.6
12518      Adrian Peterson  12.367197    30.6
12519           Alan Cross   1.204443     0.0
12520           Alex Armah   1.389961     0.0
12521         Alex Collins   8.707315    13.3
12522          Alfred Blue   6.657706     4.2
12523        Alfred Morris   4.845258     2.8
12524         Alvin Kamara  16.989002    26.6
12525       Ameer Abdullah   1.490498     0.6
12526        Andy Janovich   1.811282     0.0
12527      Anthony Sherman   0.090117     2.0
12528  Benjamin Cunningham   1.236016     0.0
12529       Brandon Bolden  -0.002562     0.0
12530          CJ Anderson   3.841933     2.0
12531               CJ Ham   2.572930     0.1
12532           CJ Prosise   2.197330     0.0
12533          Carlos Hyde   8.715281     1.1
12534        Chase Edmonds   3.011679     3.1
12535         Chris Carson  11.625906    23.4
12536          Chris Ivory   5.447426     5.5
12537       Chris Thompson   9.309759     4.2
12538  Christian McCaffrey  15.035946    21.6
12539        Corey Clement   7.976425     1.5
12540        David Johnson  10.298387    14.0
12541   Deandre Washington   1.315537     0.4
12542      Derrick Coleman   0.450191     0.0
12543      Devontae Booker   4.482652    14.1
12544    Dontrell Hilliard   0.699807     3.4
12545          Doug Martin   3.198647     9.9
12546         Duke Johnson   5.432326     3.6
...                    ...        ...     ...
12582           Mike Boone   2.381401     1.1
12583           Mike Davis   7.608422     4.5
12584         Nick Bellore   1.027129     0.0
12585           Nick Chubb   5.327474     9.5
12586         Nyheim Hines   8.152174    10.5
12587      Patrick DiMarco  -0.058569     1.0
12588       Patrick Ricard   1.039198     0.0
12589        Peyton Barber   7.585731    14.5
12590      Phillip Lindsay  11.193733    20.2
12591       Raheem Mostert   3.616542     1.8
12592        Rashaad Penny   5.376106     0.0
12593           Roc Thomas   2.617382     2.4
12594      Ronald Jones II   5.280022     1.1
12595        Roosevelt Nix   1.687331     0.0
12596       Saquon Barkley  17.358693    20.1
12597       Senorise Perry   0.371920     0.0
12598         Spencer Ware   4.046442     0.0
12599        Stevan Ridley   1.943836     2.3
12600             TJ Logan   0.978837     0.0
12601            TJ Yeldon  11.450590    16.0
12602          Tarik Cohen  11.499941    18.0
12603          Todd Gurley  18.780114    36.5
12604        Tommy Bohanon   0.316737     0.0
12605           Tre Madden   1.491950     0.1
12606       Trenton Cannon   2.029839     5.2
12607        Ty Montgomery   6.295004     0.8
12608          Tyler Ervin   1.873292     1.4
12609        Wayne Gallman   3.169075    -0.1
12610    Wendell Smallwood   7.087141    14.6
12611            Zach Line   1.453126     0.0

[95 rows x 3 columns]

In [323]:
results.

(300, 3)

In [26]:
results.to_csv('../output/rb_test.csv', index= False)