In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

In [ ]:
# Read an rename

In [13]:
wr = pd.read_csv('../input/wr/wr_stats.csv')

In [14]:
# Replace nulls with zero and turn salary attribute to float
wr.replace('null',0, inplace=True)
wr.salary = wr['salary'].apply(lambda x: float(x))

In [15]:
def conv_atts(df):
    df.rename(columns={'Unnamed: 0':'player'}, inplace=True)
    df.replace('null',0, inplace=True)
    df['salary'] = df['salary'].apply(lambda x: float(x))
    df['h/a_1'] = df['h/a_1'].astype('category')
    df['surface_0'] = df['surface_0'].astype('category')
    df['def_rk'] = df['def_rk'].astype('category')

    return df

In [16]:
wr = conv_atts(wr)
wr.dtypes

player          object
Week             int64
Opponent        object
year             int64
var1(t-1)      float64
var2(t-1)      float64
var3(t-1)      float64
var4(t-1)      float64
var5(t-1)      float64
var6(t-1)      float64
var7(t-1)      float64
var8(t-1)      float64
var9(t-1)      float64
var10(t-1)     float64
var11(t-1)     float64
var12(t-1)     float64
var13(t-1)     float64
var14(t-1)     float64
var15(t-1)     float64
var16(t-1)     float64
var17(t-1)     float64
var18(t-1)     float64
var1(t)        float64
var2(t)        float64
var3(t)        float64
var4(t)        float64
var5(t)        float64
var6(t)        float64
var7(t)        float64
var8(t)        float64
var9(t)        float64
var10(t)       float64
var11(t)       float64
var12(t)       float64
var13(t)       float64
var14(t)       float64
var15(t)       float64
var16(t)       float64
var17(t)       float64
var18(t)       float64
def_rk        category
h/a_1         category
surface_0     category
salary         float64
points         float64
dtype: object

In [17]:
# Design train and test datasets

train = wr[wr['year']!=2018]
train = train[train['Week']!=4]
train['year'].unique()

array([2015, 2016, 2017], dtype=int64)

In [18]:
train.shape

(6653, 45)

In [19]:
test = wr[wr['year']==2018]
test=test[test['Week']==4]
test.shape

(107, 45)

In [20]:
test.columns

Index(['player', 'Week', 'Opponent', 'year', 'var1(t-1)', 'var2(t-1)',
       'var3(t-1)', 'var4(t-1)', 'var5(t-1)', 'var6(t-1)', 'var7(t-1)',
       'var8(t-1)', 'var9(t-1)', 'var10(t-1)', 'var11(t-1)', 'var12(t-1)',
       'var13(t-1)', 'var14(t-1)', 'var15(t-1)', 'var16(t-1)', 'var17(t-1)',
       'var18(t-1)', 'var1(t)', 'var2(t)', 'var3(t)', 'var4(t)', 'var5(t)',
       'var6(t)', 'var7(t)', 'var8(t)', 'var9(t)', 'var10(t)', 'var11(t)',
       'var12(t)', 'var13(t)', 'var14(t)', 'var15(t)', 'var16(t)', 'var17(t)',
       'var18(t)', 'def_rk', 'h/a_1', 'surface_0', 'salary', 'points'],
      dtype='object')

In [21]:
# Target variables 

y_train = train['points']
y_test = test['points']

# Predictors, all numeric variables minus target variable
X_train = train.iloc[:,4:-2]
X_test = test.iloc[:,4:-2]

In [29]:
scaler = MinMaxScaler()
scaler.fit_transform(X_train)

array([[0.47058824, 0.33333333, 0.35326087, ..., 0.41935484, 1.        ,
        0.        ],
       [0.35294118, 0.26666667, 0.30434783, ..., 0.51612903, 0.        ,
        1.        ],
       [0.51470588, 0.41666667, 0.57744565, ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.33352941, 0.13866667, 0.14266304, ..., 0.03225806, 1.        ,
        0.        ],
       [0.31647059, 0.128     , 0.1325    , ..., 0.93548387, 0.        ,
        0.        ],
       [0.29823529, 0.11933333, 0.1238587 , ..., 0.03225806, 0.        ,
        1.        ]])

In [16]:
X_test.shape

(63, 33)

In [17]:
X_train.shape

(3439, 33)

In [16]:
y_train.reset_index(inplace=True,drop=True)
X_train.reset_index(inplace=True, drop=True)

In [22]:
lr = LinearRegression()

In [30]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [31]:
coeff = pd.DataFrame(X_train.columns)
coeff['coefficients'] = lr.coef_
coeff

             0  coefficients
0    var1(t-1)      0.286905
1    var2(t-1)     -1.157866
2    var3(t-1)     -0.025204
3    var4(t-1)     -3.836036
4    var5(t-1)      0.098273
5    var6(t-1)     -0.180584
6    var7(t-1)      0.245753
7    var8(t-1)     -0.805384
8    var9(t-1)      0.050445
9   var10(t-1)      1.851851
10  var11(t-1)     -0.009305
11  var12(t-1)     -0.059116
12  var13(t-1)     -0.180501
13  var14(t-1)      0.024340
14  var15(t-1)     -0.252825
15  var16(t-1)     -6.719192
16  var17(t-1)     -0.072778
17  var18(t-1)      0.273872
18     var1(t)     -0.159444
19     var2(t)      1.340807
20     var3(t)      0.093633
21     var4(t)      7.182156
22     var5(t)     -0.024910
23     var6(t)      0.065095
24     var7(t)      0.124482
25     var8(t)      1.156388
26     var9(t)     -0.143570
27    var10(t)     -5.285132
28    var11(t)     -0.030536
29    var12(t)      0.206694
30    var13(t)     -0.076816
31    var14(t)      0.302434
32    var15(t)      0.365353
33    var16(t)     10.652740
34    var17(t)      0.051823
35    var18(t)     -0.284800
36      def_rk      0.043349
37       h/a_1      0.207333
38   surface_0     -0.017937

In [22]:
X_train.shape

(3439, 33)

In [32]:
yhat = lr.predict(X_test)

In [33]:
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

rmse_val = rmse(yhat, y_test)
print("RMSE error is: " + str(rmse_val))

RMSE error is: 3.341516994162949

In [27]:
results = pd.DataFrame()
results['Player'] = test['player']
#results['score'] = y_test
results['Predicted'] = yhat
results['points'] = test['points']
#results['Week'] = qb[qb['year']==2017]['Week']
#results.groupby('Player').mean()[['score','Predicted']]
results

                              Player  Predicted  points
44                 AJ Green_reframed  20.844794    17.8
113          Adam Humphries_reframed   7.530938     9.6
164            Adam Thielen_reframed  28.252815    30.5
210           Albert Wilson_reframed   9.180470     6.1
276           Alex Erickson_reframed   1.330478     2.6
315             Allen Hurns_reframed   3.798727     6.0
351          Allen Robinson_reframed  11.555173    10.3
447            Amari Cooper_reframed  23.532247    29.8
507            Andre Holmes_reframed   1.967858     2.8
573           Andre Roberts_reframed  -0.475961     0.0
678           Antonio Brown_reframed  17.823060    17.2
681        Antonio Callaway_reframed   8.956565     8.4
721             Austin Carr_reframed   0.058912     0.0
851           Brandin Cooks_reframed  26.106622    28.6
978        Brandon Marshall_reframed   3.374888     1.5
1023        Brandon Zylstra_reframed  -0.172519     0.0
1291          Calvin Ridley_reframed  24.496710    21.5
1426         Chester Rogers_reframed  12.241362    18.5
1466           Chris Conley_reframed   5.419051     5.3
1499           Chris Godwin_reframed  10.592256     4.2
1555            Chris Hogan_reframed   4.847797     3.5
1603            Chris Moore_reframed   2.883571     3.2
1617         Christian Kirk_reframed   6.896000     7.5
1736           Cole Beasley_reframed   8.516197     9.3
1754            Cooper Kupp_reframed  33.505681    40.2
1803  Cordarrelle Patterson_reframed   9.948185    15.5
1864            Corey Davis_reframed  25.294083    34.1
1878       Courtland Sutton_reframed   7.274722     8.1
1889             D.J. Chark_reframed   1.338397     1.6
1972         Danny Amendola_reframed   4.951531     4.1
...                              ...        ...     ...
5657       Odell Beckham Jr_reframed  16.331369    14.0
5767        Phillip Dorsett_reframed  13.596218    15.5
5810          Pierre Garcon_reframed   7.935086     9.2
5864          Quincy Enunwa_reframed  12.373248    10.6
6005        Rashard Higgins_reframed  10.235992    10.1
6142         Robby Anderson_reframed   3.549004     3.8
6145          Robert Foster_reframed   0.236206     0.0
6148      Robert Tonyan Jr._reframed   0.294908     0.0
6190           Robert Woods_reframed  22.315842    24.1
6351             Ryan Grant_reframed  11.588665    11.4
6368           Ryan Switzer_reframed   6.841627    10.3
6440          Sammy Watkins_reframed   5.253237     0.0
6488           Seth Roberts_reframed   3.071162     3.2
6563           Stefon Diggs_reframed  22.955658    26.3
6593       Sterling Shepard_reframed  20.199766    25.7
6673            T.Y. Hilton_reframed  17.544990    18.5
6720           Tajae Sharpe_reframed   8.483036    10.7
6809           Tavon Austin_reframed   3.158024     0.7
6854         Taylor Gabriel_reframed  22.645316    33.4
6872          Taywan Taylor_reframed  12.451932    14.7
6921               Ted Ginn_reframed   4.466226     0.1
7001         Terrelle Pryor_reframed   2.093697     0.0
7005            Tim Patrick_reframed   0.518443     0.0
7172         Tre'Quan Smith_reframed  -0.257148     0.0
7239             Tyler Boyd_reframed  22.181398    24.0
7289          Tyler Lockett_reframed  13.186545    10.3
7324            Tyreek Hill_reframed  18.250598    14.6
7366        Tyrell Williams_reframed   8.908043     7.8
7507           Willie Snead_reframed  11.653570    11.6
7525              Zay Jones_reframed   6.394966     7.8

[107 rows x 3 columns]

In [323]:
results.

(300, 3)

In [28]:
results.to_csv('../output/wr_test.csv', index= False)