In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

In [2]:
te = pd.read_csv('../input/te/te_stats.csv')

In [4]:
df = pd.read_csv('../input/te/te_loc_cleaned.csv')

In [3]:
te.isnull().sum()

year           0
Name           0
games          0
Opponent       0
tar_avg        0
rec_avg        0
yds_avg        0
td_avg         0
yds/tar_avg    0
yds/rec_avg    0
tar_ma         0
rec_ma         0
yds_ma         0
td_ma          0
yds/tar_ma     0
yds/rec_ma     0
tar_car        0
rec_car        0
yds_car        0
td_car         0
yds/tar_car    0
yds/rec_car    0
surface_0      0
h/a_1          0
def_rk         0
points         0
dtype: int64

In [6]:
df.sort_values(['Name','games'], inplace=True)
df.reset_index(inplace=True, drop=True)
df.head()

,games,year,Name,Team,Week,Opponent,tar,rec,yds,td,yds/tar,yds/rec,def_rk,h/a_1,surface_0,points
0,1,2014,AD Denham,HOU,14,JAX,0,0,0,0,0.0,0.0,30,0.0,1.0,0.0
1,2,2014,AD Denham,HOU,15,IND,0,0,0,0,0.0,0.0,5,0.0,0.0,0.0
2,3,2014,AD Denham,HOU,16,BAL,0,0,0,0,0.0,0.0,4,1.0,0.0,0.0
3,4,2014,AD Denham,HOU,17,JAX,0,0,0,0,0.0,0.0,30,1.0,0.0,0.0
4,1,2016,AJ Derby,NE,1,ARI,0,0,0,0,0.0,0.0,1,0.0,1.0,0.0

In [7]:

te.dtypes

year             int64
Name            object
games            int64
Opponent        object
tar_avg        float64
rec_avg        float64
yds_avg        float64
td_avg         float64
yds/tar_avg    float64
yds/rec_avg    float64
tar_ma         float64
rec_ma         float64
yds_ma         float64
td_ma          float64
yds/tar_ma     float64
yds/rec_ma     float64
tar_car        float64
rec_car        float64
yds_car        float64
td_car         float64
yds/tar_car    float64
yds/rec_car    float64
surface_0      float64
h/a_1          float64
def_rk           int64
points         float64
dtype: object

In [9]:
te.sort_values(['Name','games'], inplace=True)
te.reset_index(inplace=True, drop=True)
te.head()

,year,Name,games,Opponent,tar_avg,rec_avg,yds_avg,td_avg,yds/tar_avg,yds/rec_avg,...,tar_car,rec_car,yds_car,td_car,yds/tar_car,yds/rec_car,surface_0,h/a_1,def_rk,points
0,2014,AD Denham,1,JAX,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,30,0.0
1,2014,AD Denham,2,IND,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,0.0
2,2014,AD Denham,3,BAL,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4,0.0
3,2014,AD Denham,4,JAX,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,30,0.0
4,2016,AJ Derby,1,ARI,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0.0

In [10]:
te['Week'] = df['Week']
te.columns`

Index(['year', 'Name', 'games', 'Opponent', 'tar_avg', 'rec_avg', 'yds_avg',
       'td_avg', 'yds/tar_avg', 'yds/rec_avg', 'tar_ma', 'rec_ma', 'yds_ma',
       'td_ma', 'yds/tar_ma', 'yds/rec_ma', 'tar_car', 'rec_car', 'yds_car',
       'td_car', 'yds/tar_car', 'yds/rec_car', 'surface_0', 'h/a_1', 'def_rk',
       'points', 'Week'],
      dtype='object')

In [13]:
cols = te.columns.tolist()
cols = cols[:2] + cols[-1:] + cols[3:4] + cols[2:3]+cols[4:-1]
te = te[cols]
te.head()

,year,Name,Week,Opponent,games,tar_avg,rec_avg,yds_avg,td_avg,yds/tar_avg,...,tar_car,rec_car,yds_car,td_car,yds/tar_car,yds/rec_car,surface_0,h/a_1,def_rk,points
0,2014,AD Denham,14,JAX,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,30,0.0
1,2014,AD Denham,15,IND,2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,0.0
2,2014,AD Denham,16,BAL,3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4,0.0
3,2014,AD Denham,17,JAX,4,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,30,0.0
4,2016,AJ Derby,1,ARI,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0.0

In [16]:
def conv_atts(df):
    
    df['h/a_1'] = df['h/a_1'].astype('category')
    df['surface_0'] = df['surface_0'].astype('category')
    df['def_rk'] = df['def_rk'].astype('category')

    return df

In [17]:
te = conv_atts(te)
te.dtypes

year              int64
Name             object
Week              int64
Opponent         object
games             int64
tar_avg         float64
rec_avg         float64
yds_avg         float64
td_avg          float64
yds/tar_avg     float64
yds/rec_avg     float64
tar_ma          float64
rec_ma          float64
yds_ma          float64
td_ma           float64
yds/tar_ma      float64
yds/rec_ma      float64
tar_car         float64
rec_car         float64
yds_car         float64
td_car          float64
yds/tar_car     float64
yds/rec_car     float64
surface_0      category
h/a_1          category
def_rk         category
points          float64
dtype: object

In [37]:
te.sort_values(['year','Week'], inplace=True)
te.reset_index(inplace=True, drop=True)
te.head()

,year,Name,Week,Opponent,games,tar_avg,rec_avg,yds_avg,td_avg,yds/tar_avg,...,tar_car,rec_car,yds_car,td_car,yds/tar_car,yds/rec_car,surface_0,h/a_1,def_rk,points
0,2012,Aaron Hernandez,1,TEN,1,0.00,0.00,0.00,0.0,0.00,...,0.0,0.00,0.00,0.0,0.00,0.00,1.0,0.0,24,12.4
1,2012,Adrien Robinson,1,DAL,1,0.00,0.00,0.00,0.0,0.00,...,0.0,0.00,0.00,0.0,0.00,0.00,0.0,1.0,32,0.0
2,2012,Adrien Robinson,1,DET,4,0.00,0.00,0.00,0.0,0.00,...,0.0,0.00,0.00,0.0,0.00,0.00,0.0,0.0,7,0.0
3,2012,Alex Smith,1,PHI,1,0.00,0.00,0.00,0.0,0.00,...,0.0,0.00,0.00,0.0,0.00,0.00,1.0,1.0,4,-0.1
4,2012,Alex Smith,1,CHI,13,1.67,1.11,4.56,0.0,1.31,...,1.5,1.08,3.92,0.0,1.15,1.48,1.0,0.0,20,0.0

In [38]:
test = te[te['year']==2018]
test=test[test['Week']==8]
test.head()

,year,Name,Week,Opponent,games,tar_avg,rec_avg,yds_avg,td_avg,yds/tar_avg,...,tar_car,rec_car,yds_car,td_car,yds/tar_car,yds/rec_car,surface_0,h/a_1,def_rk,points
9133,2018,Antony Auclair,8,CIN,11,2.00,2.00,11.50,0.00,6.50,...,1.33,1.33,7.67,0.00,4.33,4.33,0.0,0.0,24,0.0
9134,2018,Austin Seferian-Jenkins,8,MIN,5,0.00,0.00,0.00,0.00,0.00,...,4.25,2.25,34.75,0.00,8.65,16.55,1.0,1.0,29,6.6
9135,2018,Ben Braunecker,8,NYJ,23,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,1.0,1.0,3,0.0
9136,2018,Benjamin Watson,8,MIN,86,4.67,3.83,38.33,0.17,8.17,...,5.43,4.29,41.57,0.14,7.87,11.13,0.0,0.0,1,0.0
9137,2018,Blake Bell,8,PHI,42,0.00,0.00,0.00,0.00,0.00,...,1.00,1.00,3.50,0.00,1.75,1.75,1.0,1.0,12,2.3

In [39]:
# Design train and test datasets
train = te[:test.index[0]]
train.tail()

,year,Name,Week,Opponent,games,tar_avg,rec_avg,yds_avg,td_avg,yds/tar_avg,...,tar_car,rec_car,yds_car,td_car,yds/tar_car,yds/rec_car,surface_0,h/a_1,def_rk,points
9128,2018,Tyler Higbee,7,SF,36,2.67,1.67,21.33,0.33,8.50,...,2.00,1.25,16.00,0.25,6.38,8.38,1.0,0.0,23,0.0
9129,2018,Vernon Davis,7,SEA,7,0.00,0.00,0.00,0.00,0.00,...,5.67,3.83,56.67,0.67,10.35,14.50,1.0,1.0,16,0.0
9130,2018,Vernon Davis,7,DAL,98,2.00,1.80,29.80,0.20,14.40,...,2.17,1.83,28.17,0.17,13.12,14.08,1.0,1.0,11,0.0
9131,2018,Virgil Green,7,TEN,90,2.00,2.00,24.50,0.25,11.58,...,1.80,1.80,20.80,0.20,10.46,10.46,1.0,1.0,1,0.0
9132,2018,Zach Ertz,7,CAR,82,11.17,8.00,80.00,0.33,7.02,...,9.86,7.14,72.00,0.29,7.73,10.43,1.0,1.0,31,25.8

In [40]:
train.shape

(9133, 27)

In [41]:
test.columns

Index(['year', 'Name', 'Week', 'Opponent', 'games', 'tar_avg', 'rec_avg',
       'yds_avg', 'td_avg', 'yds/tar_avg', 'yds/rec_avg', 'tar_ma', 'rec_ma',
       'yds_ma', 'td_ma', 'yds/tar_ma', 'yds/rec_ma', 'tar_car', 'rec_car',
       'yds_car', 'td_car', 'yds/tar_car', 'yds/rec_car', 'surface_0', 'h/a_1',
       'def_rk', 'points'],
      dtype='object')

In [42]:
# Target variables 

y_train = train['points']
y_test = test['points']

# Predictors, all numeric variables minus target variable
X_train = train.iloc[:,4:-1]
X_test = test.iloc[:,4:-1]

In [43]:
scaler = MinMaxScaler()
scaler.fit_transform(X_train)

array([[0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.74193548],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        1.        ],
       [0.03092784, 0.        , 0.        , ..., 0.        , 0.        ,
        0.19354839],
       ...,
       [1.        , 0.11764706, 0.18      , ..., 1.        , 1.        ,
        0.32258065],
       [0.91752577, 0.11764706, 0.2       , ..., 1.        , 1.        ,
        0.        ],
       [0.83505155, 0.65705882, 0.8       , ..., 1.        , 1.        ,
        0.96774194]])

In [44]:
X_test.shape

(87, 22)

In [45]:
X_train.shape

(9133, 22)

In [16]:
y_train.reset_index(inplace=True,drop=True)
X_train.reset_index(inplace=True, drop=True)

In [30]:
lr = LinearRegression()

In [46]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [47]:
coeff = pd.DataFrame(X_train.columns)
coeff['coefficients'] = lr.coef_
coeff

              0  coefficients
0         games      0.001311
1       tar_avg      0.149145
2       rec_avg     -0.078319
3       yds_avg      0.008624
4        td_avg      0.584052
5   yds/tar_avg     -0.053708
6   yds/rec_avg      0.033113
7        tar_ma     -0.114226
8        rec_ma      0.000376
9        yds_ma      0.014230
10        td_ma      0.347761
11   yds/tar_ma      0.001064
12   yds/rec_ma     -0.051910
13      tar_car      0.531190
14      rec_car     -0.216755
15      yds_car      0.048703
16       td_car      0.278778
17  yds/tar_car      0.013971
18  yds/rec_car      0.023752
19    surface_0     -0.094504
20        h/a_1      0.122122
21       def_rk      0.041036

In [48]:
X_train.shape

(9133, 22)

In [49]:
yhat = lr.predict(X_test)

In [56]:
test[test['Name']=='Rob Gronkowski']['td_car']

9207    0.14
Name: td_car, dtype: float64

In [50]:
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

rmse_val = rmse(yhat, y_test)
print("RMSE error is: " + str(rmse_val))

RMSE error is: 4.344367413903388

In [51]:
results = pd.DataFrame()
results['Player'] = test['Name']
#results['score'] = y_test
results['Predicted'] = yhat
results['points'] = test['points']
#results['Week'] = qb[qb['year']==2017]['Week']
#results.groupby('Player').mean()[['score','Predicted']]
results

                       Player  Predicted  points
9133           Antony Auclair   1.887126     0.0
9134  Austin Seferian-Jenkins   4.186201     6.6
9135           Ben Braunecker   0.006673     0.0
9136          Benjamin Watson   4.623230     0.0
9137               Blake Bell   0.951822     2.3
9138             Brian Parker   0.525388     0.0
9139                CJ Uzomah   3.545125     0.0
9140            Cameron Brate   4.640579     2.3
9141             Charles Clay   1.955789     0.0
9142             Charles Clay   3.864086     6.6
9143         Chris Herndon IV   3.527175     8.6
9144           Chris Manhertz   0.788977     0.0
9145           Dallas Goedert   4.217498    10.2
9146             Darren Fells   1.896510     1.6
9147           David Grinnage   1.748328     6.7
9148             David Morgan   1.946670     0.0
9149              David Njoku   6.254040     0.0
9150         Demetrius Harris   6.016095     0.0
9151              Deon Yelder   0.921647     0.0
9152            Derek Carrier   3.102794     0.0
9153                Dion Sims   1.262532     0.0
9154            Durham Smythe   0.033589     0.0
9155             Dwayne Allen   2.814166     5.6
9156             Dwayne Allen   0.476984     0.0
9157               Eric Ebron   8.476470    12.7
9158           Eric Tomlinson   1.554482     0.0
9159              Evan Engram   4.002201    13.5
9160              Gabe Holmes   0.227972     0.0
9161            Garrett Celek   2.362536     0.0
9162            George Kittle   8.542427    10.7
...                       ...        ...     ...
9190             Luke Willson   1.749254     5.1
9191           Marcedes Lewis   2.567056     2.1
9192             Mark Andrews   3.643582     7.1
9193             Matt LaCosse   1.567219     6.9
9194              Matt Lengel   0.620665     1.4
9195          Michael Roberts   3.559992     0.0
9196             Mike Gesicki   2.385266     5.4
9197              Mo Alie-Cox   3.503593     9.6
9198               Nick Boyle   3.718249     1.7
9199              Nick Deluca   0.347146     0.0
9200             Nick O'Leary   4.241607     0.0
9201             Nick Vannett   0.628782     0.7
9202             Nick Vannett   3.169166     2.6
9203                OJ Howard   7.173564    16.8
9204            Orson Charles   0.761050     0.0
9205            Rhett Ellison   3.450492     0.0
9206        Ricky Seals-Jones   4.053680     3.2
9207           Rob Gronkowski   6.034346     7.3
9208             Ross Dwelley   0.349443     0.0
9209              Ryan Hewitt   0.961590     0.0
9210           Scott Simonson   3.097541     0.0
9211             Seth DeValve   1.341982    10.8
9212             Travis Kelce  10.853063    19.9
9213              Trey Burton   5.928827     4.8
9214            Tyler Conklin   0.815424     0.0
9215             Tyler Higbee   1.801627     1.6
9216           Vance McDonald   6.140357     7.7
9217             Vernon Davis   2.801941     3.1
9218           Xavier Grimble   2.014830     0.0
9219                Zach Ertz  10.442090    12.6

[87 rows x 3 columns]

In [42]:
results.head()

                               Player  Predicted  points
101            Antonio Gates_reframed   9.107350    10.7
103           Antony Auclair_reframed   1.547872     1.8
133            Austin Hooper_reframed   6.449231     2.9
165  Austin Seferian-Jenkins_reframed   5.226458     4.4
219          Benjamin Watson_reframed   5.675421     3.3

In [52]:
test[test['Name']=='Charles Clay']

,year,Name,Week,Opponent,games,tar_avg,rec_avg,yds_avg,td_avg,yds/tar_avg,...,tar_car,rec_car,yds_car,td_car,yds/tar_car,yds/rec_car,surface_0,h/a_1,def_rk,points
9141,2018,Charles Clay,8,NYJ,7,0.00,0.00,0.00,0.0,0.00,...,2.00,0.83,7.50,0.0,1.95,3.62,0.0,0.0,26,0.0
9142,2018,Charles Clay,8,NE,92,3.83,2.67,22.17,0.0,6.87,...,4.43,3.14,28.14,0.0,7.03,9.41,0.0,1.0,13,6.6

In [46]:
results.to_csv('../output/te_test.csv', index= False)

In [47]:
te_points['projected'] = te_points['player'].map(lambda x: x['Predicted'], results)

NameError: name 'te_points' is not defined

In [ ]:
te_poins =