In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

In [2]:
te = pd.read_csv('../input/te/te_stats.csv')

In [4]:
te.isnull().sum()

Unnamed: 0       0
Name             0
Week           416
Opponent       416
tar_avg        416
rec_avg        416
yds_avg        416
td_avg         416
fum_avg        416
def_rk_avg     416
tar_ma         416
rec_ma         416
yds_ma         416
td_ma          416
fum_ma         416
def_rk_ma      416
tar_car        416
rec_car        416
yds_car        416
td_car         416
fum_car        416
def_rk_car     416
def_rk         416
h/a_1          416
surface_0      416
points         416
games          416
year           416
0             3167
dtype: int64

In [24]:
te.rename(columns={'Unnamed: 0':'player'}, inplace=True)

In [25]:

te.dtypes

player         object
Week            int64
Opponent       object
year            int64
var1(t-1)     float64
var2(t-1)     float64
var3(t-1)     float64
var4(t-1)     float64
var5(t-1)     float64
var6(t-1)     float64
var7(t-1)     float64
var8(t-1)     float64
var9(t-1)     float64
var10(t-1)    float64
var11(t-1)    float64
var12(t-1)    float64
var13(t-1)    float64
var14(t-1)    float64
var15(t-1)    float64
var1(t)       float64
var2(t)       float64
var3(t)       float64
var4(t)       float64
var5(t)       float64
var6(t)       float64
var7(t)       float64
var8(t)       float64
var9(t)       float64
var10(t)      float64
var11(t)      float64
var12(t)      float64
var13(t)      float64
var14(t)      float64
var15(t)      float64
def_rk          int64
h/a_1         float64
surface_0     float64
salary          int64
points        float64
dtype: object

In [26]:
# Replace nulls with zero and turn salary attribute to float
te.replace('null',0, inplace=True)
te.salary = te['salary'].apply(lambda x: float(x))

In [8]:
def conv_atts(df):
    df.rename(columns={'Unnamed: 0':'player'}, inplace=True)
    df.replace('null',0, inplace=True)
    df['salary'] = df['salary'].apply(lambda x: float(x))
    df['h/a_1'] = df['h/a_1'].astype('category')
    df['surface_0'] = df['surface_0'].astype('category')
    df['def_rk'] = df['def_rk'].astype('category')

    return df

In [27]:
te = conv_atts(te)
te.dtypes

player          object
Week             int64
Opponent        object
year             int64
var1(t-1)      float64
var2(t-1)      float64
var3(t-1)      float64
var4(t-1)      float64
var5(t-1)      float64
var6(t-1)      float64
var7(t-1)      float64
var8(t-1)      float64
var9(t-1)      float64
var10(t-1)     float64
var11(t-1)     float64
var12(t-1)     float64
var13(t-1)     float64
var14(t-1)     float64
var15(t-1)     float64
var1(t)        float64
var2(t)        float64
var3(t)        float64
var4(t)        float64
var5(t)        float64
var6(t)        float64
var7(t)        float64
var8(t)        float64
var9(t)        float64
var10(t)       float64
var11(t)       float64
var12(t)       float64
var13(t)       float64
var14(t)       float64
var15(t)       float64
def_rk        category
h/a_1         category
surface_0     category
salary         float64
points         float64
dtype: object

In [28]:
# Design train and test datasets

train = te[te['year']!=2018]
train = train[train['Week']!=4]
train['year'].unique()

array([2016, 2017, 2015], dtype=int64)

In [29]:
train.shape

(2594, 39)

In [30]:
test = te[te['year']==2018]
test=test[test['Week']==4]
test.shape

(62, 39)

In [31]:
test.columns

Index(['player', 'Week', 'Opponent', 'year', 'var1(t-1)', 'var2(t-1)',
       'var3(t-1)', 'var4(t-1)', 'var5(t-1)', 'var6(t-1)', 'var7(t-1)',
       'var8(t-1)', 'var9(t-1)', 'var10(t-1)', 'var11(t-1)', 'var12(t-1)',
       'var13(t-1)', 'var14(t-1)', 'var15(t-1)', 'var1(t)', 'var2(t)',
       'var3(t)', 'var4(t)', 'var5(t)', 'var6(t)', 'var7(t)', 'var8(t)',
       'var9(t)', 'var10(t)', 'var11(t)', 'var12(t)', 'var13(t)', 'var14(t)',
       'var15(t)', 'def_rk', 'h/a_1', 'surface_0', 'salary', 'points'],
      dtype='object')

In [32]:
# Target variables 

y_train = train['points']
y_test = test['points']

# Predictors, all numeric variables minus target variable
X_train = train.iloc[:,4:-2]
X_test = test.iloc[:,4:-2]

In [90]:
scaler = MinMaxScaler()
scaler.fit_transform(X_train)

array([[ 0.        ,  1.        ,  0.0070922 , ...,  0.        ,
         0.51998093,  0.14457831],
       [ 0.01960784,  0.8335    ,  0.02600473, ...,  0.19142857,
         0.5486886 ,  0.39759036],
       [ 0.21568627,  0.785     ,  0.23799054, ...,  0.21428571,
         0.62250835,  0.5       ],
       ...,
       [ 0.46411765,  0.6547    ,  0.33174941, ...,  0.21428571,
         0.48526466,  0.81325301],
       [ 0.48039216,  0.6695    ,  0.39184397, ...,  0.22857143,
         0.45808298,  0.85542169],
       [ 0.58039216,  0.6414    ,  0.42411348, ...,  0.19142857,
         0.36185026,  0.8253012 ]])

In [140]:
X_test.shape

(32, 40)

In [141]:
X_train.shape

(1457, 40)

In [16]:
y_train.reset_index(inplace=True,drop=True)
X_train.reset_index(inplace=True, drop=True)

In [34]:
lr = LinearRegression()

In [35]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [36]:
coeff = pd.DataFrame(X_train.columns)
coeff['coefficients'] = lr.coef_
coeff

             0  coefficients
0    var1(t-1)     -0.146245
1    var2(t-1)     -0.715551
2    var3(t-1)     -0.048592
3    var4(t-1)     -3.153114
4    var5(t-1)     -2.024551
5    var6(t-1)     -0.054092
6    var7(t-1)     -0.408811
7    var8(t-1)      0.049238
8    var9(t-1)      1.750512
9   var10(t-1)     -2.536799
10  var11(t-1)      0.266224
11  var12(t-1)     -1.166971
12  var13(t-1)     -0.116799
13  var14(t-1)     -6.518919
14  var15(t-1)      2.810288
15     var1(t)     -0.096548
16     var2(t)      1.326683
17     var3(t)      0.109103
18     var4(t)      7.806278
19     var5(t)     -0.134344
20     var6(t)      0.584468
21     var7(t)      0.267313
22     var8(t)     -0.098296
23     var9(t)     -5.584730
24    var10(t)      3.382291
25    var11(t)      0.038883
26    var12(t)      1.042889
27    var13(t)      0.203242
28    var14(t)      8.663294
29    var15(t)     -0.544316
30      def_rk      0.041967
31       h/a_1      0.222455
32   surface_0     -0.190575

In [138]:
X_train.shape

(1457, 25)

In [37]:
yhat = lr.predict(X_test)

In [38]:
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

rmse_val = rmse(yhat, y_test)
print("RMSE error is: " + str(rmse_val))

RMSE error is: 2.5081753355699448

In [39]:
results = pd.DataFrame()
results['Player'] = test['player']
#results['score'] = y_test
results['Predicted'] = yhat
results['points'] = test['points']
#results['Week'] = qb[qb['year']==2017]['Week']
#results.groupby('Player').mean()[['score','Predicted']]
results

                                Player  Predicted  points
101             Antonio Gates_reframed   9.107350    10.7
103            Antony Auclair_reframed   1.547872     1.8
133             Austin Hooper_reframed   6.449231     2.9
165   Austin Seferian-Jenkins_reframed   5.226458     4.4
219           Benjamin Watson_reframed   5.675421     3.3
359                 CJ Uzomah_reframed   3.715359     1.6
404             Cameron Brate_reframed  11.528196    11.9
448              Charles Clay_reframed   6.719608     8.0
457          Chris Herndon IV_reframed   2.199941     2.8
584            Dallas Goedert_reframed   3.995201     3.3
625              Darren Fells_reframed   9.982542    11.9
646              David Morgan_reframed   1.907728     1.3
665               David Njoku_reframed   7.984023    10.2
744          Demetrius Harris_reframed  10.224048     7.9
860              Dwayne Allen_reframed  -3.073674     0.6
944                Eric Ebron_reframed  14.649499    15.0
1019            Garrett Celek_reframed   1.714108     0.0
1076              Geoff Swaim_reframed  11.366799    12.9
1094            George Kittle_reframed  20.867885    27.5
1109           Gerald Everett_reframed   3.497909     2.3
1151            Hakeem Valles_reframed   1.511573     1.6
1303      James O'Shaughnessy_reframed   2.949841     4.8
1348               Jared Cook_reframed  25.772740    34.0
1351              Jason Croom_reframed   3.712018     2.3
1422            Jeff Heuerman_reframed   7.465584     9.7
1524              Jesse James_reframed   7.753161     3.3
1577             Jimmy Graham_reframed  11.103103    11.1
1605              Jonnu Smith_reframed  -0.016656     0.0
1608             Jordan Akins_reframed   4.467112     4.4
1627           Jordan Leggett_reframed  13.081151    10.3
...                                ...        ...     ...
1806             Kyle Rudolph_reframed  11.877401    10.7
1868          Lance Kendricks_reframed   2.264165     1.5
1900                Lee Smith_reframed   8.959353     5.3
1931           Levine Toilolo_reframed   3.142387     3.2
1942            Logan Paulsen_reframed   8.149107     8.7
2007             Luke Willson_reframed   1.524200     1.6
2062             Mark Andrews_reframed   5.971875     3.2
2100             Matt LaCosse_reframed   3.749106     2.7
2127            Maxx Williams_reframed   8.429453    10.1
2153             Mike Gesicki_reframed   1.586966     1.9
2218               Nick Boyle_reframed   6.425677     6.6
2257             Nick Vannett_reframed   1.996354     1.6
2271               Niles Paul_reframed   2.320337     3.1
2287                OJ Howard_reframed   6.488126     0.0
2290            Orson Charles_reframed  -0.143560     0.0
2357            Rhett Ellison_reframed   6.435333     5.9
2407        Ricky Seals-Jones_reframed   7.010183     7.2
2408             Rico Gathers_reframed   0.062266     0.0
2447           Rob Gronkowski_reframed  11.490200     8.4
2498             Ryan Griffin_reframed   3.340917     2.2
2523           Scott Simonson_reframed   0.822806     1.7
2629             Travis Kelce_reframed  21.244420    20.8
2660              Trey Burton_reframed  14.545797    16.6
2702             Tyler Eifert_reframed  12.217185    13.8
2729             Tyler Higbee_reframed   1.995090     0.0
2759              Tyler Kroft_reframed   1.773622     0.0
2794           Vance McDonald_reframed  12.539280    10.2
2875             Virgil Green_reframed   4.150551     2.9
2878              Will Dissly_reframed   5.820138     1.5
2968                Zach Ertz_reframed  17.802394    24.2

[62 rows x 3 columns]

In [42]:
results.head()

                               Player  Predicted  points
101            Antonio Gates_reframed   9.107350    10.7
103           Antony Auclair_reframed   1.547872     1.8
133            Austin Hooper_reframed   6.449231     2.9
165  Austin Seferian-Jenkins_reframed   5.226458     4.4
219          Benjamin Watson_reframed   5.675421     3.3

In [46]:
results.to_csv('../output/te_test.csv', index= False)

In [47]:
te_points['projected'] = te_points['player'].map(lambda x: x['Predicted'], results)

NameError: name 'te_points' is not defined

In [ ]:
te_poins =