In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [57]:
wr = pd.read_csv('../input/wr/wr_stats.csv')

In [58]:
wr.tail()

,year,year.1,Name,Week,Opponent,games,tar_avg,rec_avg,yds_avg,yds/rec_avg,...,tar_car,rec_car,yds_car,yds/rec_car,yds/tar_car,td_car,surface_0,h/a_1,def_rk,points
15965,2018,2018.0,Zay Jones,4,GB,19,3.33,2.00,35.33,19.07,...,3.25,2.00,32.75,17.42,12.65,0.00,1.0,0.0,13,7.8
15966,2018,2018.0,Zay Jones,5,TEN,20,4.25,2.50,36.00,16.68,...,4.00,2.40,33.80,15.84,11.20,0.00,0.0,1.0,18,5.0
15967,2018,2018.0,Zay Jones,6,HOU,21,4.20,2.60,32.80,14.68,...,4.00,2.50,31.50,14.32,10.17,0.00,0.0,0.0,7,12.5
15968,2018,2018.0,Zay Jones,7,IND,22,4.83,2.67,33.17,14.18,...,4.57,2.57,32.00,13.94,9.34,0.14,0.0,0.0,13,5.7
15969,2018,NaN,Zay Jones,8,NE,23,4.86,2.71,32.29,13.44,...,4.62,2.62,31.38,13.32,8.85,0.12,0.0,1.0,8,11.5

In [59]:
wr.shape

(15970, 28)

In [60]:
wr.columns

Index(['year', 'year.1', 'Name', 'Week', 'Opponent', 'games', 'tar_avg',
       'rec_avg', 'yds_avg', 'yds/rec_avg', 'yds/tar_avg', 'td_avg', 'tar_ma',
       'rec_ma', 'yds_ma', 'yds/rec_ma', 'yds/tar_ma', 'td_ma', 'tar_car',
       'rec_car', 'yds_car', 'yds/rec_car', 'yds/tar_car', 'td_car',
       'surface_0', 'h/a_1', 'def_rk', 'points'],
      dtype='object')

In [62]:
wr.drop('year.1', axis=1, inplace=True)

In [63]:
wr.sort_values(['year','Week'],inplace=True)
wr.reset_index(inplace=True, drop=True)
wr.head()

,year,Name,Week,Opponent,games,tar_avg,rec_avg,yds_avg,yds/rec_avg,yds/tar_avg,...,tar_car,rec_car,yds_car,yds/rec_car,yds/tar_car,td_car,surface_0,h/a_1,def_rk,points
0,2012,AJ Green,1,BAL,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,30,7.0
1,2012,Aldrick Robinson,1,NO,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25,11.2
2,2012,Alshon Jeffery,1,IND,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2,14.0
3,2012,Andre Holmes,1,NYG,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11,0.0
4,2012,Andre Johnson,1,MIA,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,22,17.9

In [64]:
def conv_atts(df):
    df['h/a_1'] = df['h/a_1'].astype('category')
    df['surface_0'] = df['surface_0'].astype('category')

    return df

In [65]:
wr = conv_atts(wr)
wr.dtypes

year              int64
Name             object
Week              int64
Opponent         object
games             int64
tar_avg         float64
rec_avg         float64
yds_avg         float64
yds/rec_avg     float64
yds/tar_avg     float64
td_avg          float64
tar_ma          float64
rec_ma          float64
yds_ma          float64
yds/rec_ma      float64
yds/tar_ma      float64
td_ma           float64
tar_car         float64
rec_car         float64
yds_car         float64
yds/rec_car     float64
yds/tar_car     float64
td_car          float64
surface_0      category
h/a_1          category
def_rk            int64
points          float64
dtype: object

In [66]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression

In [67]:
test = wr[wr['year']==2018]
test = test[test['Week']==8]
test.head()

,year,Name,Week,Opponent,games,tar_avg,rec_avg,yds_avg,yds/rec_avg,yds/tar_avg,...,tar_car,rec_car,yds_car,yds/rec_car,yds/tar_car,td_car,surface_0,h/a_1,def_rk,points
15830,2018,AJ Green,8,TB,95,9.86,5.71,87.29,15.39,8.99,...,9.88,5.25,78.50,14.52,8.07,0.62,0.0,1.0,25,18.6
15831,2018,Adam Humphries,8,CIN,51,5.17,3.33,36.67,11.58,7.60,...,6.00,3.86,46.00,12.01,7.84,0.00,0.0,0.0,28,14.6
15832,2018,Adam Thielen,8,NO,72,13.00,9.57,117.43,13.19,9.44,...,12.25,9.12,110.38,12.81,9.35,0.62,0.0,1.0,27,26.8
15833,2018,Aldrick Robinson,8,NO,74,1.60,0.80,15.20,11.90,7.36,...,1.83,0.83,14.67,11.92,6.80,0.67,0.0,1.0,27,2.9
15834,2018,Alex Erickson,8,TB,40,1.43,1.00,5.57,2.71,2.03,...,1.25,0.88,4.88,2.38,1.78,0.00,0.0,1.0,25,1.5

In [69]:
train.tail()

,year,Name,Week,Opponent,games,tar_avg,rec_avg,yds_avg,yds/rec_avg,yds/tar_avg,...,tar_car,rec_car,yds_car,yds/rec_car,yds/tar_car,td_car,surface_0,h/a_1,def_rk,points
15825,2018,Victor Bolden Jr.,7,LAR,12,2.00,0.50,5.00,5.00,1.25,...,1.33,0.33,3.33,3.33,0.83,0.00,1.0,1.0,7,0.0
15826,2018,Will Fuller,7,JAX,30,6.20,4.20,62.20,14.10,9.52,...,5.50,3.83,54.67,13.17,9.35,0.50,1.0,0.0,1,12.8
15827,2018,Willie Snead,7,NO,48,7.17,5.00,52.17,10.82,7.45,...,6.14,4.29,44.71,9.27,6.39,0.14,1.0,1.0,32,6.6
15828,2018,Zach Pascal,7,BUF,6,5.40,2.80,24.80,9.86,6.36,...,5.40,2.80,24.80,9.86,6.36,0.20,0.0,1.0,4,0.0
15829,2018,Zay Jones,7,IND,22,4.83,2.67,33.17,14.18,9.52,...,4.57,2.57,32.00,13.94,9.34,0.14,0.0,0.0,13,5.7

In [68]:
train = wr[:test.index[0]]
train.head()

,year,Name,Week,Opponent,games,tar_avg,rec_avg,yds_avg,yds/rec_avg,yds/tar_avg,...,tar_car,rec_car,yds_car,yds/rec_car,yds/tar_car,td_car,surface_0,h/a_1,def_rk,points
0,2012,AJ Green,1,BAL,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,30,7.0
1,2012,Aldrick Robinson,1,NO,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25,11.2
2,2012,Alshon Jeffery,1,IND,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2,14.0
3,2012,Andre Holmes,1,NYG,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11,0.0
4,2012,Andre Johnson,1,MIA,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,22,17.9

In [70]:
# Target variables 

y_train = train['points']
y_test = test['points']

# Predictors, all numeric variables minus target variable
X_train = train.iloc[:,4:-1]
X_test = test.iloc[:,4:-1]

In [71]:
X_train.columns

Index(['games', 'tar_avg', 'rec_avg', 'yds_avg', 'yds/rec_avg', 'yds/tar_avg',
       'td_avg', 'tar_ma', 'rec_ma', 'yds_ma', 'yds/rec_ma', 'yds/tar_ma',
       'td_ma', 'tar_car', 'rec_car', 'yds_car', 'yds/rec_car', 'yds/tar_car',
       'td_car', 'surface_0', 'h/a_1', 'def_rk'],
      dtype='object')

In [72]:
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [73]:
coeff = pd.DataFrame(X_train.columns)
coeff['coefficients'] = lr.coef_
coeff

              0  coefficients
0         games      0.022094
1       tar_avg      0.134646
2       rec_avg      0.083717
3       yds_avg     -0.022892
4   yds/rec_avg      0.105401
5   yds/tar_avg     -0.087569
6        td_avg     -0.624241
7        tar_ma     -0.680622
8        rec_ma      0.824939
9        yds_ma      0.034792
10   yds/rec_ma     -0.015718
11   yds/tar_ma     -0.088129
12        td_ma      0.746537
13      tar_car      0.500048
14      rec_car      0.486746
15      yds_car      0.055220
16  yds/rec_car      0.017914
17  yds/tar_car     -0.057843
18       td_car      1.955379
19    surface_0     -0.212296
20        h/a_1      0.294803
21       def_rk      0.049683

In [74]:
yhat = lr.predict(X_test)
yhat.shape

(140,)

In [75]:
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

rmse_val = rmse(yhat, y_test)
print("RMSE error is: " + str(rmse_val))

RMSE error is: 6.473067695551982

In [76]:
results = pd.DataFrame()
results['Name'] = test['Name']
results['Predicted'] = yhat
results['points']=test['points']
results

                    Name  Predicted  points
15830           AJ Green  17.254256    18.6
15831     Adam Humphries  10.088205    14.6
15832       Adam Thielen  23.440520    26.8
15833   Aldrick Robinson   6.454202     2.9
15834      Alex Erickson   3.806657     1.5
15835     Alshon Jeffery  14.877686     7.5
15836       Andre Holmes   4.232304     6.5
15837      Andre Roberts   2.854002     0.0
15838     Anthony Miller   6.386407    13.4
15839      Antonio Brown  17.021045    25.4
15840   Antonio Callaway   5.408782    14.6
15841        Austin Carr   1.619238     0.0
15842      Bennie Fowler   6.836065     8.8
15843      Brandin Cooks  14.320077    11.3
15844     Brandon LaFell   4.815985    12.9
15845   Brandon Marshall   6.619604     0.0
15846     Brandon Powell   1.501440     0.0
15847    Brandon Zylstra   1.850933     0.0
15848   Breshad Perriman   3.479528     0.0
15849       Cam Phillips   0.778286     1.9
15850   Cameron Meredith   5.239398     0.0
15851      Chad Williams   4.404242     4.1
15852      Charone Peake   0.499941     2.4
15853     Chester Rogers   8.938794     2.0
15854       Chris Conley   5.492124     0.0
15855       Chris Godwin  12.887799     7.2
15856        Chris Hogan   8.569611     6.9
15857        Chris Moore   3.056962     3.9
15858     Christian Kirk   9.754726    13.2
15859          Cody Core   2.917476     0.0
...                  ...        ...     ...
15940  Quadree Henderson   1.225435     0.0
15941       Randall Cobb  13.992286     8.0
15942      Rashad Greene   2.477002     1.9
15943    Ray-Ray McCloud   1.636082     2.6
15944       Richie James   0.832300     0.0
15945   Rishard Matthews   3.970982     0.0
15946  Robert Tonyan Jr.   1.176587     0.0
15947       Robert Woods  15.594164    12.0
15948    Russell Shepard   4.576820     0.0
15949       Ryan Switzer   5.308308     0.0
15950      Sammie Coates   2.553865     0.0
15951      Sammy Watkins  11.815279    33.7
15952       Seth Roberts   7.730867    12.2
15953     Shelton Gibson   0.728981     0.0
15954       Stefon Diggs  16.529425    30.9
15955   Sterling Shepard  13.377202     7.4
15956        T.Y. Hilton  13.090275     4.4
15957     Taylor Gabriel  10.983216     9.2
15958        Tim Patrick   1.343556    10.7
15959     Tre'Quan Smith   3.819986     4.8
15960       Trent Taylor   6.472039     1.7
15961         Tyler Boyd  15.128118    31.6
15962      Tyler Lockett  11.369099    12.7
15963        Tyreek Hill  16.964455    10.0
15964  Victor Bolden Jr.   1.592337     0.0
15965      Vyncint Smith   3.522236     0.0
15966        Will Fuller  11.852908    26.4
15967       Willie Snead   9.359027    10.4
15968        Zach Pascal   4.515612     0.6
15969          Zay Jones   6.376181    11.5

[140 rows x 3 columns]

In [34]:
results.to_csv('2018_week1_wr.csv', index= False)

In [55]:
test[test['Name']=='AJ Green']

,year,Name,Week,Opponent,games,week_avg,tar_avg,rec_avg,yds_avg,yds/rec_avg,...,tar_car,rec_car,yds_car,yds/rec_car,yds/tar_car,td_car,surface_0,h/a_1,def_rk,points
15830,2018,AJ Green,8,TB,95,4.0,9.86,5.71,87.29,15.39,...,0.22,0.22,0.11,0.11,0.11,0.0,1.0,0.0,22,0.0