In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

In [9]:
qb = pd.read_csv('../input/qb/qb_stats.csv')
#qb_2018 = pd.read_csv('../input/qb/dk_weekly_update.csv')
#week1 = pd.read_csv('../input/qb/week1_2018.csv')
#week1_def = pd.read_csv('../input/defense_2018_projections.csv')

In [12]:
qb.rename(columns={'Unnamed: 0':'player'}, inplace=True)

In [13]:

qb.dtypes

player         object
Week            int64
Opponent       object
var1(t-1)     float64
var2(t-1)     float64
var3(t-1)     float64
var4(t-1)     float64
var5(t-1)     float64
var6(t-1)     float64
var7(t-1)     float64
var8(t-1)     float64
var9(t-1)     float64
var10(t-1)    float64
var11(t-1)    float64
var12(t-1)    float64
var13(t-1)    float64
var14(t-1)    float64
var15(t-1)    float64
var16(t-1)    float64
var17(t-1)    float64
var18(t-1)    float64
var19(t-1)    float64
var20(t-1)    float64
var21(t-1)    float64
var22(t-1)    float64
var23(t-1)    float64
var24(t-1)    float64
var1(t)       float64
var2(t)       float64
var3(t)       float64
var4(t)       float64
var5(t)       float64
var6(t)       float64
var7(t)       float64
var8(t)       float64
var9(t)       float64
var10(t)      float64
var11(t)      float64
var12(t)      float64
var13(t)      float64
var14(t)      float64
var15(t)      float64
var16(t)      float64
var17(t)      float64
var18(t)      float64
var19(t)      float64
var20(t)      float64
var21(t)      float64
var22(t)      float64
var23(t)      float64
var24(t)      float64
def_rk          int64
h/a_1         float64
surface_0     float64
salary          int64
points        float64
year            int64
dtype: object

In [80]:
qb.replace('null',0, inplace=True)
qb.salary = qb['salary'].apply(lambda x: int(x))

In [7]:
def conv_atts(df):
    df['salary'] = df['salary'].apply(lambda x: int(x))
    df['h/a_1'] = df['h/a_1'].astype('category')
    df['surface_0'] = df['surface_0'].astype('category')
    df['def_rk'] = df['def_rk'].astype('category')

    return df

In [8]:
qb = conv_atts(qb)
qb.dtypes

var1(t-1)      float64
var2(t-1)      float64
var3(t-1)      float64
var4(t-1)      float64
var5(t-1)      float64
var6(t-1)      float64
var7(t-1)      float64
var8(t-1)      float64
var9(t-1)      float64
var10(t-1)     float64
var11(t-1)     float64
var12(t-1)     float64
var13(t-1)     float64
var14(t-1)     float64
var15(t-1)     float64
var16(t-1)     float64
var17(t-1)     float64
var18(t-1)     float64
var19(t-1)     float64
var20(t-1)     float64
var21(t-1)     float64
var22(t-1)     float64
var23(t-1)     float64
var24(t-1)     float64
var1(t)        float64
var2(t)        float64
var3(t)        float64
var4(t)        float64
var5(t)        float64
var6(t)        float64
var7(t)        float64
var8(t)        float64
var9(t)        float64
var10(t)       float64
var11(t)       float64
var12(t)       float64
var13(t)       float64
var14(t)       float64
var15(t)       float64
var16(t)       float64
var17(t)       float64
var18(t)       float64
var19(t)       float64
var20(t)       float64
var21(t)       float64
var22(t)       float64
var23(t)       float64
var24(t)       float64
def_rk        category
h/a_1         category
surface_0     category
salary           int64
points         float64
year             int64
dtype: object

In [16]:
train = qb[qb['year']!=2018]
train = train[train['Week']!=4]
train['year'].unique()

array([2015, 2017, 2016], dtype=int64)

In [17]:
train.shape

(1457, 57)

In [15]:
train.dtypes

player         object
Week            int64
Opponent       object
var1(t-1)     float64
var2(t-1)     float64
var3(t-1)     float64
var4(t-1)     float64
var5(t-1)     float64
var6(t-1)     float64
var7(t-1)     float64
var8(t-1)     float64
var9(t-1)     float64
var10(t-1)    float64
var11(t-1)    float64
var12(t-1)    float64
var13(t-1)    float64
var14(t-1)    float64
var15(t-1)    float64
var16(t-1)    float64
var17(t-1)    float64
var18(t-1)    float64
var19(t-1)    float64
var20(t-1)    float64
var21(t-1)    float64
var22(t-1)    float64
var23(t-1)    float64
var24(t-1)    float64
var1(t)       float64
var2(t)       float64
var3(t)       float64
var4(t)       float64
var5(t)       float64
var6(t)       float64
var7(t)       float64
var8(t)       float64
var9(t)       float64
var10(t)      float64
var11(t)      float64
var12(t)      float64
var13(t)      float64
var14(t)      float64
var15(t)      float64
var16(t)      float64
var17(t)      float64
var18(t)      float64
var19(t)      float64
var20(t)      float64
var21(t)      float64
var22(t)      float64
var23(t)      float64
var24(t)      float64
def_rk          int64
h/a_1         float64
surface_0     float64
salary          int64
points        float64
year            int64
dtype: object

In [345]:
passing = ['Comp','Att','Pct','Yds','Yds/Att','TD','Int']

In [55]:
# Target variables 

y_train = train['FantasyPointsDraftKings']
y_test = test['FantasyPointsDraftKings']

# Predictors, all numeric variables minus target variable
X_train = train.iloc[:,5:-1]
X_test = test.iloc[:,5:-1]

In [56]:
X_train.shape

(1196, 17)

In [57]:
X_test.shape

(600, 17)

In [58]:
X_train.columns

Index(['PassingCompletions', 'PassingAttempts', 'PassingCompletionPercentage',
       'PassingYards', 'PassingYardsPerAttempt', 'PassingTouchdowns',
       'PassingInterceptions', 'PassingRating', 'RushingAttempts',
       'RushingYards', 'RushingYardsPerAttempt', 'RushingTouchdowns', 'salary',
       'year', 'def_rk', 'h/a_encoded', 'surface_encoded'],
      dtype='object')

In [59]:
reframed = series_to_supervised(X_train.values.astype('float32'),1,1)

In [60]:
reframed.head()

,var1(t-1),var2(t-1),var3(t-1),var4(t-1),var5(t-1),var6(t-1),var7(t-1),var8(t-1),var9(t-1),var10(t-1),...,var8(t),var9(t),var10(t),var11(t),var12(t),var13(t),var14(t),var15(t),var16(t),var17(t)
1,18.0,32.0,56.200001,117.0,3.7,0.0,2.0,38.150002,0.0,0.0,...,90.070000,5.0,7.0,1.4,0.0,7500.0,2015.0,30.0,1.0,1.0
2,23.0,34.0,67.599998,298.0,8.8,2.0,2.0,90.070000,5.0,7.0,...,122.790001,3.0,14.0,4.7,0.0,6500.0,2015.0,32.0,1.0,0.0
3,19.0,32.0,59.400002,307.0,9.6,3.0,0.0,122.790001,3.0,14.0,...,140.490005,8.0,35.0,4.4,0.0,8600.0,2015.0,25.0,0.0,0.0
4,18.0,23.0,78.300003,189.0,8.2,3.0,0.0,140.490005,8.0,35.0,...,95.389999,0.0,0.0,0.0,0.0,7300.0,2015.0,15.0,0.0,1.0
5,26.0,38.0,68.400002,351.0,9.2,1.0,1.0,95.389999,0.0,0.0,...,103.330002,1.0,-1.0,-1.0,0.0,7300.0,2015.0,31.0,1.0,1.0

In [61]:
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [62]:
coeff = pd.DataFrame(X_train.columns)
coeff['coefficients'] = lr.coef_
coeff

                              0  coefficients
0            PassingCompletions      0.003236
1               PassingAttempts     -0.059027
2   PassingCompletionPercentage      0.018179
3                  PassingYards      0.055983
4        PassingYardsPerAttempt     -0.039954
5             PassingTouchdowns      4.241052
6          PassingInterceptions     -1.333426
7                 PassingRating     -0.023234
8               RushingAttempts     -0.082949
9                  RushingYards      0.113818
10       RushingYardsPerAttempt     -0.036656
11            RushingTouchdowns      5.949762
12                       salary      0.000033
13                         year     -0.032389
14                       def_rk      0.013240
15                  h/a_encoded     -0.023326
16              surface_encoded      0.015241

In [63]:
yhat = lr.predict(X_test)
yhat.shape

(600,)

In [64]:
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

rmse_val = rmse(yhat, y_test)
print("RMSE error is: " + str(rmse_val))

RMSE error is: 1.02257939768

In [68]:
results = pd.DataFrame()
results['Player'] = test['Name']
#results['score'] = y_test
results['Predicted'] = yhat
results['points'] = test['FantasyPointsDraftKings']
#results['Week'] = qb[qb['year']==2017]['Week']
#results.groupby('Player').mean()[['score','Predicted']]
results

                  Player  Predicted  points
1196          Joe Flacco   7.730652    7.84
1197           Matt Ryan  19.460745   20.94
1198       Carson Palmer  12.128000   11.92
1199       Aaron Rodgers  18.493816   20.54
1200  Ben Roethlisberger  17.667645   16.72
1201           Tom Brady  11.781581   10.68
1202         Eli Manning   8.126101    7.70
1203         Josh McCown  11.012949   11.48
1204          Alex Smith  33.254797   34.02
1205          Drew Brees  16.899939   15.64
1206       Philip Rivers  18.950628   18.68
1207         Brian Hoyer   6.449883    5.22
1208    Matthew Stafford  29.274138   28.08
1209            Joe Webb   0.238831    0.00
1210        Sam Bradford  27.736742   28.54
1211        Tyrod Taylor  20.397325   19.76
1212         Andy Dalton   2.394271    2.00
1213       Scott Tolzien   3.229022    3.32
1214          Cam Newton  14.118773   14.14
1215        Kirk Cousins  15.912152   13.60
1216      Russell Wilson  10.286035    9.32
1217        Mike Glennon  12.961699   12.52
1218          Tom Savage   1.786597    0.48
1219       Blake Bortles  10.059308   10.30
1220          Derek Carr  19.685947   18.68
1221      Marcus Mariota  19.466311   18.84
1222      Trevor Siemian  23.813824   23.66
1223        Carson Wentz  21.084928   23.88
1224          Jared Goff  18.129366   19.44
1225     Jacoby Brissett   0.593100    2.04
...                  ...        ...     ...
1766          Jay Cutler  -0.440130    0.24
1767    Matthew Stafford  26.963353   30.12
1768            Joe Webb   0.117355    0.00
1769        Tyrod Taylor  15.995090   15.66
1770         Andy Dalton  20.771312   20.68
1771            TJ Yates   5.231571    5.38
1772          Cam Newton  13.856252   14.10
1773          Nick Foles   0.497869    0.56
1774        Kirk Cousins   9.800874   10.52
1775      Russell Wilson  21.053550   20.44
1776        Landry Jones  12.896820   10.96
1777         Case Keenum  11.479407   11.56
1778     Jimmy Garoppolo  18.735962   17.58
1779       Blake Bortles   4.761125    5.22
1780          Derek Carr  13.473069   11.82
1781         David Fales  20.722289   20.40
1782      Jameis Winston  25.965633   29.72
1783      Marcus Mariota  14.763001   14.36
1784        Sean Mannion   7.120355    6.16
1785         Bryce Petty   9.947641    9.18
1786       Brett Hundley  10.525544   13.38
1787        Paxton Lynch  18.348510   16.46
1788     Jacoby Brissett   9.853100   10.36
1789        Dak Prescott  12.683725   12.76
1790        Nate Sudfeld   6.962894    7.56
1791        Joe Callahan  -0.271193    0.44
1792      Mitch Trubisky   7.050418    7.32
1793       Deshone Kizer  27.257628   28.66
1794     Patrick Mahomes  12.065421   11.36
1795         Taysom Hill   0.091815    0.00

[600 rows x 3 columns]

In [323]:
results.shape

(300, 3)

In [84]:
results.to_csv('2018_week1_qb.csv', index= False)