In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

In [4]:
rb.head()

NameError: name 'rb' is not defined

In [7]:

rb.dtypes

player         object
Week            int64
Opponent       object
var1(t-1)     float64
var2(t-1)     float64
var3(t-1)     float64
var4(t-1)     float64
var5(t-1)     float64
var6(t-1)     float64
var7(t-1)     float64
var8(t-1)     float64
var9(t-1)     float64
var10(t-1)    float64
var11(t-1)    float64
var12(t-1)    float64
var13(t-1)    float64
var14(t-1)    float64
var15(t-1)    float64
var1(t)       float64
var2(t)       float64
var3(t)       float64
var4(t)       float64
var5(t)       float64
var6(t)       float64
var7(t)       float64
var8(t)       float64
var9(t)       float64
var10(t)      float64
var11(t)      float64
var12(t)      float64
var13(t)      float64
var14(t)      float64
var15(t)      float64
year            int64
def_rk          int64
h/a_1         float64
surface_0     float64
salary          int64
points        float64
dtype: object

In [ ]:
# Read an rename

In [5]:
rb = pd.read_csv('../input/rb/rb_stats.csv')

In [7]:
# Replace nulls with zero and turn salary attribute to float
rb.replace('null',0, inplace=True)
rb.salary = rb['salary'].apply(lambda x: float(x))

In [8]:
def conv_atts(df):
    df.rename(columns={'Unnamed: 0':'player'}, inplace=True)
    df.replace('null',0, inplace=True)
    df['salary'] = df['salary'].apply(lambda x: float(x))
    df['h/a_1'] = df['h/a_1'].astype('category')
    df['surface_0'] = df['surface_0'].astype('category')
    df['def_rk'] = df['def_rk'].astype('category')

    return df

In [9]:
rb = conv_atts(rb)
rb.dtypes

player          object
Week             int64
Opponent        object
year             int64
var1(t-1)      float64
var2(t-1)      float64
var3(t-1)      float64
var4(t-1)      float64
var5(t-1)      float64
var6(t-1)      float64
var7(t-1)      float64
var8(t-1)      float64
var9(t-1)      float64
var10(t-1)     float64
var11(t-1)     float64
var12(t-1)     float64
var13(t-1)     float64
var14(t-1)     float64
var15(t-1)     float64
var1(t)        float64
var2(t)        float64
var3(t)        float64
var4(t)        float64
var5(t)        float64
var6(t)        float64
var7(t)        float64
var8(t)        float64
var9(t)        float64
var10(t)       float64
var11(t)       float64
var12(t)       float64
var13(t)       float64
var14(t)       float64
var15(t)       float64
def_rk        category
h/a_1         category
surface_0     category
salary         float64
points         float64
dtype: object

In [10]:
# Design train and test datasets

train = rb[rb['year']!=2018]
train = train[train['Week']!=4]
train['year'].unique()

array([2017, 2016, 2015], dtype=int64)

In [11]:
train.shape

(3439, 39)

In [12]:
test = rb[rb['year']==2018]
test=test[test['Week']==4]
test.shape

(63, 39)

In [15]:
test.columns

Index(['player', 'Week', 'Opponent', 'year', 'var1(t-1)', 'var2(t-1)',
       'var3(t-1)', 'var4(t-1)', 'var5(t-1)', 'var6(t-1)', 'var7(t-1)',
       'var8(t-1)', 'var9(t-1)', 'var10(t-1)', 'var11(t-1)', 'var12(t-1)',
       'var13(t-1)', 'var14(t-1)', 'var15(t-1)', 'var1(t)', 'var2(t)',
       'var3(t)', 'var4(t)', 'var5(t)', 'var6(t)', 'var7(t)', 'var8(t)',
       'var9(t)', 'var10(t)', 'var11(t)', 'var12(t)', 'var13(t)', 'var14(t)',
       'var15(t)', 'def_rk', 'h/a_1', 'surface_0', 'salary', 'points'],
      dtype='object')

In [14]:
# Target variables 

y_train = train['points']
y_test = test['points']

# Predictors, all numeric variables minus target variable
X_train = train.iloc[:,4:-2]
X_test = test.iloc[:,4:-2]

In [90]:
scaler = MinMaxScaler()
scaler.fit_transform(X_train)

array([[ 0.        ,  1.        ,  0.0070922 , ...,  0.        ,
         0.51998093,  0.14457831],
       [ 0.01960784,  0.8335    ,  0.02600473, ...,  0.19142857,
         0.5486886 ,  0.39759036],
       [ 0.21568627,  0.785     ,  0.23799054, ...,  0.21428571,
         0.62250835,  0.5       ],
       ...,
       [ 0.46411765,  0.6547    ,  0.33174941, ...,  0.21428571,
         0.48526466,  0.81325301],
       [ 0.48039216,  0.6695    ,  0.39184397, ...,  0.22857143,
         0.45808298,  0.85542169],
       [ 0.58039216,  0.6414    ,  0.42411348, ...,  0.19142857,
         0.36185026,  0.8253012 ]])

In [16]:
X_test.shape

(63, 33)

In [17]:
X_train.shape

(3439, 33)

In [16]:
y_train.reset_index(inplace=True,drop=True)
X_train.reset_index(inplace=True, drop=True)

In [19]:
lr = LinearRegression()

In [20]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [21]:
coeff = pd.DataFrame(X_train.columns)
coeff['coefficients'] = lr.coef_
coeff

             0  coefficients
0    var1(t-1)      0.138881
1    var2(t-1)     -0.076445
2    var3(t-1)     -2.216490
3    var4(t-1)     -1.138667
4    var5(t-1)     -0.035783
5    var6(t-1)     -0.060778
6    var7(t-1)      0.017863
7    var8(t-1)      1.187123
8    var9(t-1)      0.168572
9   var10(t-1)     -0.006700
10  var11(t-1)      0.103015
11  var12(t-1)     -0.152682
12  var13(t-1)     -8.166758
13  var14(t-1)      0.355281
14  var15(t-1)     -0.249924
15     var1(t)     -0.191846
16     var2(t)      0.183973
17     var3(t)      3.646357
18     var4(t)      1.976133
19     var5(t)      0.043293
20     var6(t)      0.304513
21     var7(t)     -0.067347
22     var8(t)     -4.204805
23     var9(t)      0.064687
24    var10(t)     -0.028453
25    var11(t)     -0.232304
26    var12(t)      0.194420
27    var13(t)     14.009809
28    var14(t)     -0.587976
29    var15(t)      0.385734
30      def_rk      0.063934
31       h/a_1      0.385262
32   surface_0     -0.197825

In [22]:
X_train.shape

(3439, 33)

In [23]:
yhat = lr.predict(X_test)

In [24]:
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

rmse_val = rmse(yhat, y_test)
print("RMSE error is: " + str(rmse_val))

RMSE error is: 3.8973007000451947

In [25]:
results = pd.DataFrame()
results['Player'] = test['player']
#results['score'] = y_test
results['Predicted'] = yhat
results['points'] = test['points']
#results['Week'] = qb[qb['year']==2017]['Week']
#results.groupby('Player').mean()[['score','Predicted']]
results

                            Player  Predicted  points
10            Aaron Jones_reframed  19.034514    15.2
105          Alex Collins_reframed   8.311572    10.5
144           Alfred Blue_reframed   6.304185     3.1
189         Alfred Morris_reframed   6.260747     2.8
209          Alvin Kamara_reframed  41.834977    44.1
337         Austin Ekeler_reframed  12.196285    13.6
364   Benjamin Cunningham_reframed  -4.528588     0.0
410          Bilal Powell_reframed   9.930035     9.2
588           Carlos Hyde_reframed  18.368404    14.2
658         Chase Edmonds_reframed   1.655702     0.1
707           Chris Ivory_reframed   3.768668     1.5
852           Corey Grant_reframed   5.654936     3.7
871           Dalvin Cook_reframed   4.119933     2.0
1031        David Johnson_reframed  18.249695    19.2
1190        Derrick Henry_reframed   4.907325     5.1
1268      Devontae Booker_reframed   5.568824     2.4
1314           Dion Lewis_reframed  14.032705    15.6
1359          Doug Martin_reframed   3.025780     1.1
1418         Duke Johnson_reframed  11.011626    13.6
1596           Frank Gore_reframed   6.703391    13.7
1651      Giovani Bernard_reframed  21.340622    25.6
1702       Isaiah Crowell_reframed   6.889608     1.3
1706            Ito Smith_reframed  14.187899    13.8
1778        Jalen Richard_reframed   9.003633     6.6
1820      Jamaal Williams_reframed   5.518216     2.7
1835         James Conner_reframed  14.664359     9.4
1898          James White_reframed  22.689905    31.2
1961       Javorius Allen_reframed   8.679211     6.7
2001            Jay Ajayi_reframed  12.482467    11.1
2280        Jordan Howard_reframed   8.122661     2.5
...                            ...        ...     ...
2458         Kenyan Drake_reframed   6.025223     2.6
2461      Kerryon Johnson_reframed  13.348564    12.6
2564         Lamar Miller_reframed   7.483784     4.9
2622      Latavius Murray_reframed   5.148542     5.8
2701    LeGarrette Blount_reframed   2.289030     1.2
2746         LeSean McCoy_reframed   7.855329     6.7
2760    Leonard Fournette_reframed   3.560307     4.5
2879       Marshawn Lynch_reframed  20.734276    21.7
2924          Matt Breida_reframed  14.266006    10.1
3031        Melvin Gordon_reframed  25.832235    33.9
3055           Mike Davis_reframed  32.086037    31.4
3085       Mike Gillislee_reframed   3.569757     2.5
3130           Nick Chubb_reframed  19.701699    25.5
3133         Nyheim Hines_reframed  15.445659    28.3
3204        Peyton Barber_reframed   4.596568     4.0
3207      Phillip Lindsay_reframed  16.728406    15.9
3216        Rashaad Penny_reframed   6.120504     4.9
3340            Rod Smith_reframed   4.523028     3.2
3371        Royce Freeman_reframed  15.445913    12.7
3411       Saquon Barkley_reframed  25.025613    22.0
3466          Sony Michel_reframed  18.790724    20.2
3492         Spencer Ware_reframed   2.112744     0.6
3551            TJ Yeldon_reframed  17.535771    24.0
3577          Tarik Cohen_reframed  20.962505    33.4
3667        Tevin Coleman_reframed  12.420014    10.7
3706         Theo Riddick_reframed   6.844322     6.7
3809          Todd Gurley_reframed  26.347579    25.6
3869        Ty Montgomery_reframed  12.074420     9.4
3887        Wayne Gallman_reframed   3.754823     4.3
3909    Wendell Smallwood_reframed  10.566715     8.4

[63 rows x 3 columns]

In [323]:
results.

(300, 3)

In [26]:
results.to_csv('../output/rb_test.csv', index= False)