In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [23]:
wr = pd.read_csv('../input/wr/wr_stats.csv')

In [24]:
wr.tail()

,year,Name,Week,Opponent,games,week_avg,tar_avg,rec_avg,yds_avg,yds/rec_avg,...,tar_car,rec_car,yds_car,yds/rec_car,yds/tar_car,td_car,surface_0,h/a_1,def_rk,points
15965,2018,Zay Jones,4,GB,19,2.0,3.33,2.00,35.33,19.07,...,3.25,2.00,32.75,17.42,12.65,0.00,1.0,0.0,13,7.8
15966,2018,Zay Jones,5,TEN,20,2.5,4.25,2.50,36.00,16.68,...,4.00,2.40,33.80,15.84,11.20,0.00,0.0,1.0,18,5.0
15967,2018,Zay Jones,6,HOU,21,3.0,4.20,2.60,32.80,14.68,...,4.00,2.50,31.50,14.32,10.17,0.00,0.0,0.0,7,12.5
15968,2018,Zay Jones,7,IND,22,3.5,4.83,2.67,33.17,14.18,...,4.57,2.57,32.00,13.94,9.34,0.14,0.0,0.0,13,5.7
15969,2018,Zay Jones,8,NE,23,4.0,4.86,2.71,32.29,13.44,...,4.62,2.62,31.38,13.32,8.85,0.12,0.0,1.0,8,11.5

In [25]:
wr.shape

(15970, 28)

In [26]:
wr.columns

Index(['year', 'Name', 'Week', 'Opponent', 'games', 'week_avg', 'tar_avg',
       'rec_avg', 'yds_avg', 'yds/rec_avg', 'yds/tar_avg', 'td_avg', 'tar_ma',
       'rec_ma', 'yds_ma', 'yds/rec_ma', 'yds/tar_ma', 'td_ma', 'tar_car',
       'rec_car', 'yds_car', 'yds/rec_car', 'yds/tar_car', 'td_car',
       'surface_0', 'h/a_1', 'def_rk', 'points'],
      dtype='object')

In [43]:
wr.sort_values(['year','Week'],inplace=True)
wr.reset_index(inplace=True, drop=True)
wr.head()

,year,Name,Week,Opponent,games,week_avg,tar_avg,rec_avg,yds_avg,yds/rec_avg,...,tar_car,rec_car,yds_car,yds/rec_car,yds/tar_car,td_car,surface_0,h/a_1,def_rk,points
0,2012,AJ Green,1,BAL,1,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,1.0,0.0,30,7.0
1,2012,Aldrick Robinson,1,NO,1,0.0,0.0,0.0,0.0,0.0,...,9.50,5.50,71.25,12.45,8.68,0.75,1.0,0.0,23,11.1
2,2012,Alshon Jeffery,1,IND,1,0.0,0.0,0.0,0.0,0.0,...,7.00,4.00,73.50,13.50,8.00,0.50,0.0,1.0,10,18.1
3,2012,Andre Holmes,1,NYG,1,0.0,0.0,0.0,0.0,0.0,...,9.56,6.44,87.11,13.12,9.08,0.44,1.0,0.0,6,10.7
4,2012,Andre Johnson,1,MIA,1,0.0,0.0,0.0,0.0,0.0,...,8.75,5.62,84.06,16.09,10.01,0.56,1.0,1.0,29,13.4

In [32]:
def conv_atts(df):
    df['h/a_1'] = df['h/a_1'].astype('category')
    df['surface_0'] = df['surface_0'].astype('category')

    return df

In [44]:
wr = conv_atts(wr)
wr.dtypes

year              int64
Name             object
Week              int64
Opponent         object
games             int64
week_avg        float64
tar_avg         float64
rec_avg         float64
yds_avg         float64
yds/rec_avg     float64
yds/tar_avg     float64
td_avg          float64
tar_ma          float64
rec_ma          float64
yds_ma          float64
yds/rec_ma      float64
yds/tar_ma      float64
td_ma           float64
tar_car         float64
rec_car         float64
yds_car         float64
yds/rec_car     float64
yds/tar_car     float64
td_car          float64
surface_0      category
h/a_1          category
def_rk            int64
points          float64
dtype: object

In [45]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression

In [46]:
test = wr[wr['year']==2018]
test = test[test['Week']==8]
test.head()

,year,Name,Week,Opponent,games,week_avg,tar_avg,rec_avg,yds_avg,yds/rec_avg,...,tar_car,rec_car,yds_car,yds/rec_car,yds/tar_car,td_car,surface_0,h/a_1,def_rk,points
15830,2018,AJ Green,8,TB,95,4.00,9.86,5.71,87.29,15.39,...,0.22,0.22,0.11,0.11,0.11,0.00,1.0,0.0,22,0.0
15831,2018,Adam Humphries,8,CIN,51,3.83,5.17,3.33,36.67,11.58,...,2.50,2.00,39.75,13.30,10.85,0.25,0.0,0.0,27,3.9
15832,2018,Adam Thielen,8,NO,72,4.00,13.00,9.57,117.43,13.19,...,3.75,2.17,33.92,14.07,9.19,0.25,0.0,1.0,31,2.5
15833,2018,Aldrick Robinson,8,NO,74,5.00,1.60,0.80,15.20,11.90,...,1.90,0.90,11.70,7.85,5.91,0.10,1.0,0.0,30,0.0
15834,2018,Alex Erickson,8,TB,40,4.00,1.43,1.00,5.57,2.71,...,4.00,1.50,30.00,16.50,6.85,0.00,1.0,1.0,6,14.1

In [47]:
train = wr[:test.index[0]]
train.head()

,year,Name,Week,Opponent,games,week_avg,tar_avg,rec_avg,yds_avg,yds/rec_avg,...,tar_car,rec_car,yds_car,yds/rec_car,yds/tar_car,td_car,surface_0,h/a_1,def_rk,points
0,2012,AJ Green,1,BAL,1,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,1.0,0.0,30,7.0
1,2012,Aldrick Robinson,1,NO,1,0.0,0.0,0.0,0.0,0.0,...,9.50,5.50,71.25,12.45,8.68,0.75,1.0,0.0,23,11.1
2,2012,Alshon Jeffery,1,IND,1,0.0,0.0,0.0,0.0,0.0,...,7.00,4.00,73.50,13.50,8.00,0.50,0.0,1.0,10,18.1
3,2012,Andre Holmes,1,NYG,1,0.0,0.0,0.0,0.0,0.0,...,9.56,6.44,87.11,13.12,9.08,0.44,1.0,0.0,6,10.7
4,2012,Andre Johnson,1,MIA,1,0.0,0.0,0.0,0.0,0.0,...,8.75,5.62,84.06,16.09,10.01,0.56,1.0,1.0,29,13.4

In [48]:
# Target variables 

y_train = train['points']
y_test = test['points']

# Predictors, all numeric variables minus target variable
X_train = train.iloc[:,4:-1]
X_test = test.iloc[:,4:-1]

In [49]:
X_train.columns

Index(['games', 'week_avg', 'tar_avg', 'rec_avg', 'yds_avg', 'yds/rec_avg',
       'yds/tar_avg', 'td_avg', 'tar_ma', 'rec_ma', 'yds_ma', 'yds/rec_ma',
       'yds/tar_ma', 'td_ma', 'tar_car', 'rec_car', 'yds_car', 'yds/rec_car',
       'yds/tar_car', 'td_car', 'surface_0', 'h/a_1', 'def_rk'],
      dtype='object')

In [50]:
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [51]:
coeff = pd.DataFrame(X_train.columns)
coeff['coefficients'] = lr.coef_
coeff

              0  coefficients
0         games     -0.009096
1      week_avg     -0.014900
2       tar_avg      0.003986
3       rec_avg     -0.044594
4       yds_avg      0.009448
5   yds/rec_avg     -0.060422
6   yds/tar_avg      0.079470
7        td_avg     -0.416345
8        tar_ma      0.010618
9        rec_ma      0.041677
10       yds_ma     -0.012744
11   yds/rec_ma      0.060777
12   yds/tar_ma     -0.070099
13        td_ma      0.824330
14      tar_car      0.329940
15      rec_car      1.075885
16      yds_car      0.046013
17  yds/rec_car      0.110232
18  yds/tar_car     -0.182818
19       td_car      1.733283
20    surface_0     -0.075116
21        h/a_1      0.192577
22       def_rk      0.051809

In [52]:
yhat = lr.predict(X_test)
yhat.shape

(140,)

In [53]:
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

rmse_val = rmse(yhat, y_test)
print("RMSE error is: " + str(rmse_val))

RMSE error is: 6.758641200129039

In [54]:
results = pd.DataFrame()
results['Name'] = test['Name']
results['Predicted'] = yhat
results['points']=test['points']
results

                    Name  Predicted  points
15830           AJ Green   1.214019    0.00
15831     Adam Humphries   6.163938    3.90
15832       Adam Thielen   7.225799    2.50
15833   Aldrick Robinson   3.656190    0.00
15834      Alex Erickson   5.449309   14.10
15835     Alshon Jeffery   5.502301    0.50
15836       Andre Holmes   9.280572   13.90
15837      Andre Roberts   8.178525   14.10
15838     Anthony Miller  11.410107    8.50
15839      Antonio Brown   1.658945    0.00
15840   Antonio Callaway   2.301615    3.20
15841        Austin Carr   6.869336   30.30
15842      Bennie Fowler   8.473062   19.10
15843      Brandin Cooks   8.521109    4.90
15844     Brandon LaFell   7.397416    4.00
15845   Brandon Marshall   8.157235    3.90
15846     Brandon Powell   9.341303    0.00
15847    Brandon Zylstra  11.342447   18.40
15848   Breshad Perriman   9.329334   13.90
15849       Cam Phillips  10.533797   11.50
15850   Cameron Meredith   7.614938    6.00
15851      Chad Williams   8.972442    0.00
15852      Charone Peake   7.908614   10.00
15853     Chester Rogers   3.034134    0.00
15854       Chris Conley   0.686514   21.12
15855       Chris Godwin   0.817480   -0.10
15856        Chris Hogan  12.579124    3.80
15857        Chris Moore  12.143623    6.60
15858     Christian Kirk  10.278116    0.00
15859          Cody Core   5.644990    0.00
...                  ...        ...     ...
15940  Quadree Henderson   0.803283    0.00
15941       Randall Cobb   0.449203    0.00
15942      Rashad Greene   1.822908    0.00
15943    Ray-Ray McCloud   5.766975   11.10
15944       Richie James   9.555130    4.60
15945   Rishard Matthews   7.088111    0.00
15946  Robert Tonyan Jr.  15.636038    4.00
15947       Robert Woods  14.501315   10.80
15948    Russell Shepard  13.911421   16.00
15949       Ryan Switzer  13.216547    7.30
15950      Sammie Coates  12.002988    2.10
15951      Sammy Watkins   9.825896   15.60
15952       Seth Roberts   7.352923    6.70
15953     Shelton Gibson   1.977854    0.00
15954       Stefon Diggs   4.027940    0.00
15955   Sterling Shepard   1.226962    1.40
15956        T.Y. Hilton  18.526927    6.60
15957     Taylor Gabriel   8.981666    6.10
15958        Tim Patrick   9.897606    4.20
15959     Tre'Quan Smith  11.377069   26.40
15960       Trent Taylor  13.111992    0.00
15961         Tyler Boyd  11.596743    8.70
15962      Tyler Lockett  12.231467    5.80
15963        Tyreek Hill   3.841105    0.00
15964  Victor Bolden Jr.   8.781708   11.60
15965      Vyncint Smith   9.278670   10.40
15966        Will Fuller   5.643283    0.60
15967       Willie Snead   5.951279   17.30
15968        Zach Pascal   6.004186    4.50
15969          Zay Jones   6.832642   11.50

[140 rows x 3 columns]

In [34]:
results.to_csv('2018_week1_wr.csv', index= False)