In [1]:
import pandas as pd
import numpy as np

In [4]:
qb = pd.read_csv('2018_week1_qb.csv')
rb = pd.read_csv('2018_week1_rb.csv')
wr = pd.read_csv('2018_week1_wr.csv')
te = pd.read_csv('2018_week1_te.csv')

In [26]:
qb.head()

           Player  Predicted
0   Aaron Rodgers  22.622505
1      Drew Brees  22.935390
2       Tom Brady  22.578469
3  Deshaun Watson  21.599166
4      Cam Newton  20.770403

In [30]:
te.rename(columns = {'Name':'Player'}, inplace=True)

In [31]:
te.head()

           Player  Predicted
0  Rob Gronkowski  11.514248
1    Travis Kelce   9.669162
2       Zach Ertz   8.973479
3      Greg Olsen   7.606909
4  Delanie Walker   7.566126

In [90]:
rb[rb['Player'] == 'Todd Gurley']

        Player  Predicted
0  Todd Gurley  18.561469

In [33]:
wr.rename(columns = {'Name':'Player'}, inplace=True)

In [34]:
df = pd.concat([qb,rb])
df = pd.concat([df,wr])
df= pd.concat([df,te])

In [39]:
df.reset_index(inplace=True, drop=True)

In [53]:
df[df['Player'] == 'Tom Brady']['Predicted'].values[0]

22.57846894086072

In [36]:
team1 = ['Tom Brady','Alex Collins','Kareem Hunt','Larry Fitzgerald','Ted Ginn Jr.','Kenny Stills','Travis Kelce','DeSean Jackson']
team2 = ['Drew Brees','James Conner','Kareem Hunt','A.J. Green','Chris Hogan','Sammy Watkins','Greg Olsen','Derrick Henry']
team3 = ['Philip Rivers','Kareem Hunt','C. McCaffrey','Keenan Allen','Michael Thomas','Mike Williams','Kyle Rudolph','Rex Burkhead']

In [77]:
total = 0
for player in team1:
    total

In [79]:
np.sum(total)

array([], dtype=float64)