In [1]:
import pandas as pd
import numpy as np
import json
from bs4 import BeautifulSoup
import requests
import re
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [2]:
from dk_weekly_update import DkWeeklyUpdate as dk

In [2]:
df = pd.read_csv('input/rb/rb_loc_cleaned.csv')
df['year'].unique()

array([2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)

In [6]:
def_2018 = pd.read_csv('input/def/fantasy-football-points-allowed-defense-by-position.csv')
def_2018.head()

,Rank,Name,Team,Position,Played,DraftKingsQuarterbackFantasyPointsAllowedAverage,DraftKingsRunningbackFantasyPointsAllowedAverage,DraftKingsWideReceiverFantasyPointsAllowedAverage,DraftKingsTightEndFantasyPointsAllowedAverage,DraftKingsKickerFantasyPointsAllowedAverage,DraftKingsFantasyPointsAllowedAverage
0,1,Baltimore Ravens,BAL,DST,7,14.60,14.57,32.21,11.77,2.57,75.73
1,2,Jacksonville Jaguars,JAX,DST,7,15.37,20.50,29.46,8.50,7.14,80.97
2,3,Dallas Cowboys,DAL,DST,7,17.29,22.43,29.70,10.64,4.00,84.06
3,4,Seattle Seahawks,SEA,DST,6,15.17,22.97,35.78,8.25,3.00,85.17
4,5,Tennessee Titans,TEN,DST,7,17.78,17.80,41.56,8.04,4.43,89.61

In [16]:
cols = df.columns.tolist()
cols = cols[6:7] + cols[-1:] + cols[:5] + cols[-2:-1] + cols[-3:-2] + cols[-4:-3] + cols[-6:-5] + cols[5:6] + cols[7:8] + cols[10:11] + cols[8:9]
df = df[cols]
df.head()

,games,year,Name,Opponent,Team,Week,att,yds,td,tar,rec_yds,def_rk,h/a_1,surface_0,points
0,1,2012,Adrian Peterson,JAX,MIN,1,17,84,2,1,3,30,1.0,0.0,21.7
1,1,2012,Ahmad Bradshaw,DAL,NYG,1,17,78,1,2,15,16,1.0,0.0,17.3
2,1,2012,Alfred Morris,NO,WAS,1,28,96,2,0,0,29,0.0,0.0,21.6
3,1,2012,Andre Brown,DAL,NYG,1,0,0,0,0,0,16,1.0,0.0,0.0
4,1,2012,Anthony Allen,CIN,BAL,1,4,13,0,0,0,27,1.0,1.0,1.3

In [18]:
df.sort_values(['year','Week'],inplace=True)
df.tail()

,games,year,Name,Opponent,Team,Week,att,yds,td,tar,rec_yds,def_rk,h/a_1,surface_0,points
12395,12,2018,Ty Montgomery,SF,GB,6,4,12,1,3,10,22,0.0,1.0,10.2
12396,6,2018,Tyler Ervin,BUF,HOU,6,0,0,0,0,0,18,1.0,0.0,0.0
12397,6,2018,Wayne Gallman,PHI,NYG,6,4,17,0,5,25,8,1.0,0.0,6.2
12398,6,2018,Wendell Smallwood,NYG,PHI,6,18,51,0,2,0,19,0.0,0.0,6.1
12420,22,2018,Kareem Hunt,NE,KC,6,10,80,0,6,105,21,0.0,0.0,32.5

In [27]:
wk7 = pd.read_csv('input/rb/wk7_rb.csv')

In [28]:
wk7.head()

,Rank,Name,Team,Position,Week,Opponent,RushingAttempts,RushingYards,RushingYardsPerAttempt,RushingTouchdowns,ReceivingTargets,Receptions,ReceivingYards,ReceivingTouchdowns,Fumbles,FumblesLost,FantasyPointsPerGameDraftKings,FantasyPointsDraftKings
0,1,Kareem Hunt,KC,RB,7,CIN,15,86,5.7,1,6,5,55,2,0,0,37.1,37.1
1,2,Marlon Mack,IND,RB,7,BUF,19,126,6.6,1,3,2,33,1,0,0,34.9,34.9
2,3,Todd Gurley,LAR,RB,7,SF,15,63,4.2,2,5,4,23,1,0,0,30.6,30.6
3,4,James White,NE,RB,7,CHI,11,40,3.6,0,10,8,57,2,0,0,29.7,29.7
4,5,Saquon Barkley,NYG,RB,7,ATL,14,43,3.1,1,10,9,51,0,0,0,26.4,26.4

In [10]:
location = pd.read_csv('../../git_temp/draftkings/input/location.csv')
location.tail()

            date  day  week home away  year
1638  2018-10-21  Sun     7  BAL   NO  2018
1639  2018-10-21  Sun     7   SF  LAR  2018
1640  2018-10-21  Sun     7  WAS  DAL  2018
1641  2018-10-21  Sun     7   KC  CIN  2018
1642  2018-10-22  Mon     7  ATL  NYG  2018

In [11]:
position_dict = {'qb':'DraftKingsQuarterbackFantasyPointsAllowedAverage',
                    'wr':'DraftKingsWideReceiverFantasyPointsAllowedAverage',
                    'rb':'DraftKingsRunningbackFantasyPointsAllowedAverage',
                    'te':'DraftKingsTightEndFantasyPointsAllowedAverage'}

team_dict = {'New England Patriots':'NE',
            'Green Bay Packers':'GB',
            'Tampa Bay Buccaneers':'TB',
            'Kansas City Chiefs':'KC',
            'San Diego Chargers':'SD',
            'St. Louis Rams':'STL',
            'New Orleans Saints':'NO',
            'New York Jets':'NYJ',
            'New York Giants':'NYG',
            'San Francisco 49ers':'SF',
            'Los Angeles Rams':'LAR',
            'Jacksonville Jaguars':'JAX',
            'Los Angeles Chargers':'LAC'}

In [135]:
rb_dict = {}
for player in df['Name'].unique():
    rb_dict[player] = df[df['Name']==player]
    rb_dict[player].sort_values(['year','Week'], inplace=True)
    rb_dict[player].reset_index(drop=True, inplace=True)
    rb_dict[player].reset_index(inplace=True)
    rb_dict[player].rename(columns={'index':'games'}, inplace=True)
    rb_dict[player]['games' ] = rb_dict[player]['games'] +1

C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\pandas\core\frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)
C:\Users\bobal\Anaconda2\envs\py36\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [70]:
temp = pd.concat(rb_dict)
temp.head()

               games         Name Opponent Team  Week  att  def_rk  games  \
Aaron Jones 0      1  Aaron Jones      CHI   GB     4   13      11      2
            1      2  Aaron Jones      DAL   GB     5   19       8      3
            2      3  Aaron Jones      MIN   GB     6   13       1      4
            3      4  Aaron Jones       NO   GB     7   17      17      5
            4      5  Aaron Jones      DET   GB     9    5      31      6

               h/a_1  points  rec_yds  surface_0  tar  td  yds  year
Aaron Jones 0    1.0    10.9      NaN        1.0    0   1   49  2017
            1    0.0    23.4      NaN        0.0    1   1  125  2017
            2    0.0     5.2      NaN        0.0    4   0   41  2017
            3    1.0    25.8      NaN        1.0    5   1  131  2017
            4    1.0     3.1      NaN        1.0    5   0   12  2017

In [72]:
rb = temp.reset_index(drop=True)
rb.shape

(11896, 16)

In [29]:
wk7.rename(columns ={
                      'RushingAttempts':'att',
                      'RushingYards':'yds',
                      'RushingTouchdowns':'td',
                      'ReceivingTargets':'tar',
                      'ReceivingYards': 'rec_yds',
                    'FumblesLost':'fum',
                      'FantasyPointsDraftKings':'points'},inplace=True)
wk7.columns

Index(['Rank', 'Name', 'Team', 'Position', 'Week', 'Opponent', 'att', 'yds',
       'RushingYardsPerAttempt', 'td', 'tar', 'Receptions', 'rec_yds',
       'ReceivingTouchdowns', 'Fumbles', 'fum',
       'FantasyPointsPerGameDraftKings', 'points'],
      dtype='object')

In [30]:
df.columns

Index(['games', 'year', 'Name', 'Opponent', 'Team', 'Week', 'att', 'yds', 'td',
       'tar', 'rec_yds', 'def_rk', 'h/a_1', 'surface_0', 'points'],
      dtype='object')

In [31]:
wk7.drop(['Receptions','RushingYardsPerAttempt', 'FantasyPointsPerGameDraftKings', 'Rank','Position', 'Fumbles','ReceivingTouchdowns','fum'],axis=1, inplace=True)
wk7.columns

Index(['Name', 'Team', 'Week', 'Opponent', 'att', 'yds', 'td', 'tar',
       'rec_yds', 'points'],
      dtype='object')

In [25]:
def_2018.head()

,Rank,Name,Team,Position,Played,DraftKingsQuarterbackFantasyPointsAllowedAverage,DraftKingsRunningbackFantasyPointsAllowedAverage,DraftKingsWideReceiverFantasyPointsAllowedAverage,DraftKingsTightEndFantasyPointsAllowedAverage,DraftKingsKickerFantasyPointsAllowedAverage,DraftKingsFantasyPointsAllowedAverage
0,1,Baltimore Ravens,BAL,DST,7,14.60,14.57,32.21,11.77,2.57,75.73
1,2,Jacksonville Jaguars,JAX,DST,7,15.37,20.50,29.46,8.50,7.14,80.97
2,3,Dallas Cowboys,DAL,DST,7,17.29,22.43,29.70,10.64,4.00,84.06
3,4,Seattle Seahawks,SEA,DST,6,15.17,22.97,35.78,8.25,3.00,85.17
4,5,Tennessee Titans,TEN,DST,7,17.78,17.80,41.56,8.04,4.43,89.61

In [24]:
wk7.head()

             Name Team  Week Opponent  att  yds%  td  tar  rec_yds  points
0     Kareem Hunt   KC     7      CIN   15    86   1    6       55    37.1
1     Marlon Mack  IND     7      BUF   19   126   1    3       33    34.9
2     Todd Gurley  LAR     7       SF   15    63   2    5       23    30.6
3     James White   NE     7      CHI   11    40   0   10       57    29.7
4  Saquon Barkley  NYG     7      ATL   14    43   1   10       51    26.4

In [62]:
df.shape

(13056, 15)

## Add Defensive Ranking

In [52]:
wk7 = add_defensive_rank(wk7, def_2018, 'rb')
wk7

,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,points,h/a_1,surface_0,def_rk
0,Kareem Hunt,KC,7,CIN,15,86,1,6,55,37.1,1.0,1.0,28
1,Marlon Mack,IND,7,BUF,19,126,1,3,33,34.9,1.0,0.0,21
2,Todd Gurley,LAR,7,SF,15,63,2,5,23,30.6,0.0,1.0,25
3,James White,NE,7,CHI,11,40,0,10,57,29.7,0.0,1.0,5
4,Saquon Barkley,NYG,7,ATL,14,43,1,10,51,26.4,0.0,0.0,30
5,Kerryon Johnson,DET,7,MIA,19,158,0,3,21,22.9,0.0,1.0,29
6,Latavius Murray,MIN,7,NYJ,15,69,2,2,14,22.3,0.0,0.0,16
7,Tarik Cohen,CHI,7,NE,6,14,0,13,69,22.3,1.0,1.0,20
8,Dion Lewis,TEN,7,LAC,13,91,0,6,64,21.5,0.0,1.0,17
9,Lamar Miller,HOU,7,JAX,22,100,1,3,-1,19.9,0.0,1.0,10
10,Kenyan Drake,MIA,7,DET,6,72,1,8,15,18.7,1.0,1.0,27
11,TJ Yeldon,JAX,7,HOU,12,28,0,7,40,17.8,1.0,1.0,14
12,Phillip Lindsay,DEN,7,ARI,14,90,1,1,6,16.6,0.0,1.0,32
13,Tevin Coleman,ATL,7,NYG,11,50,1,2,32,16.2,1.0,0.0,18
14,Kapri Bibbs,WAS,7,DAL,2,13,0,5,43,15.6,1.0,1.0,13
15,Alvin Kamara,NO,7,BAL,17,64,1,2,11,15.5,0.0,1.0,1
16,Derrick Henry,TEN,7,LAC,12,33,1,2,32,14.5,0.0,1.0,17
17,Nick Chubb,CLE,7,TB,18,80,1,2,0,14.0,0.0,1.0,23
18,Christian McCaffrey,CAR,7,PHI,7,29,0,6,51,14.0,0.0,1.0,8
19,Chris Ivory,BUF,7,IND,16,81,0,6,25,13.6,0.0,0.0,19
20,Marcus Murphy,BUF,7,IND,4,53,0,6,17,12.0,0.0,0.0,19
21,Spencer Ware,KC,7,CIN,8,59,0,3,30,11.9,1.0,1.0,28
22,Jordan Howard,CHI,7,NE,12,39,1,1,9,11.8,1.0,1.0,20
23,Raheem Mostert,SF,7,LAR,7,59,0,4,19,11.8,1.0,1.0,12
24,Austin Ekeler,LAC,7,TEN,12,42,0,7,26,11.8,1.0,1.0,3
25,Adrian Peterson,WAS,7,DAL,24,99,0,2,8,11.7,1.0,1.0,13
26,Trenton Cannon,NYJ,7,MIN,2,4,0,5,69,11.3,1.0,0.0,6
27,LeGarrette Blount,DET,7,MIA,10,50,1,0,0,11.0,0.0,1.0,29
28,David Johnson,ARI,7,DEN,14,39,0,3,31,10.0,1.0,1.0,26
29,Ronald Jones II,TB,7,CLE,6,13,1,1,15,9.8,1.0,1.0,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,Mike Boone,MIN,7,NYJ,4,4,0,1,0,0.4,0.0,0.0,16
67,David Fluellen,TEN,7,LAC,1,2,0,0,0,0.2,0.0,1.0,17
68,David Williams,JAX,7,HOU,1,2,0,0,0,0.2,1.0,1.0,14
69,Samaje Perine,WAS,7,DAL,2,2,0,0,0,0.2,1.0,1.0,13
70,Elijhaa Penny,NYG,7,ATL,1,2,0,0,0,0.2,0.0,0.0,30
71,LeSean McCoy,BUF,7,IND,2,1,0,0,0,0.1,0.0,0.0,19
72,Derrick Coleman,ARI,7,DEN,0,0,0,0,0,0.0,1.0,1.0,26
73,Andy Janovich,DEN,7,ARI,0,0,0,0,0,0.0,0.0,1.0,32
74,Derek Watt,LAC,7,TEN,0,0,0,0,0,0.0,1.0,1.0,3
75,Detrez Newsome,LAC,7,TEN,0,0,0,0,0,0.0,1.0,1.0,3
76,James Develin,NE,7,CHI,0,0,0,1,0,0.0,0.0,1.0,5
77,Benjamin Cunningham,CHI,7,NE,0,0,0,0,0,0.0,1.0,1.0,20
78,Patrick DiMarco,BUF,7,IND,0,0,0,0,0,0.0,0.0,0.0,19
79,Anthony Sherman,KC,7,CIN,0,0,0,0,0,0.0,1.0,1.0,28
80,Damien Williams,KC,7,CIN,0,0,0,0,0,0.0,1.0,1.0,28
81,Nick Bellore,DET,7,MIA,0,0,0,0,0,0.0,0.0,1.0,29
82,Brandon Bolden,MIA,7,DET,0,0,0,0,0,0.0,1.0,1.0,27
83,Senorise Perry,MIA,7,DET,0,0,0,0,0,0.0,1.0,1.0,27
84,Kalen Ballage,MIA,7,DET,0,0,0,0,0,0.0,1.0,1.0,27
85,CJ Ham,MIN,7,NYJ,0,0,0,0,0,0.0,0.0,0.0,16
86,CJ Anderson,CAR,7,PHI,0,0,0,0,0,0.0,0.0,1.0,8
87,Alex Armah,CAR,7,PHI,0,0,0,0,0,0.0,0.0,1.0,8
88,Dontrell Hilliard,CLE,7,TB,0,0,0,0,0,0.0,0.0,1.0,23
89,Gregory Howell Jr.,HOU,7,JAX,0,0,0,0,0,0.0,0.0,1.0,10
90,Zach Line,NO,7,BAL,0,0,0,0,0,0.0,0.0,1.0,1
91,Patrick Ricard,BAL,7,NO,0,0,0,0,0,0.0,1.0,1.0,4
92,Gus Edwards,BAL,7,NO,2,0,0,0,0,0.0,1.0,1.0,4
93,Jamize Olawale,DAL,7,WAS,0,0,0,0,0,0.0,0.0,1.0,9
94,Rod Smith,DAL,7,WAS,0,0,0,0,0,0.0,0.0,1.0,9
95,Wayne Gallman,NYG,7,ATL,0,0,0,0,0,0.0,0.0,0.0,30

In [32]:
loc = location[location['year']==2018]
loc = loc[loc['week']==7]
loc.shape

(14, 6)

## Home or Away

In [37]:
list(loc['home'])

['ARI',
 'LAC',
 'CHI',
 'MIA',
 'PHI',
 'IND',
 'NYJ',
 'JAX',
 'TB',
 'BAL',
 'SF',
 'WAS',
 'KC',
 'ATL']

In [38]:
loc_wk = {}
home_lst = []
for week in loc['week'].unique():
    loc_wk[week]  = loc[loc['week']==week]
for idx, team in enumerate(wk7['Team']):
    if team in list(loc['home']):
        home_lst.append('home')           
    else:
        home_lst.append('away')
wk7['h/a'] = home_lst

In [39]:
wk7

,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,points,h/a
0,Kareem Hunt,KC,7,CIN,15,86,1,6,55,37.1,home
1,Marlon Mack,IND,7,BUF,19,126,1,3,33,34.9,home
2,Todd Gurley,LAR,7,SF,15,63,2,5,23,30.6,away
3,James White,NE,7,CHI,11,40,0,10,57,29.7,away
4,Saquon Barkley,NYG,7,ATL,14,43,1,10,51,26.4,away
5,Kerryon Johnson,DET,7,MIA,19,158,0,3,21,22.9,away
6,Latavius Murray,MIN,7,NYJ,15,69,2,2,14,22.3,away
7,Tarik Cohen,CHI,7,NE,6,14,0,13,69,22.3,home
8,Dion Lewis,TEN,7,LAC,13,91,0,6,64,21.5,away
9,Lamar Miller,HOU,7,JAX,22,100,1,3,-1,19.9,away
10,Kenyan Drake,MIA,7,DET,6,72,1,8,15,18.7,home
11,TJ Yeldon,JAX,7,HOU,12,28,0,7,40,17.8,home
12,Phillip Lindsay,DEN,7,ARI,14,90,1,1,6,16.6,away
13,Tevin Coleman,ATL,7,NYG,11,50,1,2,32,16.2,home
14,Kapri Bibbs,WAS,7,DAL,2,13,0,5,43,15.6,home
15,Alvin Kamara,NO,7,BAL,17,64,1,2,11,15.5,away
16,Derrick Henry,TEN,7,LAC,12,33,1,2,32,14.5,away
17,Nick Chubb,CLE,7,TB,18,80,1,2,0,14.0,away
18,Christian McCaffrey,CAR,7,PHI,7,29,0,6,51,14.0,away
19,Chris Ivory,BUF,7,IND,16,81,0,6,25,13.6,away
20,Marcus Murphy,BUF,7,IND,4,53,0,6,17,12.0,away
21,Spencer Ware,KC,7,CIN,8,59,0,3,30,11.9,home
22,Jordan Howard,CHI,7,NE,12,39,1,1,9,11.8,home
23,Raheem Mostert,SF,7,LAR,7,59,0,4,19,11.8,home
24,Austin Ekeler,LAC,7,TEN,12,42,0,7,26,11.8,home
25,Adrian Peterson,WAS,7,DAL,24,99,0,2,8,11.7,home
26,Trenton Cannon,NYJ,7,MIN,2,4,0,5,69,11.3,home
27,LeGarrette Blount,DET,7,MIA,10,50,1,0,0,11.0,away
28,David Johnson,ARI,7,DEN,14,39,0,3,31,10.0,home
29,Ronald Jones II,TB,7,CLE,6,13,1,1,15,9.8,home
...,...,...,...,...,...,...,...,...,...,...,...
66,Mike Boone,MIN,7,NYJ,4,4,0,1,0,0.4,away
67,David Fluellen,TEN,7,LAC,1,2,0,0,0,0.2,away
68,David Williams,JAX,7,HOU,1,2,0,0,0,0.2,home
69,Samaje Perine,WAS,7,DAL,2,2,0,0,0,0.2,home
70,Elijhaa Penny,NYG,7,ATL,1,2,0,0,0,0.2,away
71,LeSean McCoy,BUF,7,IND,2,1,0,0,0,0.1,away
72,Derrick Coleman,ARI,7,DEN,0,0,0,0,0,0.0,home
73,Andy Janovich,DEN,7,ARI,0,0,0,0,0,0.0,away
74,Derek Watt,LAC,7,TEN,0,0,0,0,0,0.0,home
75,Detrez Newsome,LAC,7,TEN,0,0,0,0,0,0.0,home
76,James Develin,NE,7,CHI,0,0,0,1,0,0.0,away
77,Benjamin Cunningham,CHI,7,NE,0,0,0,0,0,0.0,home
78,Patrick DiMarco,BUF,7,IND,0,0,0,0,0,0.0,away
79,Anthony Sherman,KC,7,CIN,0,0,0,0,0,0.0,home
80,Damien Williams,KC,7,CIN,0,0,0,0,0,0.0,home
81,Nick Bellore,DET,7,MIA,0,0,0,0,0,0.0,away
82,Brandon Bolden,MIA,7,DET,0,0,0,0,0,0.0,home
83,Senorise Perry,MIA,7,DET,0,0,0,0,0,0.0,home
84,Kalen Ballage,MIA,7,DET,0,0,0,0,0,0.0,home
85,CJ Ham,MIN,7,NYJ,0,0,0,0,0,0.0,away
86,CJ Anderson,CAR,7,PHI,0,0,0,0,0,0.0,away
87,Alex Armah,CAR,7,PHI,0,0,0,0,0,0.0,away
88,Dontrell Hilliard,CLE,7,TB,0,0,0,0,0,0.0,away
89,Gregory Howell Jr.,HOU,7,JAX,0,0,0,0,0,0.0,away
90,Zach Line,NO,7,BAL,0,0,0,0,0,0.0,away
91,Patrick Ricard,BAL,7,NO,0,0,0,0,0,0.0,home
92,Gus Edwards,BAL,7,NO,2,0,0,0,0,0.0,home
93,Jamize Olawale,DAL,7,WAS,0,0,0,0,0,0.0,away
94,Rod Smith,DAL,7,WAS,0,0,0,0,0,0.0,away
95,Wayne Gallman,NYG,7,ATL,0,0,0,0,0,0.0,away

## Surface

In [40]:
surface_dict={'KC':'grass',
             'CAR':'grass',
              'WAS':'grass',
              'CLE':'grass',
              'MIA':'grass',
              'PIT':'grass',
              'GB':'grass',
              'SF':'grass',
              'PHI':'grass',
              'LAR':'grass',
              'BAL': 'grass',
              'TEN':'grass',
              'OAK':'grass',
              'LAC':'grass',
              'TB':'grass',
              'CHI':'grass',
              'DEN':'grass',
              'ARI':'grass',
              'DAL':'turf',
              'SEA':'turf',
              'DET':'turf',
              'ATL':'turf',
              'NE':'turf',
              'IND':'turf',
              'NO':'turf',
              'NYG':'turf',
              'NYJ':'turf',
              'HOU':'turf',
              'BUF':'turf',
              'CIN':'turf',
              'MIN':'turf',
              'JAX':'grass'
              
             }

In [41]:
wk7.index = wk7['Team']

# Add the type of field the player palyed on by mapping the field on which the game was played to the surface dictionary

surface = []
for idx, team in enumerate(wk7['Team']):
    if wk7.iloc[idx]['h/a']=='home':
        surface.append(surface_dict[team])
    else:
        surface.append(surface_dict[wk7.iloc[idx]['Opponent']])


wk7['surface'] = surface

In [42]:
wk7.columns

Index(['Name', 'Team', 'Week', 'Opponent', 'att', 'yds', 'td', 'tar',
       'rec_yds', 'points', 'h/a', 'surface'],
      dtype='object')

In [43]:
wk7.head()

,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,points,h/a,surface
Team,,,,,,,,,,,,
KC,Kareem Hunt,KC,7,CIN,15,86,1,6,55,37.1,home,grass
IND,Marlon Mack,IND,7,BUF,19,126,1,3,33,34.9,home,turf
LAR,Todd Gurley,LAR,7,SF,15,63,2,5,23,30.6,away,grass
NE,James White,NE,7,CHI,11,40,0,10,57,29.7,away,grass
NYG,Saquon Barkley,NYG,7,ATL,14,43,1,10,51,26.4,away,turf

## Encode

In [46]:
wk7 = one_hot(wk7)

In [47]:
wk7.drop(['h/a_0','surface_1','surface','h/a','surface_encoded','h/a_encoded'], axis=1, inplace=True)
wk7.shape

(96, 12)

In [48]:
wk7.columns

Index(['Name', 'Team', 'Week', 'Opponent', 'att', 'yds', 'td', 'tar',
       'rec_yds', 'points', 'h/a_1', 'surface_0'],
      dtype='object')

In [55]:
rb.shape

(12405, 15)

In [56]:
rb.head()

,games,year,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,def_rk,h/a_1,surface_0,points
0,1,2012,Adrian Peterson,MIN,1,JAX,17,84,2,1,3,30,1.0,0.0,21.7
1,1,2012,Ahmad Bradshaw,NYG,1,DAL,17,78,1,2,15,16,1.0,0.0,17.3
2,1,2012,Alfred Morris,WAS,1,NO,28,96,2,0,0,29,0.0,0.0,21.6
3,1,2012,Andre Brown,NYG,1,DAL,0,0,0,0,0,16,1.0,0.0,0.0
4,1,2012,Anthony Allen,BAL,1,CIN,4,13,0,0,0,27,1.0,1.0,1.3

## Games

In [53]:
games_lst = []
temp = wk7.set_index('Name')
for name in temp.index:
    if name in list(df['Name'].unique()):
        games_lst.append(df[df['Name']==name]['games'].max()+1)
    else:
        games_lst.append(1)

In [54]:
wk7['games'] = games_lst

In [55]:
wk7

,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,points,h/a_1,surface_0,def_rk,games
0,Kareem Hunt,KC,7,CIN,15,86,1,6,55,37.1,1.0,1.0,28,23
1,Marlon Mack,IND,7,BUF,19,126,1,3,33,34.9,1.0,0.0,21,3
2,Todd Gurley,LAR,7,SF,15,63,2,5,23,30.6,0.0,1.0,25,20
3,James White,NE,7,CHI,11,40,0,10,57,29.7,0.0,1.0,5,30
4,Saquon Barkley,NYG,7,ATL,14,43,1,10,51,26.4,0.0,0.0,30,7
5,Kerryon Johnson,DET,7,MIA,19,158,0,3,21,22.9,0.0,1.0,29,6
6,Latavius Murray,MIN,7,NYJ,15,69,2,2,14,22.3,0.0,0.0,16,68
7,Tarik Cohen,CHI,7,NE,6,14,0,13,69,22.3,1.0,1.0,20,6
8,Dion Lewis,TEN,7,LAC,13,91,0,6,64,21.5,0.0,1.0,17,23
9,Lamar Miller,HOU,7,JAX,22,100,1,3,-1,19.9,0.0,1.0,10,97
10,Kenyan Drake,MIA,7,DET,6,72,1,8,15,18.7,1.0,1.0,27,7
11,TJ Yeldon,JAX,7,HOU,12,28,0,7,40,17.8,1.0,1.0,14,19
12,Phillip Lindsay,DEN,7,ARI,14,90,1,1,6,16.6,0.0,1.0,32,7
13,Tevin Coleman,ATL,7,NYG,11,50,1,2,32,16.2,1.0,0.0,18,19
14,Kapri Bibbs,WAS,7,DAL,2,13,0,5,43,15.6,1.0,1.0,13,5
15,Alvin Kamara,NO,7,BAL,17,64,1,2,11,15.5,0.0,1.0,1,6
16,Derrick Henry,TEN,7,LAC,12,33,1,2,32,14.5,0.0,1.0,17,7
17,Nick Chubb,CLE,7,TB,18,80,1,2,0,14.0,0.0,1.0,23,7
18,Christian McCaffrey,CAR,7,PHI,7,29,0,6,51,14.0,0.0,1.0,8,6
19,Chris Ivory,BUF,7,IND,16,81,0,6,25,13.6,0.0,0.0,19,89
20,Marcus Murphy,BUF,7,IND,4,53,0,6,17,12.0,0.0,0.0,19,17
21,Spencer Ware,KC,7,CIN,8,59,0,3,30,11.9,1.0,1.0,28,20
22,Jordan Howard,CHI,7,NE,12,39,1,1,9,11.8,1.0,1.0,20,6
23,Raheem Mostert,SF,7,LAR,7,59,0,4,19,11.8,1.0,1.0,12,18
24,Austin Ekeler,LAC,7,TEN,12,42,0,7,26,11.8,1.0,1.0,3,7
25,Adrian Peterson,WAS,7,DAL,24,99,0,2,8,11.7,1.0,1.0,13,53
26,Trenton Cannon,NYJ,7,MIN,2,4,0,5,69,11.3,1.0,0.0,6,7
27,LeGarrette Blount,DET,7,MIA,10,50,1,0,0,11.0,0.0,1.0,29,93
28,David Johnson,ARI,7,DEN,14,39,0,3,31,10.0,1.0,1.0,26,23
29,Ronald Jones II,TB,7,CLE,6,13,1,1,15,9.8,1.0,1.0,24,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,Mike Boone,MIN,7,NYJ,4,4,0,1,0,0.4,0.0,0.0,16,5
67,David Fluellen,TEN,7,LAC,1,2,0,0,0,0.2,0.0,1.0,17,5
68,David Williams,JAX,7,HOU,1,2,0,0,0,0.2,1.0,1.0,14,1
69,Samaje Perine,WAS,7,DAL,2,2,0,0,0,0.2,1.0,1.0,13,2
70,Elijhaa Penny,NYG,7,ATL,1,2,0,0,0,0.2,0.0,0.0,30,3
71,LeSean McCoy,BUF,7,IND,2,1,0,0,0,0.1,0.0,0.0,19,92
72,Derrick Coleman,ARI,7,DEN,0,0,0,0,0,0.0,1.0,1.0,26,46
73,Andy Janovich,DEN,7,ARI,0,0,0,0,0,0.0,0.0,1.0,32,7
74,Derek Watt,LAC,7,TEN,0,0,0,0,0,0.0,1.0,1.0,3,7
75,Detrez Newsome,LAC,7,TEN,0,0,0,0,0,0.0,1.0,1.0,3,4
76,James Develin,NE,7,CHI,0,0,0,1,0,0.0,0.0,1.0,5,70
77,Benjamin Cunningham,CHI,7,NE,0,0,0,0,0,0.0,1.0,1.0,20,82
78,Patrick DiMarco,BUF,7,IND,0,0,0,0,0,0.0,0.0,0.0,19,88
79,Anthony Sherman,KC,7,CIN,0,0,0,0,0,0.0,1.0,1.0,28,98
80,Damien Williams,KC,7,CIN,0,0,0,0,0,0.0,1.0,1.0,28,71
81,Nick Bellore,DET,7,MIA,0,0,0,0,0,0.0,0.0,1.0,29,6
82,Brandon Bolden,MIA,7,DET,0,0,0,0,0,0.0,1.0,1.0,27,91
83,Senorise Perry,MIA,7,DET,0,0,0,0,0,0.0,1.0,1.0,27,55
84,Kalen Ballage,MIA,7,DET,0,0,0,0,0,0.0,1.0,1.0,27,3
85,CJ Ham,MIN,7,NYJ,0,0,0,0,0,0.0,0.0,0.0,16,7
86,CJ Anderson,CAR,7,PHI,0,0,0,0,0,0.0,0.0,1.0,8,70
87,Alex Armah,CAR,7,PHI,0,0,0,0,0,0.0,0.0,1.0,8,6
88,Dontrell Hilliard,CLE,7,TB,0,0,0,0,0,0.0,0.0,1.0,23,2
89,Gregory Howell Jr.,HOU,7,JAX,0,0,0,0,0,0.0,0.0,1.0,10,6
90,Zach Line,NO,7,BAL,0,0,0,0,0,0.0,0.0,1.0,1,28
91,Patrick Ricard,BAL,7,NO,0,0,0,0,0,0.0,1.0,1.0,4,6
92,Gus Edwards,BAL,7,NO,2,0,0,0,0,0.0,1.0,1.0,4,2
93,Jamize Olawale,DAL,7,WAS,0,0,0,0,0,0.0,0.0,1.0,9,86
94,Rod Smith,DAL,7,WAS,0,0,0,0,0,0.0,0.0,1.0,9,18
95,Wayne Gallman,NYG,7,ATL,0,0,0,0,0,0.0,0.0,0.0,30,7

## Reshape

In [58]:
wk7['year']=2018

In [63]:
cols = df.columns.tolist()
cols = cols[:3] + cols[4:6] + cols[3:4] + cols[6:]
df= df[cols]
df.head()

,games,year,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,def_rk,h/a_1,surface_0,points
0,1,2012,Adrian Peterson,MIN,1,JAX,17,84,2,1,3,30,1.0,0.0,21.7
1,1,2012,Ahmad Bradshaw,NYG,1,DAL,17,78,1,2,15,16,1.0,0.0,17.3
2,1,2012,Alfred Morris,WAS,1,NO,28,96,2,0,0,29,0.0,0.0,21.6
3,1,2012,Andre Brown,NYG,1,DAL,0,0,0,0,0,16,1.0,0.0,0.0
4,1,2012,Anthony Allen,BAL,1,CIN,4,13,0,0,0,27,1.0,1.0,1.3

In [64]:
cols = wk7.columns.tolist()
cols = cols[-2:] + cols[:9] + cols[-3:-2] + cols[10:12] +cols[-6:-5]
wk7 = wk7[cols]
wk7.head()

,games,year,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,def_rk,h/a_1,surface_0,points
0,23,2018,Kareem Hunt,KC,7,CIN,15,86,1,6,55,28,1.0,1.0,37.1
1,3,2018,Marlon Mack,IND,7,BUF,19,126,1,3,33,21,1.0,0.0,34.9
2,20,2018,Todd Gurley,LAR,7,SF,15,63,2,5,23,25,0.0,1.0,30.6
3,30,2018,James White,NE,7,CHI,11,40,0,10,57,5,0.0,1.0,29.7
4,7,2018,Saquon Barkley,NYG,7,ATL,14,43,1,10,51,30,0.0,0.0,26.4

## Concatenate

In [65]:
rb = pd.concat([df,wk7])
rb.shape

(12517, 15)

In [66]:
rb.tail()

,games,year,Name,Team,Week,Opponent,att,yds,td,tar,rec_yds,def_rk,h/a_1,surface_0,points
91,6,2018,Patrick Ricard,BAL,7,NO,0,0,0,0,0,4,1.0,1.0,0.0
92,2,2018,Gus Edwards,BAL,7,NO,2,0,0,0,0,4,1.0,1.0,0.0
93,86,2018,Jamize Olawale,DAL,7,WAS,0,0,0,0,0,9,0.0,1.0,0.0
94,18,2018,Rod Smith,DAL,7,WAS,0,0,0,0,0,9,0.0,1.0,0.0
95,7,2018,Wayne Gallman,NYG,7,ATL,0,0,0,0,0,30,0.0,0.0,0.0

In [67]:
rb.to_csv('input/rb/rb_loc_cleaned.csv', index=False)

In [93]:
# Parse upcoming week file by position

def clean_current(csv):# Read in files

    df_upcoming = pd.read_csv(csv)
    def_2018 = pd.read_csv('input/def/fantasy-football-points-allowed-defense-by-position.csv')

    # Obtain home and away attributes
    df_upcoming['year']=2018
    df_upcoming['home'] = df_upcoming['Game Info'].apply(lambda x: (x.split('@')[1]).split()[0])
    df_upcoming['away'] = df_upcoming['Game Info'].apply(lambda x: (x.split('@')[0]))

    rb = []
    wr = []
    te = []
    qb= []
    for idx,pos in enumerate(df_upcoming['Position']):
        if pos == 'RB':
            rb.append(idx)
        elif pos =='WR':
            wr.append(idx)
        elif pos =='TE':
            te.append(idx)
        elif pos =='QB':
            qb.append(idx)


    # Sort current week dataframe

    qb_df = df_upcoming.iloc[qb]
    rb_df = df_upcoming.iloc[rb]
    wr_df = df_upcoming.iloc[wr]
    te_df = df_upcoming.iloc[te]
    
    return qb_df,wr_df,te_df, rb_df

In [49]:
# Prepare defense dataframe by sorting by relevant attribute reseting the indexand using rank as the reset dataframe index +1

def add_defensive_rank(df, df1, position):
    df1.sort_values(position_dict[position], inplace=True)
    df1.reset_index(inplace=True, drop=True)
    df1['Rank']= df1.index+1
    df1.index=df1['Team']

# Map defensive rnking to eack player in the statist  ical dataframe 

    df['def_rk'] = list(map(lambda x: df1.loc[x]['Rank'], df['Opponent']))
    
    return df

In [50]:
# A function designed to add the Draftkings fantasy football salary to every players statistics dataframe

def add_salary(df,df2):
    df = df.sort_values(['Week','PlayerID'])
    df = df.drop(['FantasyPointsPerGameDraftKings','Rank','Position'], axis=1)
    df.reset_index(inplace=True, drop=True)
    df2 = df2.sort_values(['Week','PlayerID'])
    df2 = df2.drop(['Rank','Position'], axis=1)
    df2.reset_index(inplace=True, drop=True)
    df['salary'] = df2['DraftKingsSalary']
    
    return df

In [45]:
# One hot encode all non numeric attributes


def one_hot(df):
    df.reset_index(inplace=True, drop=True)
    encoder = LabelEncoder()
    df['h/a_encoded'] = encoder.fit_transform(df['h/a'])
    df['surface_encoded'] = encoder.fit_transform(df['surface'])


    home =OneHotEncoder()
    surface = OneHotEncoder()

    X = home.fit_transform(df['h/a_encoded'].values.reshape(-1,1)).toarray()
    Xs = surface.fit_transform(df['surface_encoded'].values.reshape(-1,1)).toarray()

    dfOneHot = pd.DataFrame(X, columns = ["h/a_"+str(int(i)) for i in range(X.shape[1])])
    df = pd.concat([df, dfOneHot], axis=1)


    dfOneHot = pd.DataFrame(Xs, columns = ['surface_'+str(int(i)) for i in range(Xs.shape[1])])
    df = pd.concat([df, dfOneHot], axis=1)

    return df

In [97]:
csv = 'input/qb/DKSalaries.csv'
qb7, wr7, te7, rb7 = clean_current(csv)